<html><br>
Monsieur <strong><%= artisan.representant.nom %></strong>,<br>
Suite à notre conversation téléphonique,<br>
Nous vous prions de bien vouloir intervenir auprès de notre client :<br>
<br>
<strong>
<%= client.civilite  + " " + client.nom + " " + client.prenom%><br>
Tél. <%= client.telephone.tel1 %><%= client.telephone.tel2 ?  (" / " + client.telephone.tel2) : ""%><br>
<%= client.address.n + " " + client.address.r %><br>
<%= client.address.cp + ", " + client.address.v %><br>
</strong>
<br>
Les coordonnées et la description de l'intervention sont détaillées dans l'ordre de service que vous trouverez en pièce jointe. <br>
<br>
Nous attirons votre attention sur le fait qu'il est important et nécessaire de prendre contact directement avce notre client dès la réception de cet ordre de service. <br>
<br>
Vous trouverez ci-joint :<br>
une description étape par étape de notre mode de fonctionnement<br>
le manuel pour la réalisation des factures et des devis<br>
un devis et une facture vierge numéroté à remplir obligatoirement<br>
<br>
N'hésitez pas à joindre le Service Intervention d'EDISON Services, si vous avez des questions ou des informations à nous transmettre. <br>
<br>
Cordialement, <br>
<br>
Edison Services S.A.R.L<br>
Dépannage - Entretien - Installation - Rénovation<br>
Tél. 09.72.40.37.94<br>
Fax. 09.72.39.33.46<br>
<br>
www.edison-services.fr<br>
contact@edison-services.fr<br>
</html>