<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <style type="text/css">
        .cx-panel {
            height: 2.5cm;
            padding: 10px;
            border: 1px dashed black;
            overflow: hidden;
        }

        .condition-container {
            padding-left: 0.5cm;
            padding-right: 0.5cm;
        }

        .conditions-panel-code {
            height: 598px;
        }

        .conditions-code-left {
            float: left;
            width: 50%;
            height: 99%;
        }

        .conditions-code-right {
            float: left;
            width: 50%;
            height: 99%;
        }

        .conditions-panel-code-sub {
            margin-top: -10px;
            padding: 5px;
            padding-top: 0px;
            border: 0px solid black;
            height: 100%;
            line-height: 9px;
        }

        .conditions-code-md {
            font-size: 8.5px;
        }

        .conditions-code-sm {
            font-size: 8px;
        }

        .conditions-panel {
            height: 176px;
        }

        .conditions-bordereau {
            font-size: 9px;
        }

        .conditions-signature-bordereau {
            font-size: 7px;
            margin-top: 11px;
            padding-top: 5px;
            float: right;
            width: 180px;
            height: 65px;
            border: 1px solid black;
        }

        .conditions-scissors {
            border-bottom: dotted 1px !important;
            margin-left: -200px;
            width: 1000px;
        }

        .conditions-border {
            height: 1006px;
        }
    </style>
</head>

<body>
    <page size="A4" type="conditions">
        <div class="container condition-container" style="padding-left: 0.5cm; padding-right: 0.5cm;">
            <div class="panel-title">
                <div class="corner-left"></div>
                <h2>CODE DE LA CONSOMMATION</h2>
            </div>
            <div class="spacer-xxs"></div>
            <div class="panel cx-panel conditions-panel-code">
                <div class="conditions-code-left">
                    <div class="cx-panel conditions-panel-code-sub">
                        <p class="conditions-code-md justify">
                            <strong>Article L121-21</strong>
                            <br> Créé par <u>Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993</u>
                            <br> Est soumis aux dispositions de la présente section quiconque pratique ou fait pratiquer le démarchage, au domicile d'une personne physique, à sa résidence ou à son lieu de travail, même à sa demande, afin de lui proposer l'achat, la vente, la location, la location-vente ou la location avec option d'achat de biens ou la fourniture de services.
                            <br> Est également soumis aux dispositions de la présente section le démarchage dans les lieux non destinés à la commercialisation du bien ou du service proposé et notamment l'organisation par un commerçant ou à son profit de réunions ou d'excursions afin de réaliser les opérations définies à l'alinéa précédent.
                            <br> <strong>Article L121-22</strong>
                            <br> Modifié par <u>Loi n°95-96 du 1 février 1995 - art. 7 JORF 2 février 1995</u>
                            <br> Ne sont pas soumises aux dispositions des articles L. 121-23 à L. 121-29 les activités pour lesquelles le démarchage fait l'objet d'une réglementation par un texte législatif particulier.
                            <br> Ne sont pas soumis aux dispositions des articles L. 121-23 à L. 121-28 :
                            <br> 1° Les ventes à domicile de denrées ou de produits de consommation courante faites par des professionnels ou leurs préposés au cours de tournées fréquentes ou périodiques dans l'agglomération où est installé leur établissement ou dans son voisinage ;
                            <br> 2° et 3° (paragraphes abrogés) ;
                            <br> 4° Les ventes, locations ou locations-ventes de biens ou les prestations de services lorsqu'elles ont un rapport direct avec les activités exercées dans le cadre d'une exploitation agricole, industrielle, commerciale ou artisanale ou de toute autre profession.
                            <br> <strong>Article L121-23</strong>
                            <br> Créé par Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993 Les opérations visées à l'article L. 121-21 doivent faire l'objet d'un contrat dont un exemplaire doit être remis au client au moment de la conclusion de ce contrat et comporter, à peine de nullité, les mentions suivantes :
                            <br> 1° Noms du fournisseur et du démarcheur ;
                            <br> 2° Adresse du fournisseur ;
                            <br> 3° Adresse du lieu de conclusion du contrat ;
                            <br> 4° Désignation précise de la nature et des caractéristiques des biens offerts ou des services proposés ;
                            <br> 5° Conditions d'exécution du contrat, notamment les modalités et le délai de livraison des biens, ou d'exécution de la prestation de services ;
                            <br> 6° Prix global à payer et modalités de paiement ; en cas de vente à tempérament ou de vente à crédit, les formes exigées par la réglementation sur la vente à crédit, ainsi que le taux nominal de l'intérêt et le taux effectif global de l'intérêt déterminé dans les conditions prévues à l'article L. 313-1 ;
                            <br> 7° Faculté de renonciation prévue à l'article L. 121-25, ainsi que les conditions d'exercice de cette faculté et, de façon apparente, le texte intégral des articles L. 121-23, L. 121-24, L. 121-25 et L. 121-26.
                            <br> <strong>Article L121-24</strong>
                            <br> Créé par <u>Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993</u>
                            <br> Le contrat visé à l'article L. 121-23 doit comprendre un formulaire détachable destiné à faciliter l'exercice de la faculté de renonciation dans les conditions prévues à l'article L. 121-25. Un décret en Conseil d'Etat précisera les mentions devant figurer sur ce formulaire.
                            <br> Ce contrat ne peut comporter aucune clause attributive de compétence.
                            <br> Tous les exemplaires du contrat doivent être signés et datés de la main même du client.
                            <br> <strong>Article L121-25</strong>
                            <br> Créé par <u>Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993</u>
                            <br> Dans les sept jours, jours fériés compris, à compter de la commande ou de l'engagement d'achat, le client a la faculté d'y renoncer par lettre recommandée avec accusé de réception. Si ce délai expire normalement un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.
                            <br> Toute clause du contrat par laquelle le client abandonne son droit de renoncer à sa commande ou à son engagement d'achat est nulle et non avenue.
                            <br> Le présent article ne s'applique pas aux contrats conclus dans les conditions prévues à l'article L. 121-27.
                            <br> <strong>Article L121-26</strong>
                            <br> Modifié par <u>Loi n°2005-841 du 26 juillet 2005 - art. 4 JORF 27 juillet 2005</u>
                            <br> Avant l'expiration du délai de réflexion prévu à l'article L. 121-25, nul ne peut exiger 
                        </p>
                    </div>
                </div>
                <div class="conditions-code-right">
                    <div class="cx-panel conditions-panel-code-sub">
                        <p class="conditions-code-md justify">
                            ou obtenir du client, directement ou indirectement, à quelque titre ni sous quelque forme que ce soit unecontrepartie quelconque ni aucun engagement ni effectuer des prestations de services de nature que ce soit. quelque Toutefois, la souscription à domicile d'abonnement à une publication quotidienne et assimilée, au sens de l'article 39 bis du code général des impôts, n'est pas soumise aux dispositions de l'alinéa précédent dès lors que le consommateur dispose d'un droit de résiliation permanent, sans frais ni indemnité, assorti du remboursement, dans un délai de quinze jours, des sommes versées au prorata de la durée de l'abonnement restant à courir.
                            <br> En outre, les engagements ou ordres de paiement ne doivent pas être exécutés avant l'expiration du délai prévu à l'article L. 121-25 et doivent être retournés au consommateur dans les quinze jours qui suivent sa rétractation.
                            <br> Les dispositions du deuxième alinéa s'appliquent aux souscriptions à domicile proposées par les associations et entreprises agréées par l'Etat ayant pour objet la fourniture de services mentionnés à l'article L. 129-1 du code du travail sous forme d'abonnement.
                            <br> <strong>Article L121-27</strong>
                            <br> Modifié par <u>Loi n°2004-575 du 21 juin 2004 - art. 24 JORF 22 juin 2004</u> A la suite d'un démarchage par téléphone ou par tout moyen technique assimilable, le professionnel doit adresser au consommateur une confirmation de l'offre qu'il a faite. Le consommateur n'est engagé que par sa signature. Il bénéficie alors des dispositions prévues aux articles L. 121-18, L. 121-19, L. 121-20, L. 121-20-1 et L. 121-20-3.
                            <br> <strong>Article L121-28</strong>
                            <br> Modifié par Ordonnance n°2000-916 du 19 septembre 2000 - art. 3 (V) JORF 22 septembre 2000 en vigueur le 1er janvier 2002 Toute infraction aux dispositions des articles L. 121-23, L. 121-24, L. 121-25 et L. 121-26 sera punie d'une peine d'emprisonnement d'un an et d'une amende de 3750 euros ou de l'une de ces deux peines seulement.
                            <br> <strong>Article L121-29</strong>
                            <br> Modifié par <u>Ordonnance n°2005-428 du 6 mai 2005 - art. 4 (V) JORF 7 mai 2005</u>
                            <br> Les dispositions du chapitre VIII du titre II du livre 1er du code de commerce sont applicables aux personnes qui effectuent des opérations de vente à domicile.
                            <br> L'entreprise est civilement responsable des démarcheurs, même indépendants, qui agissent pour son compte.
                            <br> <strong>Article L121-31</strong>
                            <br> Créé par <u>Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993</u>
                            <br> A l'occasion des poursuites pénales exercées en application de la présente section contre le vendeur, le prestataire de services ou le démarcheur, le client qui s'est constitué partie civile est recevable à demander devant la juridiction répressive une somme égale au montant des paiements effectués ou des effets souscrits, sans préjudice de tous dommages-intérêts. Article L121-32
                            <br> Créé par Loi 93-949 1993-07-26 annexe JORF 27 juillet 1993 Des décrets en Conseil d'Etat pourront régler, en tant que de besoin, les modalités d'application de la présente section.
                            <br> <strong>Article L121-33</strong>
                            <br> Modifié par <u>Loi n°94-442 du 3 juin 1994 - art. 6 JORF 4 juin 1994</u>
                            <br> Il est interdit de se rendre au domicile d'une personne physique, à sa résidence ou à son lieu de travail pour proposer la vente, la location ou la location-vente de documents ou matériels quelconques tendant à répondre aux mêmes besoins que des prestations de services pour lesquelles le démarchage est prohibé en raison de son objet par un texte particulier. Toute infraction aux dispositions de l'alinéa précédent entraîne, outre la nullité de la convention, l'application des sanctions prévues à l'article L. 121-28.
                            <br> Ne sont pas visés par les dispositions des alinéas précédents les supports matériels de connaissance des langues étrangères ou régionales destinés à leur libre apprentissage, sans assistance ou suivi pédagogique, dont la présentation ne fait pas référence à un niveau scolaire, à une activité d'enseignement, à la réussite scolaire, à une formation, à l'obtention d'un diplôme ou d'une situation professionnelle. Dans ce cas, le délai de réflexion de sept jours est prolongé d'un délai supplémentaire expirant quinze jours après la réception du produit par le client pour faire retour de ce produit pour remboursement. En cas d'exercice de ce droit de retour, le matériel est restitué au vendeur sans frais ou indemnités autres que les frais de réexpédition. Le contrat prévu à l'article L. 121-23 doit reproduire en outre le texte du présent alinéa concernant la faculté de résiliation de la commande.
                            <br> Les résultats des tests d'aptitude à l'emploi des méthodes de langues effectués par le vendeur ou le fabricant sous le contrôle d'un tiers indépendant doivent être communiqués au consommateur avant la conclusion du contrat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="panel-title">
                <div class="corner-left"></div>
                <h2>CONDITIONS GÉNÉRALES D’INTERVENTIONS</h2>
            </div>
            <div class="spacer-xxs"></div>
            <div class="panel cx-panel conditions-panel">
                <p class="conditions-code-sm justify" style="margin-top: -3px;">
                    <strong>Article 1 – ACCEPTATION</strong>
                    <br> La signature de la présente vaut acceptation des conditions générales d’intervention, figurant ci-dessous.
                    <br> <strong>Article 2 – RENSEIGNEMENTS</strong>
                    <br> Le client en signant le présent devis, accepte les risques inhérents à l’état des matériels concernes. En aucune façon le technicien n’est habilité à effectuer des ristournes, à octroyer des délais de paiement ou à exiger du client, que la facture soit payée en espèces, pour ce faire il devra préalablement contacter la direction d’EDISON Services. Une majoration de retard de paiement est appliqué de plein droits s’ajoute au montant de la facture et des frais de recouvrement. Cette majoration sera de 15% à titre de dommages et intérêt et de clause pénale, outre les intérêts légaux et les frais judiciaires éventuels. Pour tous les travaux dont la facture n’est pas réglée dans sa totalité, le matériel fourni reste la propriété de la SARL EDISON Services.
                    <br> <strong>Article 3 – SERVICE APRES VENTE</strong>
                    <br> Le matériel fourni dispose des garanties constructeurs. La pose et nos prestations bénéficient de la garantie légale. La responsabilité de la société sera dégagée, en cas d’accident du à un mauvais fonctionnement de l’appareil provenant soit d’une mauvaise utilisation, soit de l’intervention d’un tiers, soit du refus du remplacement des pièces constatées défectueuses.
                    <br> <strong>Article 4 – DISCUSSIONS</strong>
                    <br> Toute contestation doit être notifié à l’adresse de la SARL EDISON Services par lettre recommandée. Dans l’hypothèse ou, du fait de son âge, de son isolement, de sa situation physique Psychologique, de son absence de connaissance de la langue française, le client ne serait pas en mesure de signer seul le devis proposé, il lui appartient de se faire assister par toute personne de choix. A défaut, la SARL EDISON Services sera en droit de refuser d’exécuter les travaux.
                    <br> <strong>Article 5 – DROIT DE RETRACTATION</strong>
                    <br> Le droit de rétractation est refusé pour toute intervention entrant dans un contexte d’urgence nécessitant des réparations immédiates : réparation panne électrique généralisé etc... Le client est libre d’user de son droit de rétraction dans le cas où l’intervention pourrait attendre 7 jours ou plus avant son exécution. Dans tous les cas, les déplacements et temps restent à la charge du client.
                </p>
            </div>
            <div class="spacer"></div>
            <div class="panel-title">
                <div class="corner-left"></div>
                <h2>BORDEREAU DE RENONCIATION (À DÉCOUPER)</h2>
            </div>
            <div class="spacer-xxs"></div>
            <div class="conditions-scissors"></div>

            <div class="spacer-xs"></div>
            <div class="conditions-signature-bordereau text-center"> <strong><u> SIGNATURE: </u></strong> </div>
            <p class="conditions-bordereau">
                A renvoyer au plus tard 14 jours après la date d’acceptation du devis par lettre recommandée avec accusé de réception à : EDISON Services – 32 rue Fernand Pelloutier 92110 Clichy. Cette renonciation n’est valable que si elle est adressée avant l’expiration du délai rappelé ci-dessus et qu'elle est lisiblement et parfaitement remplie.
                <br> Je soussigné __________________________________________________________________________
                <br> Demeurant à l’adresse suivante ____________________________________________________________
                <br> Déclare renoncer à la réalisation des travaux décrits dans le devis n°__________ que j’ai approuvé le __________ par EDISON Services.
            </p>
        </div>
    </page>
</body>

</html>
