<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Support Tickets</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-text"><a href="#">15 new tickets</a></div>
        </div>
    </div>
    <div class="panel-body tab-content-padding">
        <div class="panel-padding no-padding-vr">
            <div class="ticket" style="text-align: left;" ng-repeat="h in hist" ng-if="h.type === 'signalement'">
                <span class="label label-info ticket-label">In progress</span>
                <a href="/intervention/{{h.inter_id}}" title="" class="ticket-title">
                    <i class="fa fa-warning text-danger"></i>{{h.nom}}<span>[#{{h.inter_id}}]</span>
                </a>
                <span class="ticket-info">Signalé par <a href="#">{{h.login.ajout}}</a> 
                {{h._date|date:"dd/MM/yy à HH'h'mm"}}</span>
            </div>
        </div>
    </div>
</div>
