<div>
    <table class="table table-striper table-condensed">
        <tbody>
            <tr ng-repeat-start="e in historiquePaiement|orderBy:'-timestamp'" text-xxxl bold>
                <!-- <td><pre>{{e.flushList.getList()[0]|json}}</pre></td> -->
                <td>{{e.flushList.getList()[0].login}}</td>
                <td>{{e.flushList.getList()[0].date|date:"dd/MM/yy à HH'h'mm"}}</td>
                <td>{{e.flushList.getList()[0].mode}}</td>
                <td>{{e.flushList.getFullTotal().final}} €</td>
                <td></td>
                <td></td>
            </tr>
            <tr  ng-repeat-end ng-repeat="intervention in e.flushList.getList()">
                <td><a href="/intervention/{{intervention.id}}">{{intervention.id}}</a></td>
                <td>{{intervention.description}}</td>
                <td>{{intervention.original.client.civilite}} {{intervention.original.client.nom}}</td>
                <td>{{intervention.type}}</td>
                <td>{{intervention.montant.base}} €</td>
                <td>{{intervention.montant.total}} €</td>
                <td>{{intervention.montant.final}} €</td>
            </tr>
          <!--   <tr ng-repeat-end>
                <td colspan="3"></td>
                <td >{{e.flushList.getFullTotal().base}} €</td>
                <td >{{e.flushList.getFullTotal()}} €</td>
                <td >{{e.flushList.getFullTotal().final}} €</td>
            </tr> -->
        </tbody>
    </table>
    <div class="panel-body tab-content-padding">
     <!--    <pre style="text-align:left">{{historiquePaiement|json}}</pre> -->
    </div>
</div>
