<div class="card margin">
    <div class="p+">
        <strong class="fs-headline display-block">Appels Clients</strong>
        <div class="paragraph fs-body-1 mt+">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(k, v) in data.appels">
                        <td>{{v.date|date:"dd/MM/yy à HH'h'mm"}}</td>
                        <td>{{v._type}}</td>
                        <td><a target="_blank" href="/api/axialis/{{v.call_id}}/get">Conversation</a></td>
                        <td>
                            <audio controls ng-init="v.audioFile = '/api/axialis/' + v.call_id + '/get'">
                                <source ng-src="{{v.audioFile}}" type="audio/mpeg">
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
