<div>
    <div class="card margin" ng-init="reglement = data.compta.reglement;paiement = data.compta.paiement">
        <div class="p+">
            <strong class="fs-headline display-block">Reglement Client </strong>
            <div class="paragraph fs-body-1 mt+">
                <div class="row">
                    <div class="col-sm-2">
                        <lx-text-field label="Montant Recu TTC">
                            <input ng-model="reglement.montantTTC" type="number">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="data.tva" ng-options="tva.short_name as tva.long_name for tva in config.tva"></select>
                    </div>
                    <div class="col-sm-2 ">
                        <lx-text-field label="Montant Recu HT">
                            <input ng-model="reglement.montant" type="number" disabled="true">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <lx-text-field label="Avoir">
                            <input ng-model="reglement.avoir" type="number">
                        </lx-text-field>
                        <!--   <span ng-bind="round(data.prixFinal * ((data.tva / 100) + 1))"></span>-->
                    </div>
                </div>
            </div>
            <br>
            <div class="switch" style="float:right;margin-right:30px">
                <input type="checkbox" id="switch2" ng-model="reglement.recu" class="switch__input">
                <label for="switch2" class="switch__label">Valider</label>
            </div>
            <br>
        </div>
    </div>
    <div class="card margin">
        <div class="p+">
            <strong class="fs-headline display-block">Paiement Sous-Traitant</strong>
            <br>
            <div class="paragraph fs-body-1 mt+">
                <div class="row">
                    <div class="col-sm-2">
                        <lx-text-field label="Base Paiement SST">
                            <input ng-model="paiement.base" type="number">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="data.compta.paiement.mode" ng-options="modePaiement.short_name as modePaiement.long_name for modePaiement in config.modePaiement"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <lx-text-field label="Déplacement">
                            <input type="number" min="0" max="100" ng-model="paiement.pourcentage.deplacement">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <lx-text-field label="Main D'oeuvre">
                            <input type="number" min="0" max="100" ng-model="paiement.pourcentage.maindOeuvre">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <lx-text-field label="Fourniture">
                            <input type="number" min="0" max="100" ng-model="paiement.pourcentage.fourniture">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <div class="switch" style="float:right;margin-right:30px">
                            <input type="checkbox" id="switch1" ng-model="paiement.ready" class="switch__input">
                            <label for="switch1" class="switch__label">Valider</label>
                            <span class="switch__help"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <div class="switch" style="float:right;margin-right:30px">
                            <input type="checkbox" id="switch3" ng-model="lol" class="switch__input">
                            <label for="switch3" class="switch__label switch_red">_Dette</label>
                        </div>
                    </div>
                </div>
                <br>
                <h4 ng-click="displaySimulation = !displaySimulation"> > Simulation</h4>
                <pre ng-if="displaySimulation"><h4>{{compta|json}}</h4></pre>
                <h4 ng-click="displayHistorique = !displayHistorique"> > Historique Flush ({{data.compta.historique.length}})</h4>
                <pre ng-if="displayHistorique"><h4>{{data.compta.historique|json}}</h4></pre>
            </div>
        </div>
    </div>
</div>
