<div class="card margin">
    <div class="p+">
        <strong ng-click="dsp = !dsp" class="fs-headline display-block">Comptabilité</strong>
        <span class="fs-subhead tc-black-2 display-block">Client</span>
        <div class="paragraph fs-body-1 mt+" >
            client
        </div>
         <span class="fs-subhead tc-black-2 display-block">Sous-traitant</span>
        <div class="paragraph fs-body-1 mt+" >
            SST
        </div>
    </div>
   <!--  <div class="card__actions" ng-if="dsp || data.fourniture.length">
        <span style="float:left;width:50%">
                        <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="fourniture.add()" lx-ripple>Ajout Fourniture</button>
                                                </span>
        <span style="float:right;margin-right:6%">
                             <button class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple> TOTAL HT : {{fourniture.total() | currency:''}} €</button>
                        </span>
    </div> -->
</div>
