<div flex-item>
    <div class="card margin">
        <div class="p+">
            <strong class="fs-headline display-block">Litiges</strong>
        </div>
        <div class="p+">
            <span class="fs-subhead tc-black-2 display-block">Problème sur l'intervention</span>
            <br>
            <textarea ng-disabled="data.litige.description && data.litige.open === false" elastic class="form-control" placeholder="Description" ng-change="descriptionChange()" ng-model="data.litige.description"></textarea>
            <md-switch class="md-primary" ng-disabled="!data.litige.description.length" md-no-ink aria-label="xxx" ng-model="data.litige.open" style="padding: 0px;margin-top: 5px;">
                <span bold ng-if="data.litige.description && data.litige.open">Ouvert </span>
                <span bold ng-if="data.litige.description && !data.litige.open">Fermé</span>
            </md-switch>
            <span ng-if="data.litige.openedBy"> Ouvert par {{data.litige.openedBy}} le {{data.litige.opened|date:"dd/MM/yy à HH'h'mm"}}</span>
            <br>
            <span ng-if="data.litige.closedBy"> Fermé par {{data.litige.closedBy}} le {{data.litige.closed|date:"dd/MM/yy à HH'h'mm"}}</span>
        </div>
    </div>
</div>
</div>
