<div class="card margin">
    <div class="p+" ng-init="displayfact = (!data.reglementSurPlace||data.produits.length)">
        <strong ng-click="displayfact = !displayfact" class="fs-headline displayfact-block">Facture / Devis</strong><a ng-if="data.devisOrigine" href="/devis/{{data.devisOrigine}}">Devis Original</a>
        <md-content class="autocomplete" style="width: 40%;margin-top: -22px;margin-left: 54%;float: left;" layout-padding layout="column" md-input-container flex>
            <md-autocomplete ng-if="displayfact" md-search-text-change="null" md-selected-item-change="produits.add(selectedProduct)" md-selected-item="selectedProduct" md-search-text="produits.searchText" md-items="item in produits.search(produits.searchText)" md-item-text="item.title" placeholder="Rechercher un produit...">
                <span md-highlight-text="produits.searchText"> 
                {{item.ref}} -  {{item.title}} - {{item.pu}}€</span>
            </md-autocomplete>
        </md-content>
        <span class="fs-subhead tc-black-2 display-block">Pour generation de factures/devis</span>
        <div class="paragraph fs-body-1 mt+" ng-if="displayfact">
            <div class="data-table-container">
                <table class="data-table data-table--has-primary data-table--has-secondary">
                    <thead>
                        <tr>
                            <th style="font-weight:bold;width: 105px;">Référence</th>
                            <th style="font-weight:bold;">Désignation</th>
                            <th style="font-weight:bold;width: 100px;">Q</th>
                            <th style="font-weight:bold;width: 120px;">PU</th>
                            <th style="font-weight:bold;width: 120px;">Montant</th>
                            <th style="font-weight:bold;width: 170px;">Modif</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="products data-table__clickable-row" ng-repeat="p in data.produits track by $index">
                            <td>
                                <span>{{p.ref}}</span>
                            </td>
                            <td lx-ripple ng-click="produits.edit($index)" lx-tooltip="{{p.desc | limitTo:50}}...">
                                <span>{{p.title}}</span>
                            </td>
                            <td>
                                <span> 
                                                     <a e-type="number" e-step="1" editable-text="p.quantite">{{p.quantite}}</a>
                                                    </span>
                            </td>
                            <td>
                                <span>
                                                 <a e-type="number" editable-text="p.pu" e-step="0.01">{{p.pu}} €</a>
                                                    </span>
                            </td>
                            <td>
                                <span>{{p.pu * p.quantite}} €</span>
                            </td>
                            <td>
                                <lx-dropdown position="right" from-top>
                                    <button class="btn--no-conflicts btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                        <i class="fa fa-reorder"></i>
                                    </button>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><a ng-click="produits.moveDown($index)" class="dropdown-link">Descendre</a></li>
                                            <li><a ng-click="produits.moveTop($index)" class="dropdown-link">Monter</a></li>
                                            <li><a ng-click="produits.remove($index)" class="dropdown-link">Supprimer</a></li>
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                            </td>
                        </tr>
                        <tr class="products data-table__clickable-row">
                            <td colspan="5"></td>
                            <td colspan="1">
                                <strong>
                                 TOTAL HT : {{produits.total() | currency:''}} €<br>
                                 </strong> TVA ({{data.tva.toFixed(2)}}%) : {{produits.total() * (data.tva / 100) | currency:''}} €
                                <strong>
                                 <br>
                                 TOTAL TTC : {{produits.total() * (data.tva / 100 + 1) | currency:''}} €
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card__actions" ng-if="displayfact">
        <span style="float:left;width:50%">
                 <!--          <button ng-click="produits.add({quantite: 1,ref: 'AUT001',title: 'Autre',desc: '',pu: 0})" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Ajouter</button> -->
                       <button ng-click="createProd()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Ajout produit</button>
                        <button ng-click="Devis(data).devisPreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Devis</button>
                        <button ng-click="Intervention(data).facturePreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Facture</button>
                        
                        <button ng-click="Devis(data).sendDevis()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Envoyer Devis</button>

                        <button ng-click="Intervention(data).sendFacture()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Envoyer Facture</button>

                       <!--  <button ng-click="Intervention(data).factureAcquittePreview()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Facture Aquité</button> -->
                        <button ng-if="model !== 'DEVIS' && data.id" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>
                        <a href="/devis?i={{data.id}}">Créer Devis</a></button>
                         </span>
        <span style="width: 150px;float: right;padding-bottom: 7px;">
                         <select class="form-control" ng-model="data.tva" ng-options="tva.short_name as tva.long_name for tva in config.tva">
                            </select></span>
    </div>
</div>
