<div>
    <br>
    <h1>LE SOUS-TRAITANT:</h1>
    <br>
    <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="hide()" lx-ripple>Est indisponible</button>
    <br>
    <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="hide()" lx-ripple>a révélé les liens de sous-traitance</button>
    <br>
    <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="hide()" lx-ripple>a besoin d'un facturier</button>
    <br>
    <button class="btn--no-conflicts btn--m btn--black btn--flat" ng-click="hide()" lx-ripple>a gardé le cheque</button>
    <br>
</div>
