<div>
    <div class="shadow-box listeInterventions">
        <div class="row" style="">
            <br>
            <div class="col-sm-4 contactSize" ng-if="selectedIndex !== 1 && !vm.recap">
                <input type="text" ng-model="vm.tableFilter" ng-change="vm.reloadData()" class="form-control">
                <br>
                <div when-scroll-ends="vm.loadMore()">
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-repeat="artisan in vm.tableData | orderBy:'-da' | limitTo:vm.tableLimit " ng-right-click="vm.rowRightClick($event, artisan)" ng-click="vm.rowClick($event, artisan, false)" ng-class="{success : vm.contextMenu.active && vm.contextMenu.data.id === artisan.id, greyed : expendedRow === artisan.id}">
                            <div class="list-row__content">
                                <span><strong>{{artisan.n}}</strong> - {{artisan.r}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="selectedIndex === 1 && !recap ? 'col-sm-8' : 'col-sm-12'" >
                <div style="cursor:default!important">
                    <md-content class="md-padding" ng-init="va = vm.sst" style="margin: 10px;">
                        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                            <md-tab label="Informations" >
                                <md-content class="md-padding" ng-right-click="vm.rowRightClick($event, vm.sst)">
                                    <div class="col-sm-6" style="height:580px">
                                        <span class="fs-display-1 display-block">{{vm.sst.nomSociete}}</span><span class="fs-headline display-block"><i>{{vm.sst.representant.civilite}} {{vm.sst.representant.nom}} {{vm.sst.representant.prenom}}</i></span>
                                        <br>
                                        <a ng-href="callto:{{vm.sst.telephone.tel1}}"><span class="fs-headline">{{vm.sst.telephone.tel1}}</span></a>
                                        <a ng-if="vm.sst.telephone.tel2" ng-href="callto:{{vm.sst.telephone.tel1}}"><span class="fs-headline "> - {{vm.sst.telephone.tel2}}</span></a>
                                        <br>
                                        <br>
                                        <a style="color:black" ng-href="mailto:{{vm.sst.email}}"><span class="fs-title ">{{vm.sst.email}}</span></a>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="display-block fs-body-1">Categories</span>
                                                <span ng-repeat="c in vm.sst.categories" style="width:100px;margin-top:4px" class="label {{::config.categories[c].color}} display-block fs-body-1">{{::config.categories[c].long_name}}</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="display-block fs-body-1">Documents</span>
                                                <a ng-repeat="(k, f) in vm.sst.document" ng-href="/api/artisan/59/openDocument?file={{k}}" target="_blank">
                                                    <span style="width:90px;margin-top:4px" class="label display-block fs-body-1 grey darken-3">{{k}}</span></a>
                                            </div>
                                        </div>
                                        <!-- <br><br>
                                        <span class="fs-display-1 display-block">Tarifs</span>

                                        <br> -->
                                        <!-- <span class="fs-display-3 display-block">Regular 56sp</span>
                                        <span class="fs-display-2 display-block">Regular 45sp</span>
                                        <span class="fs-display-1 display-block">Regular 34sp</span>
                                        <span class="fs-headline display-block">Regular 24sp</span>
                                        <span class="fs-title display-block">Medium 20sp</span>
                                        <span class="fs-subhead display-block">Regular 16sp (Device), Regular 15sp (Desktop)</span>
                                        <span class="fs-body-2 display-block">Medium 14sp (Device), Medium 13sp (Desktop)</span>
                                        <span class="fs-body-1 display-block">Regular 14sp (Device), Regular 13sp (Desktop)</span>
                                        <span class="fs-caption display-block">Regular 12sp</span> -->
                                        <!--  <a ng-href="mailto:{{vm.sst.email}}">{{vm.sst.email}}</a> -
                                        <a ng-href="callto:{{vm.sst.telephone.tel1}}">{{vm.sst.telephone.tel1}}</a>
                                        <a ng-href="callto:{{vm.sst.telephone.tel2}}">{{vm.sst.telephone.tel2}}</a>
                                        <br>
                                        <br> Categories
                                        <p class="md-display-2" ng-repeat="c in vm.sst.categories"><span style="width:100px;margin-top:4px" class="label {{::config.categories[c].color}}">{{::config.categories[c].long_name}}</span></p>
                                        <br>
                                        <p class="md-display-2">Documents :
                                            <a ng-repeat="(k, f) in vm.sst.document" ng-href="/api/artisan/59/openDocument?file={{k}}" target="_blank">
                                                <br><span style="width:90px;margin-top:4px" class="label ">{{k}}</span></a>
                                        </p>
                                        <br>
                                        <p class="md-display-2">Déplacement : <strong>{{vm.sst.pourcentage.deplacement}} %</strong></p>
                                        <p class="md-display-2">Main d'oeuvre : <strong>{{vm.sst.pourcentage.maindOeuvre}} %</strong></p>
                                        <p class="md-display-2">Fourniture : <strong>{{vm.sst.pourcentage.fourniture}} %</strong></p> -->
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="fs-title display-block">Ajouté le {{vm.sst.date.ajout|date:"dd/MM/yy"}} par {{vm.sst.login.ajout}}</span>

                                        <br>
                                        <span class="fs-subhead display-block">{{vm.sst.address.n}} {{vm.sst.address.r}}, {{vm.sst.address.cp}} {{vm.sst.address.v}}</span>
                                        <img ng-src="{{vm.getStaticMap()}}" class="img-thumbnail" />
                                        <span class="fs-subhead display-block"><i>Déplacement : </i>{{vm.sst.pourcentage.deplacement}} % <i>Main D'oeuvre: </i>{{vm.sst.pourcentage.maindOeuvre}} % <i>Fourniture:</i> {{vm.sst.pourcentage.fourniture}} %</span>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Interventions" data-position="0">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Liste des Interventions</h1>
                                    <liste-intervention ng-if="selectedIndex === 1" id="vm.sst.id"></liste-intervention>
                                </md-content>
                            </md-tab>
                            <md-tab label="Historique" data-position="1">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Historique</h1>
                                    <div class="paragraph fs-body-1 mt+" style="height:100%">
                                        <ul style="padding-bottom:20px;margin-left: 0px;">
                                            <li class="list-row" ng-repeat="com in vm.sst.comments | reverse">
                                                <div class="list-row__content">
                                                    <span class="display-block">{{com.text}}</span>
                                                    <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Stats" data-position="2">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Stats</h1>
                                    <artisan-recap id="vm.sst.id"></artisan-recap>
                                </md-content>
                            </md-tab>
                            <md-tab label="JSON Dump" data-position="3">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">DUMP</h1>
                                    <pre>{{vm.sst|json}}</pre>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
                <div class="dropdown-menu__content ng-scope">
                    <ul class="ng-scope">
                        <li ng-repeat="item in vm.contextMenu.list" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">
                            <a class="dropdown-link" tabindex="0">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
