<div>
    <div class="shadow-box listeInterventions">
        <table style="background:white;cursor:pointer" ng-table="vm.tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
            <tbody id="tbody-list">
                <tr data-id="{{artisan.id}}" ng-repeat-start="artisan in $data" ng-right-click="vm.rowRightClick($event, artisan)" ng-click="vm.rowClick($event, artisan, false)" ng-class="{success : vm.contextMenu.active && vm.contextMenu.data.id === artisan.id}">
                    <td data-title="'Os'" sortable="'id'" filter="{ 'id': 'text' }">
                        <strong>{{artisan.id}}</strong>
                    </td>
                    <td data-title="'Ajout'" sortable="'t'" filter="{ 't': 'text' }">
                        <strong>{{artisan.t}}</strong>
                    </td>
                    <td data-title="'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
                        {{artisan.da|relativeDate}}
                    </td>
                    <td data-title="'Categorie'" sortable="'c'" filter="{ 'c': 'text' }">
                        <span ng-repeat="c in artisan.c" style="width:40px;margin-right:2px" class="label {{::vm.config.categories[c].color}}">{{c}}</span>
                    </td>
                     <td variable-length data-title="'Nom Société'" sortable="'n'" filter="{ 'n': 'text' }">
                        <strong>{{artisan.n}}</strong>
                    </td>
                     <td variable-length data-title="'Ville'" sortable="'v'" filter="{ 'v': 'text' }">
                        {{artisan.v}}
                    </td>
                      <td data-title="'Code_P.'" sortable="'cp'" filter="{ 'cp': 'text' }">
                        {{artisan.cp}}
                    </td>
                      <td data-title="'Status'" sortable="'s'" filter="{ 's': 'text' }">
                        <span style="width:80px;" class="label {{::vm.config.etatsArtisan[artisan.s].color}}">{{::vm.config.etatsArtisan[artisan.s].long_name}}</span>
                    </td>

                    <!--  <td data-title="'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        {{::artisan.t}}
                    </td>
                    <td data-title="'Cat.'" sortable="'c'" filter="{ 'cx': 'text' }">
                        <span style="width:80px" class="label {{::vm.config.categories[artisan.c].color}}">{{artisan.cx}}</span>
                    </td>
                    <td data-title="'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
                        {{artisan.da|relativeDate}}
                    </td>
                    <td variable-length data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
                        {{::artisan.n}}
                    </td>
                    <td data-title="'CodeP'" sortable="'cp'" filter="{ 'cp': 'text' }">
                        {{::artisan.cp}}
                    </td>
                    <td variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{::artisan.ad}}
                    </td>
                    <td data-title="'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        {{::(artisan.pa | number:2) || 0}} €
                    </td>
                     <td data-title="'E.'" sortable="'ev'" filter="{ 'ev': 'text' }">
                        <span style="width:30px" class="label {{config.colorEnvoisDevis(artisan.ev)}}"><strong>{{::artisan.ev}}</strong></span>
                    </td>
                    <td data-title="'Status'" sortable="'s'" filter="{ 'sx': 'text' }">
                        <span style="width:90px" class="label {{::vm.config.etatsDevis[artisan.s].color}}"> 
                        {{::artisan.sx}}</span>
                    </td> -->
                </tr>
                <tr ng-repeat-end ng-if="expendedRow && expendedRow === artisan.id">
                    <td colspan="42" style="background-color:white!important">
                        <dropdown-row model="artisan" row="artisan" expendedRow="expendedRow"></dropdown-row>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style=" width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-repeat="item in vm.contextMenu.list" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">
                    <a class="dropdown-link" tabindex="0">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
