<div style="margin-top: -15px;">
    <div class="card" style="height:730px;width:100%">
        <div style="height:90%;padding:20px;overflow:scroll">
            <table class="table table-condensed  table-hover table-bordered">

                <body>
                    <tr ng-repeat="av in avoirs" ng-click="av.checked = !av.checked;">
                        <td><a href="/intervention/{{av.id}}">{{av.id}}</td>
                        <td>{{av.client.civilite}} {{av.client.nom}}</td>
                        <td>{{av.compta.reglement.montant}} € </td>
                        <td>{{config.avoir(av.compta.reglement.avoir._type).long_name}}</td>
                        <td>{{av.compta.reglement.avoir.montant}} € </td>
                         <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="av.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                </body>
            </table>
        </div>
        <div style="margin-top: 19px;">
            <md-button class="md-raised" ng-click="vm.print()">Imprimer Documents</md-button>
            <md-button class="md-raised">Upload Scan</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.flush()">FLUSH</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.reloadAvoir()">Reload</md-button>
        </div>
    </div>
</div>
