<!DOCTYPE html>
<html ng-app="InterventionApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>


  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->

  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">


</head>

<body ng-controller="MainController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img style="width:180px"src="/img/logo-white.png"/></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
     
                                    <div class="media-body">
                                        <p></p>
                                        <p>Aucuns Messages</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                        <p></p>
                            <a href="#">Aucunes alertes</a>
                            <p></p>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 118-000 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Messages</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Parametres</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Deconnection</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/118"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li >
                        <a href="/118/interventions"><i class="fa fa-fw fa-table"></i> Interventions</a>
                    </li>
                    <li >
                        <a href="/118/listeAppels"><i class="fa fa-fw fa-phone"></i> Liste Appels</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="page-header">
                            Tableau de bords
                        </h1>
                    </div>
                    <div class="col-lg-3">
                      <h1 class="page-header">
                       </h1>     

                    </div>
                </div>
                <!-- /.row -->

                                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{etats.CONFIRMER ||0}}</div>
                                        <div>Confirmer</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">{{montants.CONFIRMER * 0.15 ||0 | currency:"&euro;"}} €</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-list fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                        <span></span>
                                        {{etats.DEVIS || 0}}</div>
                                        <div>Devis</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">{{montants.DEVIS * 0.15 ||0 | currency:"&euro;"}} €</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-repeat fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{etats['EN COURS'] || 0}}</div>
                                        <div>En Cours</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">{{montants["EN COURS"] * 0.15 ||0 | currency:"&euro;"}} €</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-times-circle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{etats.ANNULE || 0}}</div>
                                        <div>Annulés</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">{{montants.ANNULE * 0.15 ||0 | currency:"&euro;"}} €</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <linechart data="data" options="options" mode="" width="" height=""></linechart>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="/angular/angular.min.js"                 ></script>
    <script src="/jquery/dist/jquery.min.js"              ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"     ></script>
    <script src="/ng-table/ng-table.js"                   ></script>
    <script type="text/javascript" src="/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript">
    var app = angular.module('InterventionApp', ['ngTable', 'ngTableExport'])
              app.run(function($rootScope) {
                console.log("hello world");
              });
    app.controller('MainController', function($rootScope, $scope, $http, $filter, ngTableParams, $sce) {
        $scope.etats = {};
        $scope.montants = {};

      $http({method: 'GET', url: "/api/interventions/118"})
      .success(function(data) {

        data.forEach(function(e, i) {
            if (typeof $scope.etats[e.etat_intervention] === "undefined"){
                $scope.montants[e.etat_intervention] = parseFloat(e.montant);
                $scope.etats[e.etat_intervention] = 1;
            }
            else {
                $scope.montants[e.etat_intervention] += parseFloat(e.montant);
                $scope.etats[e.etat_intervention]++;
            }
            
        })
        console.log($scope.etats);

      })
      .error(function(data) {

      });
    });

app.filter('beautifier', function() {
  return function(str, scope) {
    if (!str)
      return str;
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  }
});

    </script>
</body>

</html>
