<!DOCTYPE html>
<html ng-app="InterventionApp">

  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"/>  
  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <title>118</title>
  </head>
  <body ng-controller="MainController">

    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
    <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

    <table ng-table="tableParams" class="table table-striped1p">
        <tr ng-repeat="inter in $data">
            <td data-title="'id'" sortable="'id'">
                {{inter.id}}
            </td>
            <td data-title="'Nom'" sortable="'nom'">
                {{inter.civilite}} {{inter.nom}} {{inter.prenom  | beautifier}}
            </td>
            <td data-title="'Date'" sortable="'t_stamp'">
                {{inter.t_stamp * 1000  | date:"dd/MM/yy"}}
            </td>
            <td data-title="'CP'" sortable="'code_postal'">
                {{inter.code_postal}}
            </td>
            <td data-title="'Ville'" sortable="'ville'">
                {{inter.ville  | beautifier}}
            </td>
            <td data-title="'Montant'" sortable="'montant'">
                {{inter.montant}} €
            </td>
            <td data-title="'Comission'" sortable="'prix_ht_annonce'">
                {{inter.montant * 0.1  | currency: ""}} €
            </td>
            <td data-title="'Etat'" sortable="'etat_intervention'">
                <span class="label label-{{etats[inter.etat_intervention]}}">{{inter.etat_intervention}}</span>
            </td>
        </tr>
    </table>

    <script src="/angular/angular.min.js"                 ></script>
    <script src="/jquery/dist/jquery.min.js"              ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"     ></script>
    <script src="/ng-table/ng-table.js"                   ></script>
    <script type="text/javascript">
    var app = angular.module('InterventionApp', ['ngTable'])
              app.run(function($rootScope) {
                console.log("hello world");
              });
    app.controller('MainController', function($rootScope, $scope, $http, $filter, ngTableParams) {

      function createTable(data) {

        $scope.tableParams = new ngTableParams({
                page: 1,            // show first page
                count: 100,          // count per page
                sorting: {
                    name: 'asc'     // initial sorting
                }
            }, {
                total: data.length, // length of data
                getData: function($defer, params) {
                    // use build-in angular filter
                    var orderedData = params.sorting() ?
                                        $filter('orderBy')(data, params.orderBy()) :
                                        data;

                    $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
            

            });
      };
       
       $scope.etats = {
          'ANNULE':"danger",
          'EN COURS':"warning",
          'PAYÉ': "success",
          'DEVIS': "primary",
          'INTERVENU':"success"
       }; 

      $http({method: 'GET', url: "/api/interventions/118"})
      .success(function(data) {
          createTable(data);
      })
      .error(function(data) {
        console.log("error");
      });
    });

app.filter('beautifier', function() {
  return function(str, scope) {
    if (!str)
      return str;
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  }
});

    </script>
  </body>
</html>