<!DOCTYPE html>
<html ng-app="InterventionApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>


  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->

  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/nprogress/nprogress.css" rel="stylesheet">


</head>

<body ng-controller="MainController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img style="width:180px"src="/img/logo-white.png"/></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
     
                                    <div class="media-body">
                                        <p></p>
                                        <p>Aucuns Messages</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                        <p></p>
                            <a href="#">Aucunes alertes</a>
                            <p></p>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 118-000 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Messages</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Parametres</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Deconnection</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/118"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/118/interventions"><i class="fa fa-fw fa-table"></i> Interventions</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="page-header">
                            Interventions
                        </h1>
                    </div>
                    <div class="col-lg-3">
                      <h1 class="page-header">
                    <a style="float:right;margin-top:14px" class="btn btn-primary" ng-click="refreshData();">Actualiser</a>       
                        <a style="float:right;margin-top:14px" class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="interventions.csv">Exporter</a>        
                        </h1>     

                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12 col-sm
                    -12 col-md-12">
                        
                        <table ng-table="tableParams" class="table table-striped"  export-csv="csv">
                            <tr ng-repeat="inter in $data">
                                <td data-title="'id'" sortable="'id'">
                                    {{inter.id}}
                                </td>
                                <td data-title="'Categorie'" sortable="'categorie'">
                                    {{inter.categorie | beautifier}}
                                </td>
                                <td data-title="'Campagne'" sortable="'numero_appel'">
                                    {{inter.numero_appel}}
                                </td>
                                <td data-title="'Numero'" sortable="'numero_origine'">
                                    {{inter.numero_origine}}
                                </td>
                                <td data-title="'Nom'" sortable="'nom'">
                                    {{inter.civilite}} {{inter.nom}} {{inter.prenom  | beautifier}}
                                </td>
                                <td data-title="'Date'" sortable="'t_stamp'">
                                    {{inter.t_stamp * 1000  | date:"dd/MM/yy"}}
                                </td>
                                <td data-title="'CP'" sortable="'code_postal'">
                                    {{inter.code_postal}}
                                </td>
                                <td data-title="'Ville'" sortable="'ville'">
                                    {{inter.ville  | beautifier}}
                                </td>
                                <td data-title="'Montant'" sortable="'montant'">
                                    {{inter.montant}} €
                                </td>
                                <td data-title="'Comission'" sortable="'prix_ht_annonce'">
                                    {{inter.montant * 0.15  | currency: ""}} €
                                </td>
                                <td data-title="'Etat'" sortable="'etat_intervention'">
                                    <span class="label label-{{etats[inter.etat_intervention]}}">{{inter.etat_intervention}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="/angular/angular.min.js"                 ></script>
    <script src="/jquery/dist/jquery.min.js"              ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"     ></script>
    <script src="/ng-table/ng-table.js"                   ></script>
    <script type="text/javascript" src="/nprogress/nprogress.js"></script>
    <script type="text/javascript" src="/ng-table-export/ng-table-export.js"></script>
    <script type="text/javascript">
    var app = angular.module('InterventionApp', ['ngTable', 'ngTableExport'])
              app.run(function($rootScope) {
                console.log("hello world");
              });
    app.controller('MainController', function($rootScope, $scope, $http, $filter, ngTableParams, $sce) {

        var data;
      function createTable(data) {

        $scope.tableParams = new ngTableParams({
                page: 1,            // show first page
                count: 100,          // count per page
                sorting: {
                    name: 'asc'     // initial sorting
                }
            }, {
                total: data.length, // length of data
                getData: function($defer, params) {
                    // use build-in angular filter
                    var orderedData = params.sorting() ?
                                        $filter('orderBy')(data, params.orderBy()) :
                                        data;

                    $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
            

            });
      };

        $scope.refreshData = function() {
            NProgress.start();
            $http({method: 'GET', url: "/api/actualise118"}).success(function(data) {
                NProgress.done();
                alert("Les informations ont été mises à jour");
                console.log(data);
            });
        };
       
       $scope.etats = {
          'ANNULE':"danger",
          'EN COURS':"warning",
          'PAYÉ': "success",
          'DEVIS': "primary",
          'CONFIRMER':"success"
       }; 

      $http({method: 'GET', url: "/api/interventions/118"})
      .success(function(cdata) {
        data = cdata;
          createTable(cdata);
      })
      .error(function(data) {
        console.log("error");
      });
    });

app.filter('beautifier', function() {
  return function(str, scope) {
    if (!str)
      return str;
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  }
});

    </script>
</body>

</html>
