<!DOCTYPE html>
<html ng-app="InterventionApp">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/nprogress/nprogress.css">
   <base href="/interventions">
  <style type="text/css">
  </style>
  </head>
  <body oncontextmenu="return false;" ng-controller="InterventionController as interCtrl" >
 <% include partials/navbar %> 


<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->

    
<% include partials/sidebar %> 
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
         
          <div class="col-md-12" style="height: 151px;" ></div>
          <%include partials/tabs %>
          <table style="background:white;" ng-table="tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list"  show-filter="true">
            <tbody id="tbody-list">
              <tr data-id="{{info.id}}" ng-repeat-start="info in $data" ng-click="ClickOnRow($event, info.id)"  ng-class="{warning : isInSelection(info.id)}" >
                <td  data-title="'Num Os'" sortable="'id'" filter="{ 'id': 'text' }">
                    <strong>{{info.id}}</strong>
                </td>
                <td data-title="'Télépro'" sortable="'telepro'" filter="{ 'telepro': 'text' }">
                  {{info.telepro}}
                </td>
                <td  data-title="'Cat.'" sortable="'cat'" filter="{ 'cat': 'text' }">
                   <button class="btn btn-default btn-circle">
                     {{info.cat}}
                   </button>
                </td>
                <td class="date-length" data-title="'Date Ajout'" sortable="'dateAjout'" filter="{ 'dateAjout': 'text' }">
                      {{info.dateAjout | date:"dd/MM/yy"}}
                      {{info.dateAjout | date:"HH'h'mm"}}
                </td>
                <td class="variable-length" data-title="'Client'" sortable="'nom'" filter="{ 'nom': 'text' }">
                  {{info.civ}}
                  <strong>{{info.nom |  characters:18 :true}}</strong>  
                </td>
                <td  class="variable-length" data-title="'Ville'" sortable="'add.v'" filter="{ 'add.v': 'text' }">
                    {{info.add.v  |  characters:15 :true }}
                </td>
                <td   data-title="'CP'" sortable="'add.cp'" filter="{ 'add.cp': 'text' }">
                  <strong> {{info.add.cp.substring(0,2)}}</strong>{{info.add.cp.substring(2,5)}}
                </td>
                <td  class="variable-length" data-title="'Artisan'" sortable="'sst'" filter="{ 'sst': 'text' }">
                    <strong>{{interCtrl.artisan[info.sst] |  characters:15 :true || ""}}</strong>
                </td>
                <td class="date-length"  data-title="'Date Intervention'" sortable="'dateInter'" filter="{ 'dateInter': 'text' }">
                    <div ng-show="info.dateInter[0] != 1">
                      {{info.dateInter | date:"dd/MM/yy" || ""}}
                      {{info.dateInter | date:"hh'h'mm" || ""}}
                    </div>
                </td>

                <td  data-title="'Etat Inter'" sortable="'etat'" ng-init="clientPmntClass = getClientPaymentClass(info)">  
                  <button type="button" class="btn btn-circle btn-{{etatInterIcon[info.etat].c}}">
                  <i class="fa" ng-class="info.aVerifier ? 'fa-question' : 'fa-{{etatInterIcon[info.etat].i}}'"></i></button>
                </td>
                <td  data-title="'Pmnt Client'" sortable="'pmntCli'" >
                  <button type="button" 
                  class="btn btn-circle btn-{{clientPmntClass.c}}">
                  <i class="fa fa-{{clientPmntClass.i}}"></i>
                  </button> 
                </td>
                <td  data-title="'Pmnt Artisan'" sortable="'pmntSst'" >
                  <button type="button" 
                  class="btn btn-circle" ng-class="info.pmntSst ? 'btn-success' : (info.pmntCli ? 'btn-warning' : 'btn-default')">
                  <i class="fa " ng-class="info.pmntSst ? 'fa-check' : (info.pmntCli ? 'fa-question' : '')"></i>
                  </button> 
                </td>              </tr>
              <tr style="display:none"></tr>
              <tr ng-repeat-end ng-show="rowIsClicked(info.id);">
                <td colspan="42">
                  <div style="height:300px;background:white"> 
                  <div style="float:left;text-align:left;margin:30px">
                  {{info.civ}}
                  <strong>{{info.nom}}</strong>
                  <br>
                  {{info.description}}
                  <br>
                  {{info.numero}} {{info.rue}} {{info.cp}}, {{info.add.v}}
                  <br>
                  <strong>{{interCtrl.artisan[info.artisan] || ""}}</strong>
                  </div>















                  </div>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
    </div>
     <% include partials/context %>
</div>
   


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/ng-table/ng-table.js"></script> 
    <script type="text/javascript"  src="/angular-truncate/src/truncate.js"></script>
    <script src="/js/artisans.js"></script>
    <script type="text/javascript"  src="/nprogress/nprogress.js"></script>
    <script src="/js/InterventionController.js"></script>
  <script type="text/javascript">

document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 
  'script>')


//Temporary hack got to change this with factory/angular
function changeTheme(theme) {
    $('#BootstrapDefaultTheme').attr("href", "/bootswatch/" + theme + "/bootstrap.css")
  }
function changeUrl(url) {
  var i = 10;
  while (++i < 15
    ) {
    window.setTimeout(function() {
      window.history.replaceState("", "test", url);
    }, i * 100)
  }
}
</script>
  </body>
</html>