<!DOCTYPE html>
<html ng-app="InterventionApp">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/nprogress/nprogress.css">
  <style type="text/css">
  </style>
  </head>
  <body oncontextmenu="return false;" ng-controller="InterventionController as interCtrl" >
 <% include partials/navbar %> 


<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->

    
<% include partials/sidebar %> 
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
         <%include partials/topFilters %>
          <div class="col-md-12" style="height: 151px;" ></div>
          <table style="background:white;" ng-table="tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list"  show-filter="true">
            <tbody id="tbody-list">
              <tr data-id="{{info.numOs}}" ng-repeat-start="info in $data" ng-click="ClickOnRow($event, info.numOs)"  ng-class="{warning : isInSelection(info.numOs)}" >
                <td  data-title="'numOS'" sortable="'numOs'" filter="{ 'numOs': 'text' }">
                    <strong>{{info.numOs}}</strong>
                </td>
                <td data-title="'Ajouté Par'" sortable="'ajoutepar'" filter="{ 'ajoutePar': 'text' }">
                  {{info.ajoutePar}}
                </td>
                <td  data-title="'Cat.'" sortable="'categorie'" filter="{ 'categorie': 'text' }">
                   <button class="btn btn-default btn-circle">
                     {{info.categorie}}
                   </button>
                </td>
                <td class="date-length" data-title="'Date Ajout'" sortable="'dateAjout'" filter="{ 'dateAjout': 'text' }">
                      {{info.dateAjout | date:"dd/MM/yy"}}
                      {{info.dateAjout | date:"HH'h'mm"}}
                </td>
                <td class="variable-length" data-title="'Client'" sortable="'nom'" filter="{ 'nom': 'text' }">
                  {{info.civilite}}
                  <strong>{{info.nom |  characters:18 :true}}</strong>  
                </td>
                <td  class="variable-length" data-title="'Ville'" sortable="'ville'" filter="{ 'ville': 'text' }">
                    {{info.ville  |  characters:15 :true }}
                </td>
                <td   data-title="'CP'" sortable="'cp'" filter="{ 'cp': 'text' }">
                  <strong> {{info.cp.substring(0,2)}}</strong>{{info.cp.substring(2,5)}}
                </td>
                <td  class="variable-length" data-title="'Artisan'" sortable="'artisan'" filter="{ 'artisan': 'text' }">
                    <strong>{{interCtrl.artisan[info.artisan] |  characters:15 :true || ""}}</strong>
                </td>
                <td class="date-length"  data-title="'Date Intervention'" sortable="'dateInter'" filter="{ 'dateInter': 'text' }">
                    <div ng-show="info.dateInter[0] != 1">
                      {{info.dateInter | date:"dd/MM/yy" || ""}}
                      {{info.dateInter | date:"hh'h'mm" || ""}}
                    </div>
                </td>

                <td  data-title="'Etat Inter'" sortable="'etatInter'" ng-init="clientPmntClass = getClientPaymentClass(info)">  
                  <button type="button" class="btn btn-circle btn-{{etatInterIcon[info.etatInter].c}}">
                  <i class="fa" ng-class="info.aVerifier ? 'fa-question' : 'fa-{{etatInterIcon[info.etatInter].i}}'"></i></button>
                </td>
                <td  data-title="'Pmnt Client'" sortable="'paiementClient'" >
                  <button type="button" 
                  class="btn btn-circle btn-{{clientPmntClass.c}}">
                  <i class="fa fa-{{clientPmntClass.i}}"></i>
                  </button> 
                </td>
                <td  data-title="'Pmnt Artisan'" sortable="'paiementArtisan'" >
                  <button type="button" 
                  class="btn btn-circle" ng-class="info.paiementArtisan ? 'btn-success' : (info.paiementClient ? 'btn-warning' : 'btn-default')">
                  <i class="fa " ng-class="info.paiementArtisan ? 'fa-check' : (info.paiementClient ? 'fa-question' : '')"></i>
                  </button> 
                </td>              </tr>
              <tr style="display:none"></tr>
              <tr ng-repeat-end ng-show="rowIsClicked(info.numOs);">
                <td colspan="42">
                  <div style="height:300px;background:white"> 
                  <div style="float:left;text-align:left;margin:30px">
                  {{info.civilite}}
                  <strong>{{info.nom}}</strong>
                  <br>
                  {{info.description}}
                  <br>
                  {{info.numero}} {{info.rue}} {{info.cp}}, {{info.ville}}
                  <br>
                  <strong>{{interCtrl.artisan[info.artisan] || ""}}</strong>
                  </div>















                  </div>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
    </div>
     <% include partials/context %>
</div>
   


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/ng-table/ng-table.js"></script> 
    <script type="text/javascript"  src="/angular-truncate/src/truncate.js"></script>
    <script src="/js/artisans.js"></script>
    <script type="text/javascript"  src="/nprogress/nprogress.js"></script>
    <script src="/js/InterventionController.js"></script>
  <script type="text/javascript">

document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 
  'script>')


//Temporary hack got to change this with factory/angular
function changeTheme(theme) {
    $('#BootstrapDefaultTheme').attr("href", "/bootswatch/" + theme + "/bootstrap.css")
  }

</script>
  </body>
</html>