<md-dialog aria-label="Mango (Fruit)" style="  width: 78%;height: 500px;">
    <md-dialog-content class="sticky-container" style="height: 100%;">
        <md-subheader class="md-sticky-no-effect">Liste des Envois facturier/deviseur</md-subheader>
        <div style="padding:15px">
        <md-checkbox ng-model="deviseur" aria-label="Checkbox 1">
                Facturier
            </md-checkbox>
            <md-checkbox ng-model="facturier" aria-label="Checkbox 1">
                Deviseur 
            </md-checkbox>
            <div style="max-height: 370px;overflow:scroll" >
                <div class="data-table-container">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Login</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <td colspan="6" class="divider divider--dark"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-table__clickable-row" ng-repeat="f in sst.historique.facturier">
                                <td>
                                    <span>Facturier</span>
                                </td>
                                <td>
                                    <span>{{f.login}}</span>
                                </td>
                                <td>
                                    <span>{{f.date| date:"dd/MM/yyyy 'à' HH'h'mm"}}</span>
                                </td>
                            </tr>
                            <tr class="data-table__clickable-row" ng-repeat="f in sst.historique.deviseur">
                                <td>
                                    <span>Deviseur</span>
                                </td>
                                <td>
                                    <span>{{f.login}}</span>
                                </td>
                                <td>
                                    <span>{{f.date| date:"dd/MM/yyyy 'à' HH'h'mm"}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary">
            Annuler
        </md-button>
        <md-button ng-click="answer(null);" class="md-primary">
            Envoyer
        </md-button>
    </div>
</md-dialog>
