<md-dialog aria-label="Mango (Fruit)" style="  width: 88%;height: 500px;">
    <md-dialog-content class="sticky-container" style="height: 100%;">
        <md-subheader class="md-sticky-no-effect">Liste des Appels</md-subheader>
        <div style="padding:15px">
            <div style="max-height: 370px;overflow:scroll">
                <div class="data-table-container">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Telepro</th>
                                <th>Categorie</th>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Addresse</th>
                                <th>Prix</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td colspan="15" class="divider divider--dark"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-table__clickable-row" ng-repeat="inter in inters">
                                <a href="www.google.com">
                                    <td>{{::inter.id}}</td>
                                    <td>{{::inter.t}}</td>
                                    <td><span style="width:80px" class="label {{::config.categoriesHash()[inter.c].color}}">{{::config.categoriesHash()[inter.c].long_name}}</span></td>
                                    <td>{{::inter.n}}</td>
                                    <td>{{::inter.di | relativeDate}}</td>
                                    <td>{{::inter.ad}}</td>
                                    <td>{{::inter.pa}}€</td>
                                    <td><span style="width:90px" class="label {{::config.etatsHash()[inter.s].color}}"> {{::config.etatsHash()[inter.s].long_name}}</span></td>
                                </a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer();" class="md-primary black-text">
            OK
        </md-button>
    </div>
</md-dialog>
