<md-dialog aria-label="Mango (Fruit)" style=";height: 530px;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll;width: 950px">
        <div class="" style="padding-left: 15px;padding-right: 15px;">
            <br>
            <info-compta  dialog="true" display-paiement="true" display-reglement="false" data="data"></info-compta>
    </md-dialog-content>
    <div class="md-actions card" layout="row">
        <md-button ng-click="answer(null);" class="md-primary black-text red">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" ng-if="data.compta.reglement.recu" class="md-primary black-text orange">
            dé-valider
        </md-button>
        <md-button ng-click="answer(true);"  class="md-primary black-text green">
            Valider
        </md-button>
    </div>
</md-dialog>
