<md-dialog aria-label="Mango (Fruit)" style="  width: 1100px;height: 50%;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4;overflow:scroll">
        <div style="padding-left: 15px;padding-right: 15px;">
            <br>
            <div class="row" style="margin:0">
                <div class="card margin">
                    <div class="p+" style="padding-bottom: 55px!important;">
                        <div class="col-sm-3" style="padding-left:0;">
                            <lx-text-field label="Prix Annoncé">
                                <input eurofilter ng-model="data.prixAnnonce" ng-disabled="true">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-3" style="padding-left:0">
                            <lx-text-field label="Prix Final">
                                <input eurofilter ng-model="data.prixFinal">
                            </lx-text-field>
                        </div>
               <!--          <div class="col-sm-3 ">
                            <md-checkbox ng-model="data.reglementSurPlace" aria-label="Checkbox 1">
                                <div class="hidden-sm hidden-md">
                                    Reglement Sur Place
                                </div>
                                <div class="hidden-lg hidden-xs ">
                                    RSP
                                </div>
                            </md-checkbox>
                        </div> -->
                        <div class="col-sm-3 col-sm-offset-3">
                            <div class="select-style text-field">
                                <select ng-model="data.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                                </select>
                                <label ng-class="{'selected' : data.modeReglement}">
                                    <div class="hidden-sm hidden-md">
                                        Mode de Reglement
                                    </div>
                                    <div class="hidden-lg hidden-xs ">
                                        Mode Regl.
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <credit-card class="margin" model="data" ng-if="data.modeReglement === 'CB'"></credit-card>
            <info-fourniture data="data" display="true"></info-fourniture>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary black-text">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary black-text">
            Valider
        </md-button>
    </div>
</md-dialog>
