<md-dialog aria-label="Mango (Fruit)" style="  width: 1100px;height: 80%;">
    <md-dialog-content class="sticky-container" style="height: 100%;background:#C4C4C4">
        <div style="padding-left: 15px;padding-right: 15px;">
            <br>
            <div class="row" style="margin:0">
                <div class="card margin">
                    <div class="p+" style="padding-bottom: 55px!important;">
                        <div class="col-sm-3" style="padding-left:0;">
                            <lx-text-field label="Prix Annoncé">
                                <input eurofilter ng-model="data.prixAnnonce" ng-disabled="true">
                            </lx-text-field>
                        </div>
                         <div class="col-sm-3" style="padding-left:0">
                            <lx-text-field label="Prix Final">
                                <input eurofilter ng-model="data.prixFinal">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
            </div>
            <produits display="true" data="data"></produits>
            <info-fourniture data="data" display="true"></info-fourniture>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary">
            Valider
        </md-button>
    </div>
</md-dialog>
