<div class="row card" style="overflow: scroll;" style="min-height:599px">
  <table class="table">
    <tbody>
      <tr>
        <td ng-repeat="g in  vm.data" ng-if="g.length">
          <table class="table table-bordered" style="width: 49px;">
            <tr>
              <td colspan="5">
                <strong>{{g[0].date|date:"MMMM yyyy"}}</strong>
              </td>
            </tr>
            <tr>
              <td bold>Nom Societe</td>
              <td bold>Nbr</td>
              <td bold>Com.</td>
              <td bold>Palier</td>
              <td bold>Interventions</td>
            </tr>
            <tr ng-repeat="x in g">
              <td style="width:0px">
                <a href="/artisan/{{x.sst}}/recap">{{x.nomSociete}} - {{x.sst}}</a>
              </td>
              <td>
                {{x.nbr}}
              </td>
              <td class="green-text">
                <span ng-if="x.com"> +</span> {{x.com}}
              </td>
              <td>
                -{{x.ceil}}
              </td>
              <td>
                <button class="btn btn-default btn-xs" ng-click="vm.selectedID = !vm.selectedID ? (x.date + x.sst) : null"> Détails</button>
                <span ng-if="vm.selectedID === (x.date + x.sst)" ng-repeat="(k,i) in x.ids">
                  <br ng-if="k % 2 === 0"> -
                  <a href="/intervention/{{i}}">{{i}}</a>
                </span>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
