<div class="row card" style="overflow: scroll;" style="min-height:599px;margin:100px">
  <div class="col-sm-3 col-sm-offset-1" style="margin:70px;">
    <table class="table table-striped table-bordered" ng-init="vm.sb = '-step'">
      <thead>
        <tr>
          <td>Société</td>


          <td ng-click="vm.xsort('-nbrIntervention')">Nombre d'inters total</td>
          <td ng-click="vm.xsort('-oldStep')">Comission Payés</td>
          <td ng-click="vm.xsort('-step')">Intervention avec comission à payer</td>
          <td ng-click="vm.xsort('-step')">Comission</td>
          <td ng-click="vm.xsort('-nbrComissionPotentiel')">Potentiel</td>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="sst in vm.data|orderBy:vm.sb">
          <td>{{sst.nomSociete}}</td>


          <td><a href="/artisan/{{sst.id}}">{{sst.nbrIntervention}} </a> </td>
          <td>{{sst.totalPaye / 10}}</td>
          <td>{{sst.nbrComissionImpaye + (sst.nbrComissionPaye % 10)}}</td>
          <td>{{sst.step}}</td>
          <td class="blue-text">{{sst.nbrComissionPotentiel}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <a target="_blank" href="/api/artisan/getStep?download=true" download > <button style="" class="btn btn-success">Exporter en CSV</button></a>
  </div>
</div>
