<div class="card margin">
    <style type="text/css">
    </style>
    <div class="p+" style="width:95%">
        <div class="row">
            <div class="col-sm-4">
                <input placeholder="Rechercher..." type="text" ng-model="search" class="form-control">
            </div>
        </div>
        <br>
        <table class="table table-bordered tbls-usrs">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Pseudo</th>
                    <th>Service</th>
                    <th>Ligne</th>
                    <th>Root</th>
                    <th>init pw</th>
                    <th>Actif</th>
                    <th>Sup.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in usrs | filter:search track by $index">
                    <td>
                        <input type="text" class="form-control" ng-model="p.login">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="p.email">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="p.pseudo">
                    </td>
                    <td>
                        <select class="form-control" ng-model="p.service">
                            <option value="INTERVENTION">INTERVENTION</option>
                            <option value="PARTENARIAT">PARTENARIAT</option>
                            <option value="INFORMATIQUE">INFORMATIQUE</option>
                            <option value="COMPTABILITE">COMPTABILITE</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="p.ligne">
                    </td>
                    <td style="width:1%">
                        <md-checkbox ng-model="p.root" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
                    <td style="width:1%">
                        <md-checkbox ng-model="p.passInit" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
                    <td style="width:1%">
                        <md-checkbox ng-model="p.activated" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                        </md-checkbox>
                    </td>
                    <td style="width:1%">
                        <button class="btn--no-conflicts btn--l btn--red btn--icon" ng-click="usrs.splice($index, 1)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



 <div class="fab" style="position: fixed;right: 40px;z-index: 999;top: 87%;">
        <button ng-click="vm.save()" class="btn--no-conflicts btn--l btn--black btn--fab green"><i class="fa fa-check"></i></button>
    </div>
    <div class="fab" style="position: fixed;right: 100px;z-index: 999;top: 87%;">
        <button ng-click="usrs.push({single:false, open:true})" class="btn--no-conflicts btn--l btn--black btn--fab blue"><i class="fa fa-plus"></i></button>
    </div>


</div>
