<md-dialog aria-label="Mango (Fruit)" style="  width: 34%;height: 60%;">
    <md-dialog-content class="sticky-container" style="height: 100%">
        <md-subheader class="md-sticky-no-effect">Envoyer l'intervention</md-subheader>
        <div style="padding:15px">
            <div class="select-style text-field">
                <select ng-model="addedFile" ng-options="f.id as f.name for f in xfiles">
                </select>
                <label ng-class="{'selected' : addedFile}">Fichier Supp.</label>
            </div>
            <md-input-container flex>
                <label>SMS OS</label>
                <textarea ng-model="smsText" columns="1" md-maxlength="250"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="answer(true);" class="md-primary">
            Annuler
        </md-button>
        <md-button ng-click="answer(false);" class="md-primary">
            Valider
        </md-button>
    </div>
</md-dialog>
