  <link href="/css/pages.min.css" rel="stylesheet" type="text/css">

	<div class="error-code">404</div>

	<div class="error-text">
		<span class="oops">OOPS!</span><br>
		<span class="hr"></span>
		<br>
		SOMETHING WENT WRONG, OR THAT PAGE DOESN'T EXIST... YET
	</div> <!-- / .error-text -->

	<form action="" class="search-form">
		<input type="text" class="search-input" name="s">
		<input type="submit" value="SEARCH" class="search-btn">
	</form> <!-- / .search-form -->
	<script type="text/javascript">
	</script>