<div class="container" style=" margin: auto;max-width: 1200px;">
    <div class="row">
        <div class="col-sm-12 " style="height:100%">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <div class="card" style="padding:20px">
                    <div class="p+">
                        <div style="float:left;width:40%">
                            <strong class="fs-headline display-block">Fiche de SST</strong>
                            <span ng-if="vm.data.login" class="fs-subhead tc-black-2 display-block">Ajoute le {{vm.data.date.ajout| date:"dd/MM à HH:mm"}} par {{vm.data.login.ajout}}</span>
                        </div>
                        <div style="float:right;width:30%">
                            <button ng-click="vm.data.origin = 'DEM'" class="btn--no-conflicts btn--l {{vm.data.origin === 'DEM' ? 'blue' : 'grey' }} btn--flat" lx-ripple><strong>DÉMARCHÉ</strong></button>
                               <button ng-click="vm.data.origin = 'CAND'" class="btn--no-conflicts btn--l {{vm.data.origin === 'CAND' ? 'yellow darken' : 'grey' }} btn--flat" lx-ripple><strong>CANDIDAT</strong></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="padding:20px">
                    <strong class="fs-headline display-block">Societé</strong>
                    <div class="p+">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="select-style text-field">
                                    <select ng-model="vm.data.formeJuridique" ng-options="fj.short_name as fj.long_name group by fj.type for fj in vm.config.formeJuridiqueHash()">
                                    </select>
                                    <label ng-class="{'selected' : vm.data.formeJuridique}">
                                        Forme Juridique
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <lx-text-field label="Nom Société">
                                    <input capitalize ng-model="vm.data.nomSociete">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="select-style text-field">
                                    <select ng-model="vm.data.representant.civilite" ng-options="civ.short_name as civ.long_name for civ in config.civilites">
                                    </select>
                                    <label ng-class="{'selected' : vm.data.representant.civilite}">Civilité</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <lx-text-field label="Prenom Representant">
                                    <input capitalize ng-model="vm.data.representant.prenom">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-5">
                                <lx-text-field label="Nom Representant">
                                    <input capitalize ng-model="vm.data.representant.nom">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <lx-text-field label="Email">
                                    <input capitalize type="text" ng-model="vm.data.email">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-3">
                                <lx-text-field label="Téléphone 1">
                                    <input capitalize type="text" ng-model="vm.data.telephone.tel1">
                                </lx-text-field>
                            </div>
                            <div class="col-sm-3">
                                <lx-text-field label="Téléphone 2">
                                    <input capitalize type="text" ng-model="vm.data.telephone.tel2">
                                </lx-text-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <artisan-categorie model="vm.data"></artisan-categorie>
            <br>
            <div class="card" style="padding:20px">
                <div class="p+">
                    <strong class="fs-headline display-block">Addresse</strong>
                    <edison-map is-new="vm.isNew" height="big" data="vm.data" client="vm.data"></edison-map>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <lx-text-field label="Numero">
                                <input capitalize type="text" ng-model="vm.data.address.n">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-4">
                            <lx-text-field label="Addresse">
                                <input capitalize type="text" ng-model="vm.data.address.r">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field label="Code Postal">
                                <input capitalize type="text" ng-model="vm.data.address.cp">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-4">
                            <lx-text-field label="Ville">
                                <input capitalize type="text" ng-model="vm.data.address.v">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="padding:20px">
                <div class="p+">
                    <strong class="fs-headline display-block">Pourcentages</strong>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <lx-text-field label="Déplacement">
                                <input type="number" ng-model="vm.data.pourcentage.deplacement">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-3">
                            <lx-text-field label="Main D'oeuvre">
                                <input type="number" ng-model="vm.data.pourcentage.maindOeuvre">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-3">
                            <lx-text-field label="Fourniture">
                                <input type="number" ng-model="vm.data.pourcentage.fourniture">
                            </lx-text-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <lx-text-field label="Zone de Chalandise">
                                <input type="number" ng-model="vm.data.zoneChalandise">
                            </lx-text-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <lx-text-field label="Siret">
                                <input type="text" ng-model="vm.data.siret">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin:0">
                <div class="col-sm-6" style="padding-left:0">
                    <div class="card" id="fileUpload" ng-if="vm.data.id">
                        <div class="p+">
                            <strong class="fs-headline display-block">Documents</strong>
                            <span class="fs-subhead tc-black-2 display-block">Documents</span>
                            <div id="fileUploadProgress"></div>
                            <div class="data-table-container">
                                <table class="data-table data-table--has-primary data-table--has-secondary">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Nom</th>
                                            <th style="font-weight:bold">Info</th>
                                            <th style="font-weight:bold">Voir</th>
                                            <th style="font-weight:bold">Ajouté</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="products data-table__clickable-row" ng-repeat="file in vm.config.artisanFiles">
                                            <td>
                                                <span>{{file}}</span>
                                            </td>
                                            <td>
                                                <span class="display-block fs-body-1 tc-black-2" ng-if="vm.data.document[file]">
                                                 {{vm.data.document[file].date | date:"dd/MM/yy"}}
                                                 {{vm.data.document[file].login}}</span>
                                            </td>
                                            <td>
                                                <a ng-if="vm.data.document[file]" target="_blank" href="/api/artisan/{{::vm.data.id}}/openDocument?file={{::file}}">
                                                    <button class="btn--no-conflicts btn--m btn--green  btn--raised" lx-ripple>Voir</button>
                                                </a>
                                            </td>
                                            <td>
                                                <!--   <button  class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Upload</button> -->
                                                <lx-file-input style="display:none" id="file_{{file}}" label="Upload" value="fileUploadText" change="vm.onFileUpload(e, file)"></lx-file-input>
                                                <button ng-click="vm.clickTrigger(file)" class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Upload</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right:0">
                    <div class="card margin">
                        <div class="p+">
                            <strong class="fs-headline display-block">Commentaires</strong>
                            <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>
                            <div class="paragraph fs-body-1 mt+" style="height:100%">
                                <ul style="padding-bottom:20px;margin-left: 0px;">
                                    <li class="list-row" ng-repeat="com in vm.data.comments | reverse">
                                        <div class="list-row__content">
                                            <span class="display-block">{{com.text}}</span>
                                            <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__actions">
                            <input style="border: 0;width:100%" type="text" placeholder="Commentaire..." ng-model="vm.commentText" ng-enter="vm.addComment()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fab" style="float: right;position: fixed;right: 70px;z-index: 999;top: 87%;">
                <button ng-click="vm.saveArtisan({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
                    <i class="mdi" ng-class="vm.data.id ? 'mdi-camera-iris' : 'mdi-plus'"></i>
                    <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                </button>
                <div class="fab__actions fab__actions--left">
                    <button ng-click="vm.saveArtisan({contrat:true, signe:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Contrat Signé" tooltip-position="top"><i class="fa fa-send"></i></button>
                    <button ng-click="vm.saveArtisan({contrat:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Envoyer Contrat" tooltip-position="top"><i class="fa fa-send-o"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
