<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Edison Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <base href="/">
    <link href="/dist/styles.css" rel="stylesheet" type="text/css">
    <script src="/dist/libs.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="/dist/bundle.js"></script>
    <script src="/dist/all.js"></script>
</head>

<body ng-app="edison" ng-controller="MainController" style="  background: #f4f4f4 url(/img/mooning.png);" class="ng-cloak main-menu-fixed main-navbar-fixed theme-adminflare main-menu-animated" ng-class="{'mmc' : sideBarIsOpen}" ng-click="closeContextMenu()">
    <div id="main-wrapper" ng-hide="loadingData">
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <!-- Main menu toggle -->
            <button type="button" id="main-menu-toggle" ng-click="sideBarIsOpen = !sideBarIsOpen">
                <i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
            <div class="navbar-inner">
                <!-- Main navbar header -->
                <!-- / .navbar-header -->
                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <!--  -->
                    <md-autocomplete class="searchBar" style="width: 100px;float: right;margin-top: 3px;margin-right: 75px;" md-search-text-change="null" md-min-length="3" md-selected-item-change="searchBox.change(selectedItem)" md-menu-class="autocomplete-custom-template" md-selected-item="selectedItem" md-search-text="searchText" md-autofocus="false" md-items="item in searchBox.search(searchText)" placeholder="Recherche..." md-item-text="item.description">
                        <span md-highlight-text="searchText"> {{item.description}}</span>
                    </md-autocomplete>
                </div>
                <!-- / #main-navbar-collapse -->
            </div>
            <!-- / .navbar-inner -->
        </div>
        <side-bar ng-if="user.login && interventionsStats">
            <drop-down id="service-intervention" title="Service Intervention" icon="circle" open-default="user.service === 'INTERVENTION'">
                <link fltr="i_all" icon="th-list" title="Tous les Interventions"></link>
                <drop-down title="Mes Interventions" icon="calendar" open-default="user.service === 'INTERVENTION'">
                   <link fltr="i_tall" icon="th-list" color="primary" bold="true" title="{{dateFormat}}" login="{{user.login}}"></link>
                    <link fltr="i_tenv" icon="th-list" login="{{user.login}}"></link>
                    <link fltr="i_apr" icon="th-list" color="primary" login="{{user.login}}"></link>
                    <link fltr="i_avr" icon="th-list" color="warning" login="{{user.login}}"></link>
                </drop-down>
                <drop-down title="Mes Factures" icon="dollar">
                    <link fltr="i_fall" icon="th-list" login="{{user.login}}"></link>
                    <link fltr="i_fact" icon="th-list" login="{{user.login}}"></link>
                    <link fltr="i_carl" icon="th-list" login="{{user.login}}"></link>
                </drop-down>
                <drop-down icon="hospital-o" title="Mes Devis" open-default="user.service === 'INTERVENTION'">
                    <link fltr="d_all" model="devis" icon="th-list" title="Tous les Devis" color="default"></link>
                    <link fltr="d_tall" model="devis" bold="true" title="{{dateFormat}}" color="success" icon="th-list" login="{{user.login}}"></link>
                    <link fltr="d_aev" model="devis" icon="th-list" color="danger" login="{{user.login}}"></link>
                    <link fltr="d_att" model="devis" icon="th-list" color="warning" login="{{user.login}}"></link>
                    <link fltr="d_ann" model="devis" icon="th-list" color="default" login="{{user.login}}"></link>
                </drop-down>
                <drop-down title="Mes Sous-Traitants" icon="truck">
                    <link fltr="i_sarl" icon="th-list" login="{{user.login}}"></link>
                </drop-down>
                <drop-down icon="share" open-default="userStats.i_savEnc.total" title="Mes S.A.V">
                    <link fltr="i_sav" icon="th-list" login="{{user.login}}" color="primary"></link>
                    <link fltr="i_savEnc" icon="th-list" login="{{user.login}}" color="danger"></link>
                </drop-down>
                <drop-down icon="bolt" open-default="userStats.i_litEnc.total" title="Mes Litiges">
                    <link fltr="i_lit" icon="th-list" login="{{user.login}}"></link>
                    <link fltr="i_litEnc" icon="th-list" login="{{user.login}}" title="Litiges en cours" color="danger"></link>
                </drop-down>
            </drop-down>
            <drop-down title="Service Partenariat" icon="circle" open-default="user.service === 'PARTENARIAT'">
                <drop-down icon="truck" title="Artisans">
                    <link fltr="a_all" url="/artisan/contact" icon="th-list" model="artisan" title="Repertoire"></link>
                    <link fltr="a_all" icon="th-list" model="artisan" login='{{user.login}}' title="Mes Artisans"></link>
                    <link fltr="a_all" icon="th-list" model="artisan" title="Tous les Artisans" no-counter="true"></link>
                    <li>
                        <a href="/artisan"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Nouvel Artisan</span></a>
                    </li>
                </drop-down>
                <drop-down icon="phone" title="Démarchage">
                    <link fltr="i_mar" icon="th-list" title="Market"></link>
                    <link fltr="i_pan" icon="th-list" login="{{user.login}}" hash-model="dm" title="Mon Panier"></link>
                    <link fltr="i_hist" icon="th-list" title="Mon Historique" login="{{user.login}}" hash-model="dm"></link>
                </drop-down>
                <drop-down icon="suitcase" title="Management">
                    <link fltr="i_sarl" icon="th-list" login="{{user.login}}" hash-model="dm" title="Relances cheques"></link>
                </drop-down>
            </drop-down>
            <drop-down title="Service Comptabilité" icon="circle" open-default="user.service === 'COMPTABILITE'">
                <simple-link icon="credit-card" title="Liste Paiements Att." url="/compta/lpa"></simple-link>
                <simple-link icon="tags" title="Avoirs" url="/compta/avoirs"></simple-link>
                <simple-link icon="database" title="Archives Reglements" url="/compta/archivesReglement"></simple-link>
                <simple-link icon="database" title="Archive Paiements" url="/compta/archivesPaiement"></simple-link>
            </drop-down>
            <br>
            <br>
            <li>
                <a href="/intervention"><i class="menu-icon fa fa-table"></i><span class="mm-text">Ajout d'une intervention</span></a>
            </li>
            <li>
                <a href="/devis"><i class="menu-icon fa fa-table"></i><span class="mm-text">Ajout d'un Devis</span></a>
            </li>
        </side-bar>
        <div class="page-header" style="background: #f4f4f4 url(/img/mooning.png);">
            <div class="menu-tabs">
                <md-tabs md-selected="tabs.selectedTab" style=" margin-left: 6px;">
                    <md-tab ng-repeat="tab in tabs._tabs" style="padding-right:8px">
                        <md-tab-label><a href="{{tab.fullUrl}}">{{tab.title || "•••"}} </a><span ng-if="tab.hash" style="color:black;font-size:8px">{{tab.hash|loginify}}</span> <i ng-click="tabIconClick($event, tab)" class="fa fa-remove"></i></md-tab-label>
                    </md-tab>
                </md-tabs>
            </div>
            <div id="content-wrapper">
                <div ng-view style="margin-top: 16px;">
                </div>
                <div id="globalProgress" style="position:fixed;top: 50%;left: 57%;z-index: 12222;"></div>
            </div>
        </div>
        <div id="main-menu-bg"></div>
    </div>
    <!-- / #main-wrapper -->
    <div ng-show="loadingData || true" class="animate-loading">
        <div class="spinner">
            <!--             <div class="double-bounce1"></div>
            <div class="double-bounce2"></div> -->
        </div>
    </div>
    <script type="text/javascript">
    //  window.PixelAdmin.start(init);
    var searchInput = 'md-autocomplete.searchBar>md-autocomplete-wrap>input'
    $(searchInput).ready(function() {
        $(searchInput).focus(function() {
            $('md-autocomplete.searchBar').css('width', '800px')
        })
        $(searchInput).blur(function() {
            $('md-autocomplete.searchBar').css('width', '100px')
        })

    })
    _.templateSettings.interpolate = /{{([\s\S]+?)}}/g;
    </script>

</html>
