<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Edison Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <base href="/">
    <!-- Open Sans font from Google CDN -->
    <!-- <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    -->
    <!-- Pixel Admin's stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="/css/themes.min.css" rel="stylesheet" type="text/css">
    <link href="/css/loaders.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/ng-table/dist/ng-table.css" rel="stylesheet" type="text/css">
    <link href="/angular-xeditable/xeditable.css" rel="stylesheet" type="text/css">
    <link href="/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" type="text/css">
    <link href="/css/material-color.css" rel="stylesheet" type="text/css">
    <link href="/pickadate/lib/compressed/themes/classic.css" rel="stylesheet" type="text/css">
    <link href="/pickadate/lib/compressed/themes/classic.date.css" rel="stylesheet" type="text/css">
    <link href="/pickadate/lib/compressed/themes/classic.time.css" rel="stylesheet" type="text/css">
    <link href="/ngDialog/css/ngDialog.min.css" rel="stylesheet" type="text/css">
    <link href="/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">
    <link href="/css/material-color.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/mdi/css/materialdesignicons.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-resource/angular-resource.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/ngDialog/js/ngDialog.min.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="/angular-socket-io/socket.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="/ngmap/build/scripts/ng-map.js"></script>
    <script src="/dist/bundle.js"></script>
    <script src="/dist/all.js"></script>
</head>

<body ng-app="edison" ng-controller="MainController" style="  background: #f4f4f4 url(/img/mooning.png);" class="ng-cloak main-menu-fixed main-navbar-fixed theme-adminflare main-menu-animated">
    <script>
    var init = [];
    </script>
    <div id="main-wrapper" ng-hide="loadingData">
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <!-- Main menu toggle -->
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
            <div class="navbar-inner">
                <!-- Main navbar header -->
                <!-- / .navbar-header -->
                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <md-tabs md-selected="tabs.selectedTab" md-border-bottom style="  margin-left: 61px;">
                        <a ng-repeat="tab in tabs._tabs" href="{{tab.url}}" ng-class="{'deleted' : tab.deleted}">
                            <md-tab>
                                <md-tab-label ng-click="checkTitle(tab)">{{tab.title || "•••"}} <span ng-if="tab.subTitle" style="color:black;font-size:8px">{{tab.subTitle}}</span> <i ng-click="tabIconClick($event, tab)" class="fa fa-remove" style="cursor:crosshair"></i></md-tab-label>
                            </md-tab>
                        </a>
                    </md-tabs>
                </div>
                <!-- / #main-navbar-collapse -->
            </div>
            <!-- / .navbar-inner -->
        </div>
        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <ul class="navigation">
                    <li>
                        <side-link fltr="all" icon="circle-o"></side-link>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-calendar"></i><span class="mm-text">Mes Interventions</span></a>
                        <ul>
                            <li>
                                <side-link fltr="all" today login="{{user.login}}" icon="th-list" total></side-link>
                            </li>
                            <li><a tabindex="-1" href="/interventions?d=t#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Ajouté</span><span class="label label-success">{{userStats.total}}</span></a>
                            </li>
                            <li><a tabindex="-1" href="/interventions/envoye?d=t#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Envoyé</span><span class="label label-warning">{{userStats.status.ENV.total || 0}}</span></a>
                            </li>
                            <li><a tabindex="-1" href="/interventions/aProgrammer?d=t#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">A Programmer</span><span class="label label-warning">{{userStats.status.APR.total || 0}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text">Mes Collegues</span><span class="badge badge-primary">{{interventionsStats.length}}</span></a>
                        <ul>
                            <li class="mm-dropdown" ng-repeat="telepro in interventionsStats | orderBy:'-total' ">
                                <a tabindex="-1" href="#"><span class="mm-text">{{telepro.login.slice(0, 1).toUpperCase()}}{{telepro.login.slice(1, -2)}}</span><span class="label label-primary"></span></a>
                                <ul>
                                    <li><a tabindex="-1" href="/interventions/relanceClient#{{telepro.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Client à Relancer</span><span class="label label-success">{{telepro.carl.total || 0}}</span></a>
                                    </li>
                                    <li><a tabindex="-1" href="/interventions/relanceArtisan#{{telepro.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Artisan à Relancer</span><span class="label label-success">{{telepro.sarl.total || 0}}</span></a>
                                    </li>
                                    <li><a tabindex="-1" href="/interventions/factureaEnvoyer#{{telepro.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Facture à envoyer</span><span class="label label-success">{{telepro.fact.total || 0}}</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-truck"></i><span class="mm-text">Mes Sous-traitants</span></a>
                        <ul>
                            <li><a tabindex="-1" href="/interventions/relanceArtisan#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">A Relancer</span><span class="label label-success">{{userStats.sarl.total || 0}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-user"></i><span class="mm-text">Mes Clients</span></a>
                        <ul>
                            <li><a tabindex="-1" href="/interventions/factureaEnvoyer#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Facture à envoyer</span><span class="label label-success">{{userStats.fact.total || 0}}</span></a>
                            </li>
                            <li><a tabindex="-1" href="/interventions/relanceClient#{{user.login}}"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">A Relancer</span><span class="label label-success">{{userStats.carl.total || 0}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-share"></i><span class="mm-text">Mes S.A.V</span></a>
                        <ul>
                            <li>
                                <side-link fltr="sav" today login="{{user.login}}" icon="th-list" total="{{userStats.sav.total || 0}}"></side-link>
                            </li>
                             <li>
                                <side-link fltr="savEnc" today login="{{user.login}}" icon="th-list" total="{{userStats.savEnc.total || 0}}"></side-link>
                            </li>
                        </ul>
                    </li>
                    <li class="mm-dropdown">
                        <a href="#"><i class="menu-icon fa fa-bolt"></i><span class="mm-text">Mes Litiges</span></a>
                        <ul>
                            <li>
                                <side-link fltr="lit" today login="{{user.login}}" icon="th-list" total="{{userStats.lit.total || 0}}"></side-link>
                            </li>
                             <li>
                                <side-link fltr="litEnc" today login="{{user.login}}" icon="th-list" total="{{userStats.litEnc.total || 0}}"></side-link>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- / .navigation -->
                <div class="menu-content">
                    <a href="/intervention" class="btn btn-primary btn-block btn-outline dark">Ajout d'une Intervention</a>
                    <a href="/intervention" class="btn btn-primary btn-block btn-outline dark">Ajout d'un Devis</a>
                </div>
            </div>
            <!-- / #main-menu-inner -->
        </div>
        <div class="page-header" style="background: #f4f4f4 url(/img/mooning.png);">
            <div id="content-wrapper">
                <div class="row " ng-if="!recap">
                    <div class="col-sm-2" style="height:200px" ng-repeat="telepro in interventionsStats | orderBy:'-total' | limitTo:6">
                        <div class="card">
                            <div style="width:95%;margin-right:0" class="p+">
                                {{telepro.login.slice(0, 1).toUpperCase()}}{{telepro.login.slice(1, -2)}}
                                <br> Ajouté:&nbsp; <a href="/interventions?d=t#{{telepro.login}}">
                                {{telepro|total}} 
                                <span class="hidden-xs hidden-sm hidden-md">({{telepro|montant}})</span></a>
                                <br> Envoyés: <a href="/interventions/envoye?d=t#{{telepro.login}}">
                                {{telepro.status.ENV|total}} 
                                <span class="hidden-xs hidden-sm hidden-md">({{telepro.status.ENV|montant}})</span></a>
                                <br> A Prog:&nbsp; <a href="/interventions/aProgrammer#{{telepro.login}}">
                                {{telepro.apr|total}} 
                                <span class="hidden-xs hidden-sm hidden-md">({{telepro.apr|montant}})</span></a>
                                <br> A Vérif: <a href="/interventions/aVerifier#{{telepro.login}}">
                                {{telepro.avr|total}} 
                                <span class="hidden-xs hidden-sm hidden-md">({{telepro.avr|montant}})</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-view></div>
            </div>
            <!-- content here -->
        </div>
        <!-- / #content-wrapper -->
        <div id="main-menu-bg"></div>
    </div>
    <!-- / #main-wrapper -->
    <div ng-show="loadingData" class="animate-loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <script src="/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/pickadate/lib/compressed/picker.js"></script>
    <script src="/lodash/lodash.min.js"></script>
    <script src="/angular-xeditable/xeditable.min.js"></script>
    <script src="/pickadate/lib/compressed/picker.date.js"></script>
    <script src="/pickadate/lib/compressed/picker.time.js"></script>
    <script src="/pickadate/lib/compressed/translations/fr_FR.js"></script>
    <script src="/ng-pickadate/ng-pickadate.js"></script>
    <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
    <script src="/velocity/velocity.js"></script>
    <script src="/lumx/dist/lumx.js"></script>
    <script src="/ng-table/dist/ng-table.js"></script>
    <script src="/moment/min/moment.min.js"></script>
    <script src="/moment/locale/fr.js"></script>
    <script src="/jquery.slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/pixel-admin/pixel-slimscroll.js"></script>
    <script src="/pixel-admin/app.js"></script>
    <script src="/pixel-admin/utils.js"></script>
    <script src="/pixel-admin/components_main-menu.js"></script>
    <script src="/pixel-admin/components_main-navbar.js"></script>
    <script src="/pixel-admin/events.js"></script>
    <script type="text/javascript">
    window.PixelAdmin.start(init);
    _.templateSettings.interpolate = /{{([\s\S]+?)}}/g;
    </script>

</html>
