<!DOCTYPE html>
<html>
<head>
    <title>
        Activer votre compte
    </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />


<style type="text/css">
   /**
 * parallax.css
 * @Author Original @msurguy -> http://bootsnipp.com/snippets/featured/parallax-login-form
 * @Reworked By @kaptenn_com 
 * @package PARALLAX LOGIN.
 */
    
    body {
        background-color: #444;
        background: url(/img/stardust.png);
 background-size: auto; 
    }
    .form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vertical-offset-100 {
        padding-top: 100px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    } 
</style>
    </head>
    <body>
            <div class="container">
                <div class="row vertical-offset-100">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">                                
                                <div class="row-fluid user-row">
                                    <img src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" class="img-responsive" alt="Conxole Admin"/>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form accept-charset="UTF-8" role="form" class="form-signin" action="/" method="post">
                                    <fieldset>
                                        <label class="panel-login">
                                            <div class="login_result"></div>
                                        </label>
                                        <input style="display:none" name="id" value="<%-data.id %>"/>
                                        <input class="form-control" placeholder="Utilisateur" value="<%- data.login %>" name="username" type="text" readonly>
                                        <input class="form-control" placeholder="Mot de passe" id="passwordbo" name="password" type="password">
                                        <input class="form-control" placeholder="Confirmation" name="confirmation" type="password">
                                        <br></br>
                                        <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Activer">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/remarkable-bootstrap-growl/bootstrap-notify.min.js"></script>
<script type="text/javascript">
function notify(title, message, type) {
 $.notify({
    title: title,
    message: message
  }, {
    animate: {
      enter: 'animated bounceInDown',
      exit: 'animated bounceOutUp'
    },
    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
              '<img data-notify="icon" class="img-circle pull-left">' +
              '<span data-notify="title"><strong>{1}</strong></span><br>' +
              '<span data-notify="message">{2}</span>' +
              '</div>',
    type:type
  }); 
}

$('form').submit(function(event) {
  event.preventDefault();
  $.ajax({
    url: '/activate',
    type: 'POST',
    dataType: 'json',
    data: $(this).serialize(),
  })
  .done(function(data) {
    console.log(data);
    if (data.status == 'ERR')
      notify('Erreur', data.flash, 'danger');
    else {
      notify('Succes', data.flash, 'success');
      window.setTimeout(function() { window.location = "/#<%- data.login %>" }, 800)
    }
  });

$(function() {
    $('#password').focus();
})

});
</script>
    </body>
</html>
