<footer class="footer">
    <div class="container">
      <p>Abel Chalier ©1995-2015</p>
      <p>Code licensed under the
        <a href="https://github.com/angular/angular.js/blob/master/LICENSE" target="_blank">The
          MIT License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
      </p>
    </div>
  </footer>