
          <table ng-controller="InterventionController as interCtrl" 
                style="background:white;" 
                ng-table="tableParams" 
                class="table table-bordered table-hover table-hover table-striped" 
                id="table-list"
                show-filter="true"  >
            <tbody id="tbody-list" ng-repeat="group in $groups" >
              <tr class="ng-table-group"  ng-show="config.selectedGrouping != 'NOPE'">
                  <td colspan="{{$columns.length}}"ng-click="group.$hideRows = !group.$hideRows">
                    {{$group | json}}
                      <a href="" >
                          <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                          <strong>{{ group.value }} ({{group.data.length }}) </strong>
                      </a>
                  </td>
              </tr>
          <tr data-id="{{info.id}}" 
              ng-click="ClickOnRow($event, info)" 
              ng-right-click="RightClickOnRow($event, info)"
              ng-hide="group.$hideRows" 
              ng-repeat-start="info in group.data" 
              ng-class="isInSelection(info.id) ? 'warning' : info.id === rightClickedRow ? 'info' : ''">
                <td  data-title="'Num Os'" sortable="'id'" filter="{ 'id': 'text' }">
                    <strong>{{info.id}}</strong>
                    {{joutPmntSst}}
                </td>
                <td data-title="'Télépro'" sortable="'telepro'">
                  {{info.telepro}}
                </td>
                <td  data-title="'Cat.'" sortable="'cat'" filter="{ 'cat': 'text' }">
                   <button class="btn btn-default btn-circle">
                     {{info.cat}}
                   </button>
                </td>
                <td class="date-length" data-title="'Date Ajout'" sortable="'dateAjout'" filter="{ 'dateAjout': 'text' }" >
                      {{info.dateAjout | date:"dd/MM/yy"}}
                      {{info.dateAjout | date:"HH'h'mm"}}
                </td>
                <td class="variable-length" data-title="'Client'" sortable="'nom'" filter="{ 'nom': 'text' }">
                  {{info.civ}}
                  <strong>{{info.nom |  characters:18 :true}}</strong>  
                </td>
                <td  class="variable-length" data-title="'Ville'" sortable="'add.v'" filter="{ 'add.v': 'text' }">
                    {{info.add.v  |  characters:15 :true }}
                </td>
                <td   data-title="'CP'" sortable="'add.cp'" filter="{ 'add.cp': 'text' }">
                  <strong> {{info.add.cp.substring(0,2)}}</strong>{{info.add.cp.substring(2,5)}}
                </td>
                <td  class="variable-length" data-title="'Artisan'" sortable="'artisan'"  filter="{ 'artisan': 'text' }"
                filter="{ 'sst': 'text' }" >
                    <strong>{{info.artisan |  characters:15 :true || ""}}</strong>
                </td>
                <td class="date-length"  data-title="'Date Intervention'" sortable="'dateInter'" filter="{ 'dateInter': 'text' }">
                    <div ng-show="info.dateInter[0] != 1">
                      {{info.dateInter | date:"dd/MM/yy" || ""}}
                      {{info.dateInter | date:"HH'h'mm" || ""}}
                    </div>
                </td>
                 <td  data-title="'Prix'" sortable="'prixAnn'">  
                  {{(info.prixAnn | number:2) + " €"}}
                 </td>
                <td  data-title="'Etat Inter'" sortable="'etat'">  
                  <button type="button" class="modal-win btn btn-circle btn-{{etatInterIcon[info.etat].c}}">
                  <i class="modal-win fa" ng-class="info.aVerifier ? 'fa-question' : 'fa-{{etatInterIcon[info.etat].i}}'"></i></button>
                </td>
                <td  data-title="'Pmnt Client'" sortable="'pmntCli'" >
                  <button type="button" 
                  class="modal-win  btn btn-circle btn-{{etatPmntIcon[info.ClientPmntClass].c}}">
                  <i class="modal-win fa fa-{{etatPmntIcon[info.ClientPmntClass].i}}"></i>
                  </button> 
                </td>
                <td  data-title="'Pmnt Artisan'" sortable="'pmntSst'" >
                  <button type="button" 
                  class="modal-win btn btn-circle" ng-class="info.pmntSst ? 'btn-success' : (info.pmntCli ? 'btn-warning' : 'btn-default')">
                  <i class="modal-win fa " ng-class="info.pmntSst ? 'fa-check' : (info.pmntCli ? 'fa-question' : '')"></i>
                  </button> 
                </td>
              </tr>
              <tr style="display:none"></tr>
              <tr ng-repeat-end ng-class="info.id == clickedRow ? 'show-preview' : 'hide-preview'">
                <td colspan="42" style="z-index:-12312312">
                  <div style="height:0px;background:white;"> 
                    <div class="row">
                      <div class="col-md-12 hide">
                        <div class="col-md-6">
                         <h2>{{(clickedRowData.prixAnn | number:2) + " € HT"}}</h2>
                         {{clickedRowData.facture ? 'FACTURE' : ''}}
                         <p class="text-left" style="font-size:19px">
                          Client: {{clickedRowData.civ}} {{clickedRowData.prenom}} <strong>{{clickedRowData.nom}} </strong><br>
                          Categorie: {{categories[clickedRowData.cat]}}<br>
                          Description: {{clickedRowData.desc}}<br>
                          Remarque: {{clickedRowData.remarque}}
                          </p>
                        </div>
                        <div class="col-md-6">
                               <h2></h2>
                                  {{clickedRowData.add.n}} {{clickedRowData.add.r}}, 
                                  {{clickedRowData.add.v}} <strong>{{clickedRowData.add.cp}}</strong> <br>
        <img ng-if="info.sst" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{clickedRowData.add.lt}},{{clickedRowData.add.lg}}&zoom=8&size=500x300&markers=size:big%7Ccolor:blue%7C{{clickedRowData.add.lt}},{{clickedRowData.add.lg}}&markers=size:big%7Ccolor:red%7C{{interCtrl.artisan[info.sst].lat}},{{interCtrl.artisan[info.sst].lng}}&key=AIzaSyDfbBWT4mYv_Qig4LVl3LQKuAimAzfEblk">
        <img ng-if="!info.sst" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{clickedRowData.add.lt}},{{clickedRowData.add.lg}}&zoom=8&size=500x300&markers=size:big%7Ccolor:green%7C{{clickedRowData.add.lt}},{{clickedRowData.add.lg}}&key=AIzaSyDfbBWT4mYv_Qig4LVl3LQKuAimAzfEblk">
  
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> 