<style type="text/css">
    .panel-heading {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
        padding: 0px;
        padding-top: 20px;
        padding-left: 0px;
        border-bottom:0;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px
    }


    .nav-tabs.active>li>a {
        font-weight: bold;
    }
    .nav-tabs>li>a {
        color:black;
        padding: 10px 7px;
    }

</style>

<div class="col-md-12" style="padding:0;z-index:0" ng-controller="TabsController as tCtrl">
            <div class="panel with-nav-tabs panel-default" style="margin:0;" >
                <div class="col-md-6 col-sm-6 col-xs-6 panel-heading" style="padding-left:10px">
                    <ul class="nav nav-tabs hidden-xs hidden-sm" style="border-bottom:0">
                        <li ng-click='setTelepro(-1)' ng-class="config.selectedTelepro === -1 ? 'active' : ''" >
                             <a href="javascript:void(0)">Tous</a></li>
                        <li ng-click='setTelepro($index)'
                            ng-class="$index == config.selectedTelepro ? 'active' : ''" 
                            ng-repeat="t in config.telepro"><a href="javascript:void(0)">{{t.name}}</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs dropdown hidden-md hidden-lg" style="z-index:42">
                             <li ><a href="#" data-toggle="dropdown">Télépro <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                            <li ng-click='setTelepro(-1)' ng-class="config.selectedTelepro === -1 ? 'active' : ''" >
                                <a href="javascript:void(0)">Tous</a></li>
                            <li ng-click='setTelepro($index)'
                                ng-class="$index == config.selectedTelepro ? 'active' : ''" 
                                ng-repeat="t in config.telepro"><a href="javascript:void(0)">{{t.name}}</a>
                             </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 panel-heading">
                    <ul class="nav nav-tabs hidden-xs hidden-sm" >
                        <li ng-click='setDate($index, true)'
                            ng-class="$index == config.selectedDate ? 'active' : ''" 
                            ng-repeat="t in config.interDate"><a href="javascript:void(0)">{{t.fr}}</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs dropdown hidden-md hidden-lg" style="z-index:42">
                             <li ><a href="#" data-toggle="dropdown">Dates <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                            <li ng-click='setDate(0)' ng-class="config.selectedDate === -1 ? 'active' : ''" >
                                <a href="javascript:void(0)">Tous</a></li>
                            <li ng-click='setDate($index, true)'
                                ng-class="$index == config.selectedDate ? 'active' : ''" 
                                ng-repeat="t in config.interDate"><a href="javascript:void(0)">{{t.fr}}</a>
                             </li>
                            </ul>
                        </li>
                    </ul>
            </div>
                <div class="col-md-3 col-sm-3 col-xs-3 panel-heading" style="padding-right:10px">
                    <ul class="nav nav-tabs hidden-xs hidden-sm" style="float:right" >
                        <li ng-click='setGrouping(g.grouping, true)'
                            ng-class="g.grouping == config.selectedGrouping ? 'active' : ''" 
                            ng-repeat="g in config.interGrouping"><a href="javascript:void(0)">{{g.name}}</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs dropdown hidden-md hidden-lg" style="z-index:42">
                             <li ><a href="#" data-toggle="dropdown">Groupes <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                             <li ng-click='setGrouping(g.grouping, true)'
                                 ng-class="g.grouping == config.selectedGrouping ? 'active' : ''" 
                                 ng-repeat="g in config.interGrouping"><a href="javascript:void(0)">{{g.name}}</a>
                              </li>
                            </ul>
                        </li>
                    </ul>
            </div>
</div>