.tabsdemoDynamicTabs .remove-tab {
    margin-bottom: 40px;
}

.tabsdemoDynamicTabs .demo-tab > div > div {
    padding: 25px;
    box-sizing: border-box;
}

.tabsdemoDynamicTabs .edit-form input {
    width: 100%;
}

.tabsdemoDynamicTabs md-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabsdemoDynamicTabs md-tab[disabled] {
    opacity: 0.5;
}

.tabsdemoDynamicTabs label {
    text-align: left;
}

.tabsdemoDynamicTabs .title {
    padding-top: 8px;
    padding-right: 8px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 24px;
}

.tabsdemoDynamicTabs [layout-align] > * {
    margin-left: 8px;
}

.tabsdemoDynamicTabs form > [layout] > * {
    margin-left: 8px;
}

.tabsdemoDynamicTabs form > [layout] > span {
    padding-top: 2px;
}

.tabsdemoDynamicTabs .long > input {
    width: 264px;
}

.tabsdemoDynamicTabs .md-button.add-tab {
    margin-top: 20px;
    max-height: 30px !important;
}

.content-wrapper {
    padding: 64px 0px 0px!important;
}

.listeInterventions {
    padding: 4px;
    padding-bottom: 21px;
}

.shadow-box {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.deleted {
    display: none;
}

md-content.autocomplete {
    position: absolute;
    background: transparent;
    z-index: 99;
    height: 100%;
    pointer-events: none;
}

md-autocomplete {
    pointer-events: all;
}

md-autocomplete > ul {
    pointer-events: all;
}

#static-map:hover {
    -webkit-filter: brightness(0.3)
}

#static-map {
    transition: -webkit-filter 0.1s linear;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    width: 1px;
    white-space: nowrap;
}

td[variable-length] {
    text-align: center;
    width: auto;
    padding: 0;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-style {
    padding: 0;
    margin: 0;
    top: 3px;
    border: 0px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("/img/arrowdown.gif") no-repeat 90% 73%;
}

.select-style.black >label {
    color: rgba(255, 255, 255, .3);
}

.select-style.black {
    color: white!important;
    background: transparent url("/img/arrowdown.gif") no-repeat 90% 73%!important;
}

.select-style select {
    cursor: pointer;
    padding: 5px 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style > label {
    position: absolute;
     color: rgba(0, 0, 0, 0.56);
    top: 36px;
    pointer-events: none;
}

.select-style > label.selected {
    font-size: 9px;
    top: 19px;
}

.date-picker > label {
    font-size: 9px;
    color: rgba(0, 0, 0, .26);
    pointer-events: none;
}

.date-picker {
    padding-top: 17px!important;
}

.date-picker > input {
    height: 100%;
    margin-bottom: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
}

md-checkbox {
    margin: 0px!important;
    padding-top: 35px;
}

md-checkbox:focus .md-label:not(:empty) {
    border: none;
}

.notification {
    left: 24px!important;
    right: initial!important;
}

input,
select,
textarea {
    font-weight: 500!important;
    font-size: 15px!important;
}

span[md-highlight-text] {
    position: relative!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
}

.info-ext>p {
    white-space: normal;
}

tr.products>td {
    white-space: normal;
}

div.pad-paragraph {
    padding-left: 33px;
    padding-right: 33px;
}

ul>presentation {
    margin-left: 0px!important;
}

.editable-click,
a.editable-click {
    border-bottom: 0!important;
}

.card__actions>text-field::before {
    display: none!important;
}

.card {
    overflow: visible!importan;
}

.md-dialog-container {
    z-index: 9999!important;
}

.lx-select {
    margin-top: 8px!important;
}

md-tab md-tab-label {
    color: white!important;
}

md-tabs.md-default-theme md-tabs-ink-bar {
    color: white!important;
    background: white!important;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    background: rgba(33, 150, 243, 1)
}

.select-style-neutral > select {
    cursor: pointer;
    padding: 5px 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
label.text-field__label, .text-field>label {
  color: rgba(0, 0, 0, 0.56);
}
.tc-black-2 {
  color: rgba(0, 0, 0, 0.66)!important;
}
