<div class="container" style=" margin: auto;max-width: 1200px;">
    <div class="row">
        <div class="card margin" style="height:800px;padding:20px;overflow:scroll">
            <table class="table table-condensed  table-hover table-bordered">

                <body>
                    <tr ng-repeat-start="artisan in vm.result">
                        <td variable-length>
                            <h2><a style="color:black" href="/artisan/{{artisan.id}}/recap">{{artisan.nomSociete}}</a></h2></td>
                    </tr>
                    <tr>
                        <td>Numero OS</td>
                        <td>Type</td>
                        <td>Base</td>
                        <td>Montant</td>
                        <td>Legacy</td>
                        <td>Balance</td>
                    </tr>
                    <tr ng-repeat="item in artisan.list" ng-click="item.checked = !item.checked">
                        <td><a style="color:black" href="/intervention/{{item.id}}">{{ item.id }}</a></td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.montant.base}} €</td>
                        <td>{{ item.montant.total}} €</td>
                        <td>{{ item.montant.legacy ? (item.montant.legacy + ' €') : "" }}</td>
                        <td>{{ item.montant.balance }} €</td>
                        <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="item.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                    <tr ng-click="vm.checkArtisan(artisan)">
                        <td colspan="2"><strong>Somme</strong></td>
                        <td><strong>{{artisan.total.base}} €</strong></td>
                        <td><strong>{{artisan.total.montant}} €</strong></td>
                        <td><strong>{{artisan.total.legacy}} €</strong></td>
                        <td><strong>{{artisan.total.balance}} €</strong></td>
                        <td>
                            <md-checkbox aria-label="dsq" style="padding: 0px;" ng-checked="artisan.checked">
                            </md-checkbox>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="51"> <span style="color:white">-</span> </td>
                    </tr>
                </body>
            </table>
            <md-button class="md-raised">Imprimer Documents</md-button>
            <md-button class="md-raised">Upload Scan</md-button>
            <md-button class="md-raised md-warn">FLUSH</md-button>
        </div>
    </div>
</div>
