
<!DOCTYPE html>
<html lang="fr" ng-app="FicheInter">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" econtent="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"/>  
    <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
    <link rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
    <link rel="stylesheet" href="/css/FicheInter.css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  
  <style>
  .col-md-12 > h2 {
    text-align: center;
  }
  .well {
background: rgba(232,232,232,1);
background: -moz-linear-gradient(-45deg, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 47%, rgba(222,218,222,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(232,232,232,1)), color-stop(47%, rgba(222,222,222,1)), color-stop(100%, rgba(222,218,222,1)));
background: -webkit-linear-gradient(-45deg, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 47%, rgba(222,218,222,1) 100%);
background: -o-linear-gradient(-45deg, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 47%, rgba(222,218,222,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 47%, rgba(222,218,222,1) 100%);
background: linear-gradient(135deg, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 47%, rgba(222,218,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#dedade', GradientType=1 );
  }
  .MapDiv>div {
    width:100% !important;
  }
  </style>
  <body ng-controller="MainController as mainCtrl">
<% include ../Interventions/partials/navbar %> 
   <div class=" container ">
   <div class="span10 well bs-component" style="opacity:0.95">
       <form action="TraitementInter.php" method="POST" role="form" id="Form" >            
            <legend id='PageLegend' style="text-align:center">FICHE D'INTERVENTION</legend>
            <fieldset>
              <div class='form-group' >
                <div class="col-md-12"><h2>Client</h1></div>
                <div class='col-sm-2'>
                      <select name="civilite" id="civ_select" value="civilite" class="span12 form-control" required>
                          <option disabled selected value ="" selected>Civilité</option>
                          <option value="M.">M.</option>
                          <option value="Mme.">Mme.</option>
                          <option value="Soc.">Société</option>
                      </select>
                </div>
                <div class='col-sm-4'>
                  <input class="form-control" id="nom" placeholder="Nom" name="nom" type="text" required />
                </div>
                <div class='col-sm-6'>
                  <input class="form-control" id="prenom" placeholder="Prénom" name="prenom" type="text" />
                </div>
              </div>


<div class='col-sm-12 margin-xs'></div>

            <div class='form-group'>
                <div class='col-sm-6'>
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                     <input  tabindex="-1" id="tel2" type="text" class="span12 form-control" placeholder="Tel Mobile" name="tel2">
                    </div>

                </div>
              <div class='col-sm-6'>
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></div>
                   <input id="tel1" type="text" class="span12 form-control" placeholder="Tel Fixe"  name="tel1"> 
                </div>
              </div>
              
              </div>

<div class='col-sm-12 margin-xs'></div>
 <div id="local_tel" class='col-sm-6' style="display:none">
 </div>

                
              <div class='form-group'>

              <div class='col-sm-6'>
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                    <input id="numero_origine" type="text" class="span12 form-control" placeholder="Numero Entrant" name="numero_origine"  required>  
                  </div>
                 </div>



                <div class='col-sm-6'>
                 <div class="input-group">
                    <div class="input-group-addon"><span>@</span> </div>
                    <input class="form-control  email" placeholder="Email" id="email" name="email" type="text" />
                  </div>
                </div>
              </div>
                
                </fieldset>
              <fieldset>

                <div class='form-group'>
                <hr/>
                <div class="col-md-12"><h2>Artisan</h1></div>
                <div class="col-md-4 col-xs-12">
                  <h5>Société: KRB Serrurerie</h5>
                  <h5>Nom: M. Jean Lafitte</h5>
                  <h5>Distance: 41.6km (43mn)</h5>
                  <h5></h5>
                </div>

               <div class="col-md-2 col-xs-3 emphasis">
                    <h3><strong>123</strong></h3>                    
                    <p><small>Intervention</small></p>
                </div>
                <div class="col-md-2 col-xs-3 emphasis">
                    <h3><strong>32J</strong></h3>                    
                    <p><small>Membre Depuis</small></p>
                </div>
                <div class="col-md-2 col-xs-3 emphasis">
                    <h3><strong>85%</strong></h3>                    
                    <p><small>Reussite</small></p>
                </div>
                <div class="col-md-2 col-xs-3 emphasis">
                    <h3><strong>85%</strong></h3>                    
                    <p><small>Reussite</small></p>
                </div>
              </div>
              </fieldset>
                   <fieldset ng-controller="MapController"> 
          
                  <div class='col-sm-12' id='MapDiv' style="font-size: 18px;width:100%">

                     <hr/> 

            <input id="pac-input" class="controls NotCap" type="text" placeholder="Addresse">
            <nav class="GmSidebar">
            <ul clss="Gmul">

              <li class='Gmli' 
                  id="{{c.short}}" 
                  ng-repeat="c in categories" 
                  ng-click="categorieChange(c.short)">
                <div ng-class="{selectedCat: c.short == selectedCategorie}">{{c.short}}</div>
                <div>{{c.full}}</div>
              </li>
            
            </ul>
          </nav>
                <div style="width:100%;height:600px" id="map-canvas"></div>
        </div>
    
  </fieldset>
 <fieldset>

              <div class='form-group'>

                <div class='col-sm-2'>
                  <input id='numero' name="numero" type="text" class="form-control" placeholder="Numero" required>    
                </div>

                <div class='col-sm-4'>
                  <input id='rue' name="adresse" type="text" class="form-control" placeholder="Rue" required>    
                </div>
                <div class='col-sm-2'>
                  <input id='cp' name="code_postal" type="text" class="form-control" placeholder="Code Postal"  required>    
                </div>

                <div class='col-sm-4'>
                  <input id='ville' name="ville" type="text" class="form-control" placeholder="Ville" required>    
                </div>
                <hr/>
              </div>
             <div class='col-sm-12 margin-xs'></div>
            <div class='col-sm-12 margin-xs'></div>
            </fieldset>



        <fieldset>

        <legend style="text-align:center"> Informations d'Intevention</legend>
                   <div class='col-sm-12 margin-xs'></div>
                   <div class='col-sm-3'>
                        <div class="input-group btn-success">
                          <input style='float:left' value="OS Mail" type="button" class="form-control"  onclick="ChangeCheckbox('os_mail');">
                           <span class="input-group-addon">
                            <input id='os_mail' name='os_mail' style='zoom:1.7' type="checkbox">
                          </span>
                        </div><!-- /input-group -->
                    </div>
                        <div class='col-sm-3'>
                        <div class="input-group btn-warning">
                          <input style='float:left' value="OS SMS" type="button" class="form-control" onclick="ChangeCheckbox('os_sms');">
                           <span class="input-group-addon">
                            <input id='os_sms' name='os_sms'  style='zoom:1.7' type="checkbox">
                          </span>
                        </div><!-- /input-group -->
                    </div>

         <div class='col-sm-4'>
              <input type="text" id="datepicker" class='datepicker form-control' placeholder="Date">
         </div>
         <div class='col-sm-2'>
              <input type="text" id="timepicker" class='timepicker form-control' placeholder="Heure">
         </div>


      <div class='col-sm-12 margin-xs'></div>
      <div class='col-sm-12 margin-xs'></div>
              <div class='col-sm-6'>
                <textarea placeholder='Description simplifiée' class="form-control" rows="4" id="description" name="description" maxlength="45" required></textarea>
              </div>
            
                <div class='col-sm-6'>
                    <textarea placeholder="Remarques supplémentaires" class="form-control NotCap" rows="4" id="remarque" name="remarque" maxlength="150"></textarea>
              </div>

      <div class='col-sm-12 margin-xs'></div>
      <hr/>
      <div class='col-sm-12 margin-xs'></div>


            <div class='col-sm-3'>
                   <div class="input-group">
                      <select id="mode_reglement" name="mode_reglement" class="form-control" onchange="ChangeModeReglement(this.value)" required>
                          <option disabled selected value="" selected>Réglement</option>
                          <option value="cheque">Chèque</option>
                          <option value="especes">Espèces</option>
                          <option value="cb">CB</option>
                          <option value="facture">Facture</option>
                      </select>
                      <div class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></div>
                    </div>
                </div>

                <div class='col-sm-3'>
                 <div class="input-group">
                    <input id='prix_ht_annonce' name='prix_ht_annonce'class="form-control" placeholder="Prix HT Annoncé"type="text" />
                     <div class="input-group-addon"><span>€</span> </div>
                  </div>
                </div> 

                  <div class='col-sm-3'>
					<input type="file" class="filestyle form-control"  data-buttonName="btn-blue" data-buttonBefore="true" data-buttonText="Fichier Sup.">
              </div> 


                <div class='col-sm-3'>
                  <select name="etat_reglement" id="etat_reglement" class="form-control">
                      <option disabled selected value="" selected>Etat Règlement</option>
                      <option value="CHEQUE RECUPERE">Chèque Récuperé</option>
                      <option value="INTERVENANT A REGLER">Intervenant à régler</option>
                      <option value="EN ATTENTE">En Attente</option>
                      <option value="AUTRES">Autres</option>
                      <option value="CB">CB</option>
                      <option value="PAIEMENT EFFECTUE" disabled="true">Paiement Effectué</option>        
                  </select>
              </div>

 
                        <!--
                        <div style='margin-top:2%;width:48%;float:left'   class="input-group">
                          <input style='float:left' value="Risques D'annulations" type="button" class="form-control" onclick="ChangeCheckbox('annul');">
                           <span class="input-group-addon">
                            <input  name="annul"  id='annul' style='zoom:1.7' type="checkbox">
                          </span>
                        </div> -->


                <div class='col-sm-12 margin-xs'></div>
              



              <div id="OnlyWhenFacture" style="display:none">
                  <legend style="text-align:center">Informations Société/Propriétaire</legend>
                  <div class='col-sm-12 margin-xs'></div>


                    <div class='form-group'>
                      <div class='col-sm-6'>
                       <select id="type_client" name="type_client" class="form-control">
                              <option disabled  selected value="">Status Client</option>
                              <option value="1">Société</option>
                              <option value="2">Propriétaire</option>
                              <option value="3">Locataire</option>
                              <option value="4">Agence immobilière</option>
                              <option value="5">Curatelle</option>
                        </select>
                      </div>
                       <div class='col-sm-6'>
                         <input id="facture_geocoder"type="text"  class="form-control" placeholder="Addresse de Facturation">
                       </div>
                    </div>
              <div class='col-sm-12 margin-xs'></div>
              <div class='form-group' >
            
                <div class='col-sm-6'>
                  <input class="form-control" id="prenom_facture" placeholder="Prénom Propriétaire" name="prenom_facture"   type="text" />
                </div>
                <div class='col-sm-6'>
                  <input class="form-control" id="nom_facture" placeholder="Nom Propriétaire" name="nom_facture" type="text" />
                </div>
              </div>

          <div class='col-sm-12 margin-xs'></div>
             <div class='form-group'>
              <div class='col-sm-6'>
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
                    <input id="tel_facture"  name="tel_facture" type="text" class="span12 form-control" placeholder="Téléphone">  
                  </div>
                 </div>
                <div class='col-sm-6'>
                 <div class="input-group">
                    <div class="input-group-addon"><span>@</span> </div>
                    <input class="form-control  email" placeholder="Email" id="mail_facture" name="mail_facture" type="text" />
                  </div>
                </div>
              </div>

            <fieldset style='display:none'>
              <div class='form-group'>
                <div class='col-sm-6'>
                  <input id='numero_facture'  name='numero_facture' type="text" class="span6 form-control">    
                </div>
                <div class='col-sm-6'>
                  <label>Rue</label>
                  <input id='adresse_facture' name='adresse_facture' type="text" class="span6 form-control">    
                </div>
              </div>
              <div class='form-group'>
                <div class='col-sm-6'>
                  <label>Code Postal</label>
                  <input id='cp_facture' name='code_postal_facture' type="text" class="span6 form-control">    
                </div>

                <div class='col-sm-6'>
                  <label>Ville</label>
                  <input id='ville_facture' name='ville_facture' type="text" class="span6 form-control">    
                </div>
                <hr/>
              </div>
              </fieldset>
          <div class='col-sm-12 margin-xs'></div>    
        <div class='col-sm-12 margin-xs'></div>

            </div> <!-- OnlyWhenFacture -->



               <legend style="text-align:center"> Informations Fournisseur</legend>
                  <div class='col-sm-12 margin-xs'></div>
                
                  <div class='col-sm-3'>
                      <div class="input-group">
                      <select name="fournisseur" id="fournisseur" class="form-control" >
                          <option selected value="" selected>Fourniture Edison</option>
                          <option value="SST">Sous-Traitant</option>
                          <option value="CEDEO">Cedeo</option>
                          <option value="BROSSETTE">Brosette</option>
                          <option value="REXEL">Rexel</option>
                          <option value="COAXEL">Coaxel</option>
                          <option value="YESSS ELECTRIQUE">Yesss Electrique</option>
                          <option value="CGED">CGED</option>
                      </select>
                       <div class="input-group-addon"><span class="fa fa-hospital-o"></span></div>
                      </div>
                      </div>

                    <div class='col-sm-3'>
                      <div class="input-group">
                        <input id='cout_fourniture' name="cout_fourniture" class="form-control" placeholder="Cout Fourniture" type="text" />
                         <div class="input-group-addon"><span>€</span> </div>
                        </div>
                      </div>

<!-- 
                      <select name="fourniture_sst" id="fourniture" value="fourniture" class="form-control" >
                          <option disabled selected value="" selected>Fourniture</option>
                          <option value="1">Fourniture SST</option>
                          <option value="0">Fourniture Edison</option>
                      </select> 
                       <div class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></div> -->

                      <div class='col-sm-6'>
                        <textarea placeholder='Remarques Internes' class="form-control" rows="4" name="remarque_interne" id="remarque_interne"></textarea>
                       </div>
                             <div class='col-sm-12 margin-xs'></div>
                            <div class='col-sm-12 margin-xs'></div>
                       <button style='float:right;margin-left:5%;width:22%;font-size:110%;' type="submit" class="btn btn-success btn-lg">Valider</button>
                      <button id="AnnulationButton" style='float:right;margin-left:5%;width:22%;font-size:110%;' type="button" class="btn btn-danger btn-lg">Annuler</button>
                      <button  style='float:left;width:22%;font-size:100%;' type="button" class="btn btn-warning btn-lg">Quitter</button>
                  </div>
          </fieldset>
      </div>
     </form>
    </div><!--/.fluid-container-->
    </div>
<script src="/angular/angular.min.js"></script>
<script> var app = angular.module('FicheInter', []) </script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="/js/GoogleMapAbel.js"></script>
<script src="/string/lib/string.min.js"></script>
<script src="/js/AjoutInter.js"></script>
<script type="text/javascript">
  app.controller('MainController', function($scope, $http) {
    console.log("mainctrdl")
  });

</script>
 <!--   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="./libs/star-rating.min.js"></script>
    <script src="./libs/picker.js"></script>
    <script src="./libs/picker.date.js"></script>
    <script src="./libs/picker.time.js"></script>
    <script src="./libs/bootbox.min.js"></script>
    <script src="./libs/nprogress.js"></script>
    <script src="./libs/bootstrap-maxlength.min.js"></script>
    <script src="./libs/notification.js"></script>
    <script src="./libs/bootstrap-filestyle.min.js"></script>
    <script src="./js/GoogleMapAbel2.js"></script>
    <script src="./js/AjoutInter.js"></script>
 -->
     </body>
</html>
