<!DOCTYPE html>
<html >
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">

   <base href="/interventions">
  <title></title>
  </head>
  <style>

.btn-circle {
  position: absolute;
  width: 30px;
  margin-left:-40px;
  margin-top: -4px;
  height: 30px;
  margin-right:10px;
  text-align: center;
  padding: 0px 0;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.lst-item {
  padding-left:50px;
}
.txt {
}

  </style>
   <!-- ng-swipe-right="toggleSidebar();" ng-swipe-left="toggleSidebar(0);" -->
  <body oncontextmenu="return false;" >
 <% include partials/navbar %> 


<div class="row" >
    <!-- Main Content -->
    <div class="col-md-12" style="margin-top:150px">
        <h1 style="text-align:center">Les Etats</h1>
        <div class="col-md-4">
          <ul class="list-group">
           <a href="#" class="list-group-item disabled">Etats de l'Intervention</a>
            
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-default"><i class="fa"></i></button> 
             <span class="txt">  A programmer</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-danger"><i class="fa fa-close"></i></button> 
             <span class="txt">  Annulé</span>
            </li>            
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-info"><i class="fa fa-list"></i></button> 
             <span class="txt">  Devis en attente d'acceptation</span>
            </li>   
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-info"><i>2</i></button> 
             <span class="txt">  Devis en attente (2 relances envoyés)</span>
            </li>   
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-warning"><i class="fa fa-refresh"></i></button> 
             <span class="txt"> En cours (Ordre de service envoyé)</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-warning"><i class="fa fa-question"></i></button> 
             <span class="txt"> A confirmer (Date d'intervention dépassée) </span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-success"><i class="fa fa-check"></i></button> 
             <span class="txt"> Intervention Confirmé (Par le sst)</span>
            </li>
           <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle"><i class="fa fa-question"></i></button> 
             <span class="txt"> Litige</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
           <a href="#" class="list-group-item disabled">Etats du reglement Client</a>
            
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-default"><i class="fa "></i></button> 
             <span class="txt">Pas de reglement nécessaire</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-primary"><i class="fa fa-question"></i></button> 
             <span class="txt">Facture à envoyé</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-warning"><i class="fa fa-circle-thin"></i></button> 
             <span class="txt">En attente (date d'intervention < 1 semaine)</span>
            </li>            
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-warning"><i class="fa fa-question"></i></button> 
             <span class="txt">En attente (date d'intervention > 1 semaine)</span>
            </li>     
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-danger"><i class="fa fa-warning"></i></button> 
             <span class="txt">En attente (date d'intervention > 1 mois)</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-success"><i class="fa fa-check"></i></button> 
             <span class="txt"> Réglement éffectué</span>
            </li>
           <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle"><i class="fa fa-question"></i></button> 
             <span class="txt"> Litige</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
         <a href="#" class="list-group-item disabled">Etat du paiement Sous-traitant</a>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-default"><i class="fa "></i></button> 
             <span class="txt">Pas de reglement nécessaire</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-warning"><i class="fa fa-question"></i></button> 
             <span class="txt">Reglement client recu / pas de paiement sst</span>
            </li>     
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-success"><i class="fa fa-circle-thin"></i></button> 
             <span class="txt"> Paiement envoyé</span>
            </li>
            <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle btn-success"><i class="fa fa-check"></i></button> 
             <span class="txt"> Paiement encaissé</span>
            </li>
           <li class="list-group-item lst-item">
             <button type="button" class="btn btn-circle"><i class="fa fa-question"></i></button> 
             <span class="txt"> Litige</span>
            </li>
        </div>
  </div>
</div>
    <script src="/angular/angular.min.js"             ></script>
    <script src="/angular-touch/angular-touch.min.js" ></script>
    <script src="/jquery/dist/jquery.min.js"          ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" ></script>
  </body>
</html>