<!DOCTYPE html>
<html ng-app="InterventionApp">

  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="wwidth=device-width initial-scale=3 " />  
  <link rel="shortcut icon" href="https://angularjs.org/favicon.ico" />
  <link rel="stylesheet"  href="/ng-table/ng-table.css">
  <link id="BootstrapDefaultTheme" rel="stylesheet" href="/bootswatch/classic/bootstrap.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/ContextMenu/css/submenu.css">
  <link rel="stylesheet" href="/vex/css/vex.css">
  <link rel="stylesheet" href="/vex/css/vex-theme-os.css">
   <base href="/interventions">
  <title>{{config.pageTitle}}</title>
  </head>
   <!-- ng-swipe-right="toggleSidebar();" ng-swipe-left="toggleSidebar(0);" -->
  <body oncontextmenu="return false;" class="open-sidebar">
 <% include partials/navbar %> 



<div class="row" >

<% include partials/sidebar %> 
    <!-- Main Content -->
    <div class="container-fluid" style="padding-right:0px">
        <div class="side-body">
        
          <%include partials/tabs %>
          <%include partials/table-grouping %>

        </div>
    </div>
</div>
    <script src="/angular/angular.min.js"                 ></script>
    <script src="/angular-touch/angular-touch.min.js"     ></script>
    <script src="/jquery/dist/jquery.min.js"              ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"     ></script>
    <script src="/ng-table/ng-table.js"                   ></script>
    <script src="/angular-truncate/src/truncate.js"       ></script>
    <script src="/vex/js/vex.combined.min.js"             ></script>
    <script src="/moment/min/moment.min.js"               ></script>
    <script src="/ContextMenu/js/ContextMenu.min.js"      ></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <script src="/js/artisans.js"                     ></script>
    <script type="text/javascript">
    var app = angular.module('InterventionApp', ['ngTable','truncate', 'ngTouch'])
              app.run(function($rootScope) {
                  $rootScope.config = <%- JSON.stringify(config); %>
              });
      var modalBox = false;
    </script>
      <script src="/Controllers/InterventionController.js"       ></script>
     <script src="/Controllers/TabsController.js"                ></script>
     <script src="/Controllers/SideBarController.js"             ></script>
     <script src="/Controllers/ContextMenuController.js"         ></script>
    <% include partials/context %>
    
  </body>
</html>