<!DOCTYPE html>
<html ng-app="InterventionApp">

  <head>

    <script data-require="angular.js@*" data-semver="1.3.13" src="https://code.angularjs.org/1.3.13/angular.js"></script>
    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" />
  <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>

    <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>


  <body ng-controller="InterventionController">
    <h1>Hello Plunker!</h1>
      <table ng-controller="InterventionController as interCtrl" 
                style="background:white;" 
                ng-table="tableParams" 
                class="table table-bordered table-hover table-hover table-striped" 
                id="table-list"  >
            <tbody ng-repeat="group in $groups">
                    <tr class="ng-table-group">
                  <td colspan="{{$columns.length}}">
                    {{$group | json}}
                      <a href="" ng-click="group.$hideRows = !group.$hideRows">
                          <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                          <strong>{{ group.value }}</strong>
                      </a>
                  </td>
              </tr>
          <tr ng-hide="group.$hideRows" ng-repeat="info in group.data" 
              ng-class="{warning : isInSelection(info.id)}">
                <td  data-title="'Num Os'" >
                    <strong>{{info.id}}</strong>
                </td>

              </tr>
      </tbody>
    </table>

</body>
<script>
var app = angular.module('InterventionApp', ['ngTable'])
app.controller('InterventionController', function($scope, $rootScope,$filter, ngTableParams) {
  
  $rootScope.newData = JSON.parse('[{"id":15413,"telepro":"thomas"},{"id":15412,"telepro":"harald"},{"id":15411,"telepro":"thomas"},{"id":15410,"telepro":"jeremie"},{"id":15409,"telepro":"jeremie"},{"id":15408,"telepro":"jeremie"},{"id":15407,"telepro":"harald"},{"id":15406,"telepro":"thomas"},{"id":15405,"telepro":"jeremie"},{"id":15404,"telepro":"jeremie"}]');     
    
   $rootScope.tableParams = new ngTableParams({
        page: 1,            // show first page
        count: 10          // count per page
    }, {
        groupBy:"telepro",
        total:  $rootScope.newData.length,
        getData: function($defer, params) {
            var orderedData = params.sorting() ?
                    $filter('orderBy')( $rootScope.newData, $scope.tableParams.orderBy()) : $rootScope.newData;

            $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
        }
    }); 
console.log($rootScope.tableParams);
});

</script>

</html>

