<div class="container" style=" margin: auto;max-width: 1200px;">
    <!--  <md-toolbar class="grey" style="border-top-left-radius:5px;border-top-right-radius:5px;">
  </md-toolbar> -->
    <div class="row">
        <div class="col-sm-12 md-whiteframe-z1" style="background:white;height:2000px">
            <form class="form-horizontal" ng-init="inter = tab.data" style="overflow:hidden;height:100%" novalidate>
                <!-- Form Name -->
                <!-- Text input-->
                <br>
                <h3>Fiche d'intervention</h3>
                <br>
                <div class="form-group">
                    <div class="col-sm-2">
                        <div class="select-style text-field">
                            <select ng-model="inter.client.civilite" ng-options="civ.short_name as civ.long_name for civ in config.civilites">
                            </select>
                            <label ng-class="{'selected' : inter.client.civilite}">Civilité</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <lx-text-field label="Prénom">
                            <input capitalize type="text" ng-model="inter.client.prenom">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-5">
                        <lx-text-field label="Nom">
                            <input capitalize type="text" ng-model="inter.client.nom">
                        </lx-text-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <lx-text-field label="Téléphone 1">
                            <input capitalize type="text" ng-model="inter.client.telephone.tel1">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <lx-text-field label="Téléphone 2">
                            <input capitalize type="text" ng-model="inter.client.telephone.tel2">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <lx-text-field label="Téléphone Origine">
                            <input capitalize type="text" ng-model="inter.client.telephone.origine">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-3">
                        <lx-text-field label="Email">
                            <input capitalize type="text" ng-model="inter.client.email">
                        </lx-text-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="select-style text-field">
                            <select ng-model="inter.categorie" ng-options="cat.short_name as cat.long_name for cat in config.categories">
                            </select>
                            <label ng-class="{'selected' : inter.categorie}">Categories</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="select-style text-field">
                            <select ng-model="inter.sst" ng-options="sst.id as sst.nomSociete for sst in artisans">
                            </select>
                            <label ng-class="{'selected' : inter.artisan}">Artisan</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <md-checkbox ng-model="inter.aDemarcher" aria-label="Checkbox 1">
                            A Démarcher
                        </md-checkbox>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8" ng-controller="InterventionMapController">
                        <div ng-if="options.showMap" ng-show="options.showMap" class="md-whiteframe-z2">
                            <div class="card">
                                <div class="card__img card__img--top">
                                    <md-content ng-if="loadMap" id="autocompleteContainer" layout-padding layout="column" <md-input-container flex>
                                        <md-autocomplete md-selected-item-change="changeAddress(selectedAddress)" md-selected-item="selectedAddress" md-search-text="searchText" md-items="item in autocomplete.search(searchText)" md-item-text="item.description">
                                            <span md-highlight-text="searchText">{{item.description}}</span>
                                        </md-autocomplete>
                                    </md-content>
                                    <div ng-if="!loadMap" style="height:315px;width:100%;overflow:hidden">
                                        <img ng-if="!showmap" id="static-map" style="width:100%;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;margin: auto;" ng-click="showMap()" ng-src="{{getStaticMap()}}" />
                                    </div>
                                    <map ng-if="loadMap" zoom="{{zoom}}" pan-control="false" style="height:350px" center="{{mapCenter.latLng}}">
                                        <directions ng-if="inter.artisan" travel-mode="DRIVING" origin="{{inter.artisan.add.lt}}, {{inter.artisan.add.lg}}" destination="{{inter.client.address.latLng}}">
                                        </directions>
                                        <!--        <marker position="{{inter.add.latLng}}" color="blue"></marker> -->
                                        <marker ng-if="showInterMarker()" position="{{mapCenter.latLng}}" color="grey"></marker>
                                        <!--      <marker position="{{inter.artisan.add|addressXY}}" color="blue"></marker> -->
                                        <marker ng-if="inter.client.address" ng-repeat="sst in artisans" on-click="clickOnArtisanMarker(sst.id)" position="{{sst.add.lt}}, {{sst.add.lg}}" color="{{sst.id == inter.sst ? 'blue' : 'red'}}"></marker>
                                    </map>
                                </div>
                                <div class="p+">
                                    <span class="fs-subhead tc-black-2 display-block">{{inter.artisan.nomSociete}}</span>
                                    <div class="paragraph fs-body-1" style="height:90px">
                                        <p ng-if="inter.artisan.stats.total" >
                                            Interventions: {{inter.artisan.stats.total.total}} ({{inter.artisan.stats.total.montant}}€) <br>
                                            Annulés: {{inter.artisan.stats.annule.total}} ({{inter.artisan.stats.annule.montant}}€)<br>
                                            En Cours: {{inter.artisan.stats.enCours.total}} ({{inter.artisan.stats.enCours.montant}}€)<br>
                                            Réalisés: {{inter.artisan.stats.intervenu.total}} ({{inter.artisan.stats.intervenu[0].montant}}€)<br>
                                        </p>
                                    </div>
                                </div>
                                <div class="card__actions">
                                    <button class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Appeler</button>
                                    <button class="btn--no-conflicts btn--m btn--blue btn--flat" lx-ripple>SMS</button>
                                    <button class="btn--no-conflicts btn--m btn--orange btn--flat" lx-ripple>Recap'</button>
                                    <button style="float:right" ng-click="openDialog({absence:true})" class="btn--no-conflicts btn--m btn--red btn--flat" lx-ripple>Absence</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="height: 505px;overflow: scroll;">
                        <table class="table table-condensed" style="padding:0;color:black">
                            <tbody>
                                <tr ng-repeat="sst in nearestArtisans" ng-class="sst.id == inter.sst ? 'success' : ''" ng-click="clickOnArtisanMarker(sst.distance, sst)">
                                    <td variable-length style="text-align:left">{{sst.nomSociete}} <small class="text-blue">{{sst.noob ? 'new' : ''}}</small></td>
                                    <td>7.3</td>
                                    <td>{{sst.distance}} km</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-1">
                        <lx-text-field label="Numero">
                            <input capitalize type="text" ng-model="inter.client.address.n">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-5">
                        <lx-text-field label="Addresse">
                            <input capitalize type="text" ng-model="inter.client.address.r">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-2">
                        <lx-text-field label="Code Postal">
                            <input capitalize type="text" ng-model="inter.client.address.cp">
                        </lx-text-field>
                    </div>
                    <div class="col-sm-4">
                        <lx-text-field label="Ville">
                            <input capitalize type="text" ng-model="inter.client.address.v">
                        </lx-text-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <md-checkbox ng-model="inter.reglementSurPlace" aria-label="Checkbox 1">
                            <div class="hidden-sm hidden-md">
                                Reglement Sur Place
                            </div>
                            <div class="hidden-lg hidden-xs ">
                                RSP
                            </div>
                        </md-checkbox>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-style text-field">
                            <select ng-model="inter.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                            </select>
                            <label ng-class="{'selected' : inter.modeReglement}">
                                <div class="hidden-sm hidden-md">
                                    Mode de Reglement
                                </div>
                                <div class="hidden-lg hidden-xs ">
                                    Mode Regl.
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <lx-text-field label="Prix Annoncé">
                            <input eurofilter ng-model="inter.prixAnnonce">
                        </lx-text-field>
                    </div>
       <!--              <div class="col-sm-3">
                        <div class="text-field date-picker">
                            <label class="selected">Date d'intervention</label>
                            <input type="text" pick-a-date="inter.date.intervention" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-field date-picker">
                            <label class="selected">Date d'intervention</label>
                            <input type="text" pick-a-time="inter.date.intervention" />
                        </div>
                    </div> -->
                </div>
                <div class="form-group" ng-if="!inter.reglementSurPlace" ng-show="!inter.reglementSurPlace" style="background-color:rgb(66, 66, 66);padding-bottom: 40px;">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <br>
                            <h3 style="color:white">Facture</h3>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-style black text-field">
                                <select ng-model="inter.facture.type" ng-options="f.short_name as f.long_name for f in config.typePayeur">
                                </select>
                                <label ng-class="{'selected' : inter.facture.type}">Type payeur</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field label="Prénom" theme="dark">
                                <input capitalize type="text" ng-model="inter.facture.prenom">
                            </lx-text-field>
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field theme="dark" label="Nom">
                                <input capitalize type="text" ng-model="inter.facture.nom">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field theme="dark" label="Téléphone">
                                <input capitalize type="text" ng-model="inter.facture.tel">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field theme="dark" label="Email">
                                <input capitalize type="text" ng-model="inter.facture.email">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-1">
                            <lx-text-field theme="dark" label="Numero">
                                <input capitalize type="text" ng-model="inter.facture.address.n">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-5">
                            <lx-text-field theme="dark" label="Addresse">
                                <input capitalize type="text" ng-model="inter.facture.address.r">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-2">
                            <lx-text-field theme="dark" label="Code Postal">
                                <input capitalize type="text" ng-model="inter.facture.address.cp">
                            </lx-text-field theme="dark">
                        </div>
                        <div class="col-sm-4">
                            <lx-text-field theme="dark" label="Ville">
                                <input capitalize type="text" ng-model="inter.facture.address.v">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <md-input-container flex>
                            <label>Description Simplifiée</label>
                            <textarea ng-model="inter.description" columns="1" md-maxlength="150" capitalize></textarea>
                        </md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container flex>
                            <label>Remarques Supplémentaires</label>
                            <textarea ng-model="inter.remarque" columns="1" md-maxlength="150" capitalize></textarea>
                        </md-input-container>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="fab" style="  float: right;position: fixed;right: 70px;z-index: 999;top: 87%;">
        <button ng-click="saveInter(false, false)" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
            <i class="mdi" ng-class="inter.id ? 'mdi-camera-iris' : 'mdi-plus'"></i>
            <i class="mdi mdi-checkbox-marked-circle-outline"></i>
        </button>
        <div class="fab__actions fab__actions--left">
            <button ng-click="saveInter(true, false)" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Envoyer" tooltip-position="top"><i class="mdi mdi-send"></i></button>
            <button ng-click="saveInter(false, true)" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Annuler" tooltip-position="top"><i class="mdi mdi-close"></i></button>
        </div>
    </div>
</div>
