<div class="shadow-box listeInterventions">
    <table style="background:white;" ng-table="tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
        <tbody id="tbody-list">
            <tr data-id="{{inter.id}}" ng-repeat-start="inter in $data " ng-click="rowClick($event, inter, false)" ng-dblclick="rowClick($event, inter, true)" ng-class="{warning : isInSelection(inter.i)}">
                <td data-title="'Os'" sortable="'id'" filter="{ 'id': 'text' }">
                    <strong>{{inter.id}}</strong>
                </td>
                <td data-title="'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                    {{::inter.t}}
                </td>
                <td data-title="'Cat.'" sortable="'c'" filter="{ 'c': 'text' }">
                    <span style="width:80px" class="label {{::inter.cx}}">{{::inter.c}}</span>
                </td>
                <td data-title="'Date Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
                    {{::inter.da | date:"dd/MM/yy" || ""}} {{::inter.da | date:"HH'h'mm" || ""}}
                </td>
                <td variable-length data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
                    {{::inter.n}}
                </td>
                <td variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                    {{::inter.ad}}
                </td>
                <td variable-length class="variable-length one-liner" data-title="'Artisan'" sortable="'a'" filter="{ 'a': 'text' }">
                    <strong>{{::inter.a}}</strong>
                </td>
                <td data-title="'Date Intervention'" sortable="'di'" filter="{ 'di': 'text' }">
                    <div ng-show="inter.di[0] != 1">
                        {{::inter.di | date:"dd/MM/yy" || ""}} {{::inter.di | date:"HH'h'mm" || ""}}
                    </div>
                </td>
                <td data-title="'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                    {{::(inter.pa | number:2) || 0}} €
                </td>
                <td data-title="'Status'" sortable="'s'" filter="{ 's': 'text' }">
                    <span style="width:70px" class="label {{::inter.sx}}"> {{::inter.s}}</span>
                </td>
            </tr>
            <tr ng-if="expendedRow === inter.id" ng-repeat-end>
                <td ng-show="expendedRowData.id === expendedRow" colspan="42">
                    <div class="row">
                        <div class="col-sm-4 info-ext">
                            <h4>Client</h4>
                            <p><strong>Nom:</strong> {{::expendedRowData.client.civilite}} {{::expendedRowData.client.prenom}} {{::expendedRowData.client.nom}}</p>
                            <p><strong>Addresse:</strong> {{::expendedRowData.client.address.n}} {{::expendedRowData.client.address.r}} {{::expendedRowData.client.address.cp}}, {{::expendedRowData.client.address.v}}</p>
                            <p><strong>Description:</strong> {{::expendedRowData.description}}</p>
                            <p><strong>Remarque:</strong> {{::expendedRowData.remarque}}</p>
                            <p><strong>Prix:</strong> {{::expendedRowData.prixAnnonce}} € | {{::expendedRowData.prixFinal || 0}} €</p>
                            <p><a href="/intervention/{{inter.id}}"> <span style="width:100px" class="label grey darken-3"> Fiche</span></a> </p>
                        </div>
                        <div class="col-sm-4 info-ext">
                            <h4>Artisan</h4>
                            <p>
                                {{::expendedRowData.artisan.nomSociete}}
                            </p>
                            <p>
                                <strong>Note:</strong> 7.6/10
                            </p>
                            <p>
                                Interventions réalisés: {{::expendedRowData.artisanStats.total.total}}
                            </p>
                            <p>
                                Reglement en attente: {{::expendedRowData.artisanStats.impaye.total}} ({{expendedRowData.artisanStats.impaye.montant}} €)
                            </p>
                            <p> <span style="width:100px" class="label grey darken-3"> Fiche</span>
                                <span style="width:100px" class="label grey darken-3"> Recap'</span></p>
                        </div>
                        <div class="col-sm-4">
                            <img style="width=100%" ng-src="{{getStaticMap(expendedRowData)}}" class="img-thumbnail" />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
