<div class="container intervention" style=" margin: auto;">
    <div class="row" ng-right-click="vm.rowRightClick($event)">
        <div class="col-md-12 " style="height:100%">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <div class="card margin" style="padding:20px">
                    <div class="p+">
                        <div style="float:left;width:40%">
                            <strong class="fs-headline display-block">Fiche d'intervention n°{{vm.data.id}}</strong>
                            <span class="fs-subhead tc-black-2 display-block">Ajoute le {{vm.data.date.ajout| date:"dd/MM à HH:mm"}} par {{vm.data.login.ajout}}</span>
                        </div>
                        <div style="float:right;width:40%;text-align:right">
                            <strong ng-if="vm.data.status" class="fs-headline display-block" style="color:{{config.etats[vm.data.status].color}}">{{config.etats[vm.data.status].long_name}}</strong>
                        </div>
                    </div>
                </div>
                <info-client data="vm.data" model="vm.data.client"></info-client>
                <info-categorie model="vm.data.categorie" change="vm.searchArtisans(newCategorie)"></info-categorie>
                <div class="row" style="margin:0">
                    <div class="col-md-8" style="padding-left:0">
                        <div class="card margin">
                            <div class="p+" style="height: 538px;overflow:hidden;">
                                <span class="fs-headline display-block">
         <button ng-click="vm.data.categorie = undefined" style="float:left" class="btn--no-conflicts btn--m {{config.categories[vm.data.categorie].color}} btn--flat" lx-ripple> {{config.categories[vm.data.categorie].long_name}}</button></span>
                                <div class="fs-body-1 mt+" style="padding-top:{{bv.historique ? '30' : '10'}}px">
                                    <edison-map ng-show="!bv.signalement && !bv.historique && !bv.absence" first-address="firstAddress" is-new="vm.isNew" data="vm.data" client="vm.data.client" xmarkers="vm.nearestArtisans" marker-click="vm.selectArtisan(sst);vm.showInterList()" height="small"></edison-map>
                                    <historique-sst exit="bv.init()" data="vm.data.sst" ng-if="vm.data.sst.id && bv.historique" slimscroll="{height:474}"></historique-sst>
                                    <absence-sst exit="bv.init()" data="vm.data.sst" ng-if="vm.data.sst.id && bv.absence"></absence-sst>
                                    <signalement exit="bv.init()" data="vm.data" ng-if="vm.data.sst && bv.signalement"></signalement>
                                </div>
                                <div class="p+" ng-if="!vm.data.sst.id">
                                    <h1 center style="font-size: 40px;margin-top:55px">A PROGRAMMER</h1>
                                </div>
                                <div class="p+" ng-if="vm.data.sst.id" ng-show="!bv.signalement && !bv.historique && !bv.absence">
                                    <span class="fs-subhead tc-black-2 display-block">
                                    {{vm.data.sst.nomSociete}} - M. {{vm.data.sst.representant.nom}} {{vm.data.sst.representant.prenom}} ({{vm.data.sst.pourcentage.deplacement}}/{{vm.data.sst.pourcentage.maindOeuvre}})</span>
                                    <div class="paragraph fs-body-1" style="height:90px;">
                                        <p style="width:49%;float:left">
                                            <strong ng-if="vm.isAbsent(vm.data.sst.absence)">Absent du {{vm.data.sst.absence[vm.data.sst.absence.length - 1].start|date:"dd/MM/yy à HH'h'mm"}} au {{vm.data.sst.absence[vm.data.sst.absence.length - 1].end|date:"dd/MM/yy à HH'h'mm"}} <br>par {{vm.data.sst.absence[vm.data.sst.absence.length - 1].login}})<br></strong> Distance: {{vm.data.sst.stats.direction.distance}} ({{vm.data.sst.stats.direction.duration}})
                                            <br> Dernière Intervention: {{vm.data.sst.stats._lastInter.relative}} ({{vm.data.sst.stats._lastInter.id}})
                                            <br> Interventions en cours: {{vm.data.sst.stats.envoye.total}}
                                            <br> Montant des en cours: {{vm.data.sst.stats.envoye.montant}}€
                                            <br> Facturier/Deviseur: {{vm.data.sst.stats.facturier || "Aucuns"}}
                                        </p>
                                        <p style="width:49%;float:right">
                                            Date d'ajout: {{vm.data.sst.date.ajout| date:"dd/MM/yyyy"}}
                                            <br><strong>Commentaires:</strong>
                                            <span ng-repeat="cm in vm.data.sst.comments.slice(-2).reverse()"><br>• {{cm.date|date:"dd/MM/yy à HH'h'mm"}} - {{cm.login}} - {{cm.text}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions" style="border-bottom: 2px solid rgba(0, 0, 0, .12);">
                                <button class="btn--no-conflicts btn--m btn--orange btn--flat {{bv.historique ? 'grey lighten-3' : ''}}" ng-click="bv.show('historique');" lx-ripple>Historique</button>
                                <button class="btn--no-conflicts btn--m btn--black btn--flat {{interList ? 'grey lighten-3' : ''}}" ng-click="interList = !interList" lx-ripple>Interventions</button>
                                <button class="btn--no-conflicts btn--m btn--black btn--flat {{bv.signalement ? 'grey lighten-3' : ''}}" ng-click="bv.show('signalement')" lx-ripple>Signalement</button>
                                <button class="btn--no-conflicts btn--m btn--black btn--red {{bv.absence ? 'grey lighten-3' : ''}}" ng-click="bv.show('absence')" lx-ripple>Absences</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 0;">
                        <div class="card">
                            <div class="p+" style='overflow:hidden;'>
                                <strong class="fs-headline display-block">Artisans <button class="btn" ng-click="vm.selectArtisan(null);">Reinit</button></strong>
                                <span class="fs-subhead tc-black-2 display-block select-style-neutral">
                                <div  class="paragraph map-box fs-body-1 mt+" slimscroll="{height:474}" style="height: 474px;">
                                    <table ng-if="vm.nearestArtisans.length" class="table table-condensed" style="padding:0;color:black">
                                        <tbody>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Actifs</h4></td></tr>
                                            <tr ng-repeat="sst in vm.nearestArtisans"  
                                            ng-if="sst.status !== 'POT' || sst.star"
                                            ng-class="{
                                            'danger grey-text':sst.blocked,
                                            'success':sst.id == vm.data.sst.id,
                                            'info':vm.rightClickArtisan == sst.id && vm.contextMenu.active && vm.contextMenu.model === 'artisan'}"

                                             ng-click="vm.selectArtisan(sst);vm.showInterList()">

                                                <td id-sst="{{sst.id}}" variable-length style="text-align:left"> <i ng-if="sst.star" class="fa fa-star yellow-text"> </i> {{sst.nomSociete}}
                                                <small no-click ng-if="!sst.blocked && sst.absent" class="red-text">INDISPO</small>
                                                <small no-click ng-if="!sst.absent" class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td no-click ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Potentiels</h4></td></tr>
                                         
                                                <tr ng-repeat="sst in vm.nearestArtisans" ng-if="sst.status == 'POT' && !sst.star" 
                                                

                                                ng-class="{
                                                'danger grey-text':sst.blocked,
                                                'success':sst.id == vm.data.sst.id,
                                                'info':vm.rightClickArtisan == sst.id && vm.contextMenu.active && vm.contextMenu.model === 'artisan'}"

                                                 ng-click="vm.selectArtisan(sst);vm.showInterList()">
                                                <td id-sst="{{sst.id}}" variable-length style="text-align:left"> <i ng-if="sst.star" class="fa fa-star yellow-text"> </i> {{sst.nomSociete}}
                                                <small no-click ng-if="!sst.blocked && sst.absent" class="red-text">INDISPO</small>
                                                <small no-click class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td no-click ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>
                                            <tr><td style="visibility:hidden"> -------------------- </td></tr>

                                        </tbody>
                                    </table>
                                    <h3 ng-if="!vm.nearestArtisans">
                                        AUCUNS ARTISAN
                                    </h3>
                                </div>
                            </div>
                            <div class="card__actions" style="text-align:center;height: 54px;">
                            <md-switch style="margin-top: 6px;" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.aDemarcher">
                                    A Démarcher
                                    </md-switch>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-margin" ng-init="interList = vm.data.status !== 'VRF'">
                 <lineup-intervention ng-if="vm.recapFltr && interList" embedded="true" limit="10" filter="vm.recapFltr"></lineup-intervention>
                 </div>
                 <br>
                 <br>
                <div class="card margin">
                    <div class="p+">
                        <strong class="fs-headline display-block">Informations Intervention</strong>
                        <span class="fs-subhead tc-black-2 display-block">Informations Intervention</span>
                                <div class=" fs-body-1 mt+">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Heure d'intervention</label>
                                                <input type="text" pick-a-time="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-md-offset-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Date d'intervention</label>
                                                <input type="text" pick-a-date="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <md-autocomplete md-input-name="autocompleteDescription" md-input-maxlength="130" md-selected-item="vm.description.selected" md-search-text="vm.data.description" md-items="item in vm.description.search(vm.data.description)" md-item-text="item.name">
                                                <md-item-template>
                                                    <span>{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-md-6 col-md-offset-1">
                                            <md-input-container flex>
                                                <label>Remarques Supplémentaires</label>
                                                <textarea ng-model="vm.data.remarque" columns="1" md-maxlength="150" capitalize></textarea>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <lx-text-field label="Prix Annoncé HT">
                                                <input eurofilter ng-model="vm.data.prixAnnonce" ng-disabled="vm.data.date.verification">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-md-3">
                                            <lx-text-field label="Prix Final HT" ng-if="vm.data.date.envoi">
                                                <input ng-disabled="!vm.data.reglementSurPlace" eurofilter ng-model="vm.data.prixFinal">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-md-3">
                                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.reglementSurPlace" style="padding: 0px;margin-top: 5px;">
                                                <span ng-if="vm.data.reglementSurPlace">Reglement Sur Place</span>
                                                <span ng-if="!vm.data.reglementSurPlace">Facture à Faire</span>
                                            </md-switch>
                                        </div>
                                        <div class=" col-md-2">
                                            <div class="select-style text-field">
                                                <select ng-model="vm.data.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                                                </select>
                                                <label ng-class="{'selected' : vm.data.modeReglement}">
                                                    <div class="hidden-sm hidden-md">
                                                        Mode de Reglement
                                                    </div>
                                                    <div class="hidden-lg hidden-xs ">
                                                        Mode Regl.
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.newOs" style="padding: 0px;margin-top: 5px;">
                                                SMS Axialis
                                            </md-switch>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-4">
                                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.remarqueSms" style="padding: 0px;margin-top: 5px;">
                                                Remarque SMS
                                            </md-switch>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <info-appel-sst ng-if="vm.data.appels.length" data="vm.data"></info-appel-sst>
                        <div id="facture"></div>
                        <info-facture ng-if="!vm.data.reglementSurPlace" data="vm.data"></info-facture>
                        <produits ng-if="vm.data.id || vm.data.devisOrigine" data="vm.data"></produits>
                        <credit-card inline="true" class="margin" model="vm.data" ng-if="vm.data.modeReglement === 'CB'"></credit-card>
                        <info-fourniture ng-if="vm.data.id" data="vm.data"></info-fourniture>
                        <info-compta ng-if="vm.data.isPayable()" data="vm.data" simulator="true"></info-compta>
                        <info-litige ng-if="vm.data.id && vm.data.date.envoi" data="vm.data"></info-litige>
                        <info-sav ng-if="vm.data.status === 'VRF' || vm.data.status === 'ENC'" data="vm.data" artisans="vm.nearestArtisans"></info-sav>
                        <div class="row" style="margin:0" ng-if="vm.data.status === 'VRF'">
                            <div class="card margin">
                                <div class="p+">
                                    <strong class="fs-headline display-block">Recouvrement</strong>
                                    <br>
                                    <div style="width:24.5%;display:inline-block">
                                        <button ng-click="vm.data.recouvrement.level = (vm.data.recouvrement.level === 0 ? null : 0)" style="display: block;width:100%" ng-class="{'grey':vm.data.recouvrement.level === 0}" class="btn--no-conflicts btn--m lighten-3 btn--raised" lx-ripple>Pas de Contact</button>
                                    </div>
                                    <div style="width:24.5%;display:inline-block">
                                        <button ng-click="vm.data.recouvrement.level = 1" style="display: block;width:100%" ng-class="{'yellow':vm.data.recouvrement.level === 1}" class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Facture Recu</button>
                                    </div>
                                    <div style="width:24.5%;display:inline-block">
                                        <button ng-click="vm.data.recouvrement.level = 2" style="display: block;width:100%" ng-class="{'red':vm.data.recouvrement.level === 2}" class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Litige</button>
                                    </div>
                                    <div style="width:24.5%;display:inline-block">
                                        <button ng-click="vm.data.recouvrement.level = 3" style="display: block;width:100%" ng-class="{'blue':vm.data.recouvrement.level === 3} " class="btn--no-conflicts btn--m  btn--raised" lx-ripple>Reglement Envoyé</button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0">
                        <div style="width:48%;float:left;" class="card" id="fileUpload">
                            <div class="p+">
                                <strong class="fs-headline display-block">Fichiers</strong>
                                <div class="paragraph fs-body-1 mt+" style="height: 216px;" slimscroll="{height:216}">
                                    <div>
                                        <div id="fileUploadProgress"></div>
                                        <ul class="list mt++" style="padding-bottom:20px;margin-left: 0px">
                                            <li class="list-row" ng-repeat="file in vm.data.files | reverse">
                                                <div class="list-row__content">
                                                    <a target="_blank" href="/api/document/preview?name=intervention/{{vm.data.id}}/{{file}}"> <span class="display-block">{{file}}</span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions">
                                <div class="button" ngf-select ng-model="fileupload" ngf-multiple="false">
                                    <button ng-click="vm.clickTrigger('.input-file__input')" class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Ajouter un fichier</button>
                                </div>
                            </div>
                        </div>
                        <info-comment style="width:48%;float:right" data="vm.data"></info-comment>
                    </div>
                    <br>
                    <div class="fab" style="position: fixed;right: 70px;z-index: 999;top: 87%;">
                        <button ng-click="saveInter({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
                            <i class="fa fa-cloud-upload"></i>
                        </button>
                        <div class="fab__actions fab__actions--left">
                            <button ng-if="vm.data.status" ng-click="saveInter({annulation:true})" class="btn--no-conflicts btn--l btn--black btn--fab red" lx-ripple lx-tooltip="Annuler" tooltip-position="top"><i class="fa fa-ban"></i></button>
                            <button ng-if="vm.data.isEnvoyable()" ng-click="saveInter({envoi:true})" class="btn--no-conflicts btn--l btn--black btn--fab orange" lx-ripple lx-tooltip="Envoyer l'intervention" tooltip-position="top"><i class="fa fa-send"></i></button>
                            <button ng-if="vm.data.isVerifiable()" ng-show="vm.data.status === 'ENC'  && vm.data.reglementSurPlace" ng-click="saveInter({verification:true})" class="btn--no-conflicts btn--l btn--black btn--fab  green" lx-ripple lx-tooltip="Verifier" tooltip-position="top"><i class="fa fa-check"></i></button>
                            <button ng-if="vm.data.isVerifiable()" ng-show="vm.data.status === 'ENC' && !vm.data.reglementSurPlace" ng-click="calculPrixFinal();saveInter({verification:true, envoiFacture:true})" class="btn--no-conflicts btn--l btn--black btn--fab green" lx-ripple lx-tooltip="Envoyer facture + vérifier" tooltip-position="top"><i class="fa fa-check"></i></button>
                            <button ng-show="vm.data.status === 'VRF' && !vm.data.reglementSurPlace" ng-click="calculPrixFinal();saveInter({envoiFacture:true})" class="btn--no-conflicts btn--l btn--black btn--fab purple" lx-ripple lx-tooltip="Renvoyer facture" tooltip-position="top"><i class="fa fa-mail-reply-all"></i></button>
                        </div>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style="margin-top: -215px;width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
    <div class="dropdown-menu__content">
        <ul>
            <li ng-hide="item.hidden" ng-repeat="item in vm.contextMenu.list">
                <a ng-mouseover="vm.contextMenu.closeSub()" ng-if="!item.subs" class="dropdown-link" ng-style="item.style" tabindex="0" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">{{item.title}}</a>
                <a ng-style="item.style" ng-mouseover="vm.contextMenu.openSub(200)" ng-if="item.subs" class="dropdown-link" tabindex="0"><i no-margin align-left class="fa fa-angle-right"></i>{{item.title}}</a>
                <a lx-tooltip="{{vm.contextMenu.tooltip(sub)}}" tooltip-position="right" ng-style="sub.style" ng-repeat="sub in item.subs" ng-click="vm.contextMenu.close();vm.contextMenu.click(sub)" ng-hide="sub.hidden" ng-if="vm.contextMenu.mouseOverCM && item.subs" class="dropdown-link"><i no-margin align-left class=" fa fa-angle-double-right"></i>{{sub.title}}</a>
            </li>
        </ul>
    </div>
</div>
</div>
