<div class="container intervention" style=" margin: auto;">
    <div class="row" ng-right-click="vm.rowRightClick($event)">
        <div class="col-md-12 " style="height:100%">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <div class="card margin" style="padding:20px">
                    <div class="p+">
                        <div style="float:left;width:40%">
                            <strong class="fs-headline display-block">Fiche d'intervention</strong>
                            <span class="fs-subhead tc-black-2 display-block">Ajoute le {{vm.data.date.ajout| date:"dd/MM à HH:mm"}} par {{vm.data.login.ajout}}</span>
                        </div>
                        <div style="float:right;width:40%;text-align:right">
                            <strong ng-if="vm.data.status" class="fs-headline display-block" style="color:{{config.etats[vm.data.status].color}}">{{config.etats[vm.data.status].long_name}}</strong>
                        </div>
                    </div>
                </div>
                <info-client ng-if="vm.data.client.address && vm.data.categorie" model="vm.data.client"></info-client>
                <info-categorie model="vm.data.categorie" change="vm.searchArtisans(newCategorie)"></info-categorie>
                <div class="row" style="margin:0">
                    <div class="col-md-8" style="padding-left:0">
                        <div class="card margin">
                            <div class="p+" style="height: 538px;">
                                <span class="fs-headline display-block">
         <button ng-click="vm.data.categorie = undefined" style="float:left" class="btn--no-conflicts btn--m {{config.categories[vm.data.categorie].color}} btn--flat" lx-ripple> {{config.categories[vm.data.categorie].long_name}}</button></span>
                                <div class="fs-body-1 mt+" style="padding-top:10px">
                                    <edison-map first-address="firstAddress" is-new="vm.isNew" data="vm.data" client="vm.data.client" xmarkers="vm.nearestArtisans" address-change="vm.searchArtisans()" height="small"></edison-map>
                                </div>
                                <div class="p+" ng-if="vm.data.artisan.id && vm.data.artisan.stats.total">
                                    <span class="fs-subhead tc-black-2 display-block">
                                    {{vm.data.artisan.nomSociete}} - M. {{vm.data.artisan.representant.nom}} {{vm.data.artisan.representant.prenom}}</span>
                                    <div class="paragraph fs-body-1" style="height:90px;">
                                        <p style="width:49%;float:left">
                                            Distance: {{vm.data.artisan.stats.direction.distance}} ({{vm.data.artisan.stats.direction.duration}})
                                            <br> Dernière Intervention: {{vm.data.artisan.stats._lastInter.relative}} ({{vm.data.artisan.stats._lastInter.id}})
                                            <br> Interventions en cours: {{vm.data.artisan.stats.envoye.total}}
                                            <br> Montant des en cours: {{vm.data.artisan.stats.envoye.montant}}€
                                            <br> Facturier/Deviseur: {{vm.data.artisan.stats.facturier || "Aucuns"}}
                                        </p>
                                        <p style="width:49%;float:right">
                                            Date d'ajout: {{vm.data.artisan.date.ajout| date:"dd/MM/yyyy"}}
                                            <br>
                                            <span ng-if="vm.data.artisan.calls.length > 0" ng-click="vm.dialog.callsList(vm.data.artisan)">
                                               Dernier Appel le {{vm.data.artisan.calls[0].date | date:"dd/MM à HH:mm" }}  ({{vm.data.artisan.calls[0].login}})
                                        </span>
                                            <span ng-if="vm.data.artisan.calls.length == 0">
                                            Aucuns Appels
                                            </span>
                                            <br>
                                            <span ng-if="vm.data.artisan.sms.length > 0" ng-click="vm.dialog.smsList(vm.data.artisan)">
                                               Dernier SMS le {{vm.data.artisan.sms[0].date | date:"dd/MM à HH:mm" }}  ({{vm.data.artisan.sms[0].login}})
                                        </span>
                                            <span ng-if="vm.data.artisan.sms.length == 0">
                                            Aucuns SMS
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions" style="border-bottom: 2px solid rgba(0, 0, 0, .12);">
                                <button ng-click="callArtisan()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Appeler</button>
                                <button class="btn--no-conflicts btn--m btn--blue btn--flat" lx-ripple ng-click="smsArtisan(vm.data.artisan)">SMS</button>
                                <a href="/artisan/{{vm.data.artisan.id}}/recap">
                                    <button class="btn--no-conflicts btn--m btn--orange btn--flat" lx-ripple>Recap'</button>
                                </a>
                                <lx-dropdown position="right" from-top="true" style="float:right" ng-if="vm.data.artisan.id">
                                    <button class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple lx-dropdown-toggle>
                                        Signalement
                                    </button>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li ng-repeat="sign in vm.signalement.list.intervention">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-cloud"></i>
                                                    <span>{{sign.name}}</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-divider"></li>
                                            <li ng-repeat="sign in vm.signalement.list.partenariat">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-account"></i>
                                                    <span>{{sign.name}}</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-divider"></li>
                                            </li>
                                            <li ng-repeat="sign in vm.signalement.list.compta">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-coin"></i>
                                                    <span>{{sign.name}}</span>
                                                </a>
                                            </li>
                                            <!--    <li ng-click="vm.signalement.get('intervention')">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-eye"></i>
                                                    <span>Service Intervention</span>
                                                </a>
                                            </li>
                                            <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                                            <li ng-click="vm.signalement.get('partenariat')">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-account-plus"></i>
                                                    <span>Service Partenariat</span>
                                                </a>
                                            </li>
                                            <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                                            <li ng-click="vm.signalement.get('compta')">
                                                <a class="dropdown-link dropdown-link--is-large">
                                                    <i class="mdi mdi-link"></i>
                                                    <span>Service Comptabilité</span>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 0;">
                        <div class="card">
                            <div class="p+" style='overflow:hidden;'>
                                <strong class="fs-headline display-block">Artisans</strong>
                                <span class="fs-subhead tc-black-2 display-block select-style-neutral">
                                <div  class="paragraph fs-body-1 mt+" slimscroll="{height:474}" style="height: 474px;">
                                    <table ng-if="vm.nearestArtisans.length" class="table table-condensed" style="padding:0;color:black">
                                        <tbody>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Actifs</h4></td></tr>
                                            <tr ng-repeat="sst in vm.nearestArtisans"  ng-if="sst.status == 'ACT'" ng-class="sst.id == vm.data.sst ? 'success' : ''" ng-click="clickOnArtisanMarker(sst.distance, sst)">
                                                <td variable-length style="text-align:left">{{sst.nomSociete}} <small class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Potentiels</h4></td></tr>
                                         <tr ng-repeat="sst in vm.nearestArtisans" ng-if="sst.status == 'POT'" ng-class="sst.id == vm.data.sst ? 'success' : ''" ng-click="clickOnArtisanMarker(sst.distance, sst)">
                                                <td variable-length style="text-align:left">{{sst.nomSociete}} <small class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <h3 ng-if="!vm.nearestArtisans">
                                        AUCUNS ARTISAN
                                    </h3>
                                </div>
                            </div>
                            <div class="card__actions" style="text-align:center;height: 54px;">
                            <md-switch style="margin-top: 6px;" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.aDemarcher">
                                    A Démarcher
                                    </md-switch>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card margin">
                    <div class="p+">
                        <strong class="fs-headline display-block">Informations Intervention</strong>
                        <span class="fs-subhead tc-black-2 display-block">Informations Intervention</span>
                                <div class=" fs-body-1 mt+">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Heure d'intervention</label>
                                                <input type="text" pick-a-time="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-md-offset-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Date d'intervention</label>
                                                <input type="text" pick-a-date="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <!-- md-input-container flex>
                                                <label>Description Simplifiée</label>
                                                <textarea ng-model="vm.data.description" columns="1" md-maxlength="150" capitalize></textarea>
                                                </md-input-container> -->
                                            <md-autocomplete md-input-name="autocompleteDescription" md-input-maxlength="130" md-selected-item="vm.description.selected" md-search-text="vm.data.description" md-items="item in vm.description.search(vm.data.description)" md-item-text="item.name">
                                                <md-item-template>
                                                    <span>{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-md-6 col-md-offset-1">
                                            <md-input-container flex>
                                                <label>Remarques Supplémentaires</label>
                                                <textarea ng-model="vm.data.remarque" columns="1" md-maxlength="150" capitalize></textarea>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <lx-text-field label="Prix Annoncé HT">
                                                <input eurofilter ng-model="vm.data.prixAnnonce" ng-disabled="vm.data.date.verification">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-md-3">
                                            <lx-text-field label="Prix Final HT" ng-if="vm.data.date.envoi">
                                                <input ng-disabled="!vm.data.reglementSurPlace" eurofilter ng-model="vm.data.prixFinal">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-md-3">
                                            <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.data.reglementSurPlace" style="padding: 0px;margin-top: 5px;">
                                                <span ng-if="vm.data.reglementSurPlace">Reglement Sur Place</span>
                                                <span ng-if="!vm.data.reglementSurPlace">Facture à Faire</span>
                                            </md-switch>
                                        </div>
                                        <div class=" col-md-2">
                                            <div class="select-style text-field">
                                                <select ng-model="vm.data.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                                                </select>
                                                <label ng-class="{'selected' : vm.data.modeReglement}">
                                                    <div class="hidden-sm hidden-md">
                                                        Mode de Reglement
                                                    </div>
                                                    <div class="hidden-lg hidden-xs ">
                                                        Mode Regl.
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div id="facture"></div>
                        <info-facture ng-if="!vm.data.reglementSurPlace" data="vm.data"></info-facture>
                        <produits ng-if="vm.data.id || vm.data.devisOrigine" data="vm.data"></produits>
                        <credit-card inline="true" class="margin" model="vm.data" ng-if="vm.data.modeReglement === 'CB'"></credit-card>
                        <info-fourniture ng-if="vm.data.id" data="vm.data"></info-fourniture>
                        <info-compta ng-if="vm.data.status === 'VRF' && vm.data.artisan.document" data="vm.data"></info-compta>
                        <div class="row" style="margin:0">
                            <div style="width:48%;float:left;" class="card" id="fileUpload">
                                <div class="p+">
                                    <strong class="fs-headline display-block">Fichiers</strong>
                                    <div class="paragraph fs-body-1 mt+" style="height: 216px;" slimscroll="{height:216}">
                                        <div>
                                            <div id="fileUploadProgress"></div>
                                            <ul class="list mt++" style="padding-bottom:20px;margin-left: 0px">
                                                <li class="list-row" ng-repeat="file in vm.data.files | reverse">
                                                    <div class="list-row__content">
                                                        <a target="_blank" href="/api/document/{{file._id}}"> <span class="display-block">{{file.name || "Fichier" + $index}}</span></a>
                                                        <span class="display-block fs-body-1 tc-black-2">{{file.date | date:"dd/MM/yy"}} - {{file.type}} - {{file.login}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__actions">
                                    <button ng-click="clickTrigger('.input-file__input')" class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Ajouter un fichier</button>
                                    <lx-file-input style="display:none" id="fileInput" label="Upload" value="fileUploadText" change="onFileUpload(e)"></lx-file-input>
                                </div>
                            </div>
                            <div class="card margin" style="width:48%;float:right">
                                <div class="p+" s>
                                    <strong class="fs-headline display-block">Commentaires</strong>
                                    <div class="paragraph fs-body-1 mt+" style="height:216px;" slimscroll="{height:216}">
                                        <ul style="padding-bottom:20px;margin-left: 0px;">
                                            <li class="list-row" ng-repeat="com in vm.data.comments | reverse">
                                                <div class="list-row__content">
                                                    <span class="display-block">{{com.text}}</span>
                                                    <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__actions" style="height: 53px;">
                                    <input style="border: 0;width:100%;height: 100%;" type="text" placeholder="Commentaire..." ng-model="commentText" ng-enter="addComment()">
                                </div>
                            </div>
                        </div>
                        <info-litige ng-if="vm.data.date.intervention" data="vm.data"></info-litige>
                        <br>
                        <div class="fab" style="position: fixed;right: 70px;z-index: 999;top: 87%;">
                            <button ng-click="saveInter({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
                                <i class="fa fa-cloud-upload"></i>
                            </button>
                            <div class="fab__actions fab__actions--left">
                               
                                <button ng-if="vm.data.status" ng-click="saveInter({annulation:true})" class="btn--no-conflicts btn--l btn--black btn--fab red" lx-ripple lx-tooltip="Annuler" tooltip-position="top"><i class="fa fa-ban"></i></button>
                               
                                <button ng-if="(!vm.data.status || vm.data.status === 'ANN' || vm.data.status === 'APR' || vm.data.status === 'ENC') " ng-click="saveInter({envoi:true})" class="btn--no-conflicts btn--l btn--black btn--fab orange" lx-ripple lx-tooltip="Envoyer l'intervention" tooltip-position="top"><i class="fa fa-send"></i></button>
                               
                                <button ng-show="vm.data.status === 'ENC'  && vm.data.reglementSurPlace" ng-click="saveInter({verification:true})" class="btn--no-conflicts btn--l btn--black btn--fab  green" lx-ripple lx-tooltip="Verifier" tooltip-position="top"><i class="fa fa-check"></i></button>
                               
                                <button ng-show="vm.data.status === 'ENC' && !vm.data.reglementSurPlace" ng-click="calculPrixFinal();saveInter({verification:true, envoiFacture:true})" class="btn--no-conflicts btn--l btn--black btn--fab green" lx-ripple lx-tooltip="Envoyer facture + vérifier" tooltip-position="top"><i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style=" width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-repeat="item in vm.contextMenu.list" ng-hide="item.hidden" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">
                    <a class="dropdown-link" tabindex="{{$index}}">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
