<div class="container" style=" margin: auto;max-width: 1200px;">
    <div class="row">
        <div class="col-sm-12 " style="height:100%">
            <div class="form-horizontal" style="overflow:hidden;height:100%" novalidate>
                <div class="card margin" style="padding:20px">
                    <div class="p+">
                        <div style="float:left;width:40%">
                            <strong class="fs-headline display-block">Fiche d'intervention</strong>
                            <span class="fs-subhead tc-black-2 display-block">Ajoute le {{vm.data.date.ajout| date:"dd/MM à HH:mm"}} par {{vm.data.login.ajout}}</span>
                        </div>
                        <div style="float:right;width:40%;text-align:right">
                            <strong ng-if="vm.data.status" class="fs-headline display-block" style="color:{{config.etats[vm.data.status].color}}">{{config.etats[vm.data.status].long_name}}</strong>
                        </div>
                    </div>
                </div>
                <info-client ng-if="vm.data.client.address.v && vm.data.categorie" model="vm.data.client"></info-client>
                <info-categorie model="vm.data.categorie" change="vm.searchArtisans(newCategorie)"></info-categorie>
                <div class="row" style="margin:0">
                    <div class="col-sm-8" style="padding-left:0">
                        <div class="card margin">
                            <div class="p+">
                                <span class="fs-headline display-block">
         <button ng-click="vm.data.categorie = undefined" style="float:left" class="btn--no-conflicts btn--m {{config.categories[vm.data.categorie].color}} btn--flat" lx-ripple> {{config.categories[vm.data.categorie].long_name}}</button></span>
                                <div class="fs-body-1 mt+" style="padding-top:10px">
                                    <edison-map is-new="vm.isNew" data="vm.data" client="vm.data.client" xmarkers="vm.nearestArtisans" address-change="vm.searchArtisans()" height="small"></edison-map>
                                </div>
                                <div class="p+" ng-if="vm.data.artisan.id && vm.data.artisan.stats.total">
                                    <span class="fs-subhead tc-black-2 display-block">
                                    {{vm.data.artisan.nomSociete}} - M. {{vm.data.artisan.representant.nom}} {{vm.data.artisan.representant.prenom}}</span>
                                    <div class="paragraph fs-body-1" style="height:90px;">
                                        <p style="width:49%;float:left">
                                            Distance: {{vm.data.artisan.stats.direction.distance}} ({{vm.data.artisan.stats.direction.duration}})
                                            <br> Interventions: {{vm.data.artisan.stats.total.total}} ({{vm.data.artisan.stats.total.montant}}€)
                                            <br> Annulés: {{vm.data.artisan.stats.annule.total}} ({{vm.data.artisan.stats.annule.montant}}€)
                                            <br> Envoyé: {{vm.data.artisan.stats.envoye.total}} ({{vm.data.artisan.stats.envoye.montant}}€)
                                            <br> Payés: {{vm.data.artisan.stats.paye.total}} ({{vm.data.artisan.stats.paye.montant}}€)
                                            <br>
                                        </p>
                                        <p style="width:49%;float:right">
                                            Date d'ajout: {{vm.data.artisan.date.ajout| date:"dd/MM/yyyy"}}
                                            <br>
                                            <span ng-if="vm.data.artisan.disponible == false">
                                                    Indisponible jusqu'au {{vm.data.artisan.absence.end  | date:"dd/MM à HH:mm"}} ({{vm.data.artisan.absence.login}})
                                                </span>
                                            <span ng-if="vm.data.artisan.disponible == true">
                                            Disponible
                                                </span>
                                            <br>
                                            <span ng-if="vm.data.artisan.calls.length > 0" ng-click="vm.dialog.callsList(vm.data.artisan)">
                                               Dernier Appel le {{vm.data.artisan.calls[0].date | date:"dd/MM à HH:mm" }}  ({{vm.data.artisan.calls[0].login}})
                                        </span>
                                            <span ng-if="vm.data.artisan.calls.length == 0">
                                            Aucuns Appels
                                            </span>
                                            <br>
                                            <span ng-if="vm.data.artisan.sms.length > 0" ng-click="vm.dialog.smsList(vm.data.artisan)">
                                               Dernier SMS le {{vm.data.artisan.sms[0].date | date:"dd/MM à HH:mm" }}  ({{vm.data.artisan.sms[0].login}})
                                        </span>
                                            <span ng-if="vm.data.artisan.sms.length == 0">
                                            Aucuns SMS
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions" style="border-bottom: 2px solid rgba(0, 0, 0, .12);">
                                <button ng-click="callArtisan()" class="btn--no-conflicts btn--m btn--black btn--flat" lx-ripple>Appeler</button>
                                <button class="btn--no-conflicts btn--m btn--blue btn--flat" lx-ripple ng-click="smsArtisan(vm.data.artisan)">SMS</button>
                                <button class="btn--no-conflicts btn--m btn--orange btn--flat" ng-click="recapArtisan(vm.data.artisan)" lx-ripple>Recap'</button>
                                <a href="/artisan/{{vm.data.artisan.id}}">
                                    <button class="btn--no-conflicts btn--m btn--purple btn--flat" lx-ripple>Fiche</button>
                                </a>
                                <button style="float:right" ng-click="sstAbsence(vm.data.artisan.id)" class="btn--no-conflicts btn--m btn--red btn--flat" lx-ripple>Absence</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0;">
                        <div class="card">
                            <div class="p+" style='overflow:hidden;'>
                                <strong class="fs-headline display-block">Artisans</strong>
                                <span class="fs-subhead tc-black-2 display-block select-style-neutral">
                                <div  class="paragraph fs-body-1 mt+" slimscroll="{height:379}" style="height: 379px;">
                                    <table ng-if="vm.nearestArtisans.length" class="table table-condensed" style="padding:0;color:black">
                                        <tbody>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Actifs</h4></td></tr>
                                            <tr ng-repeat="sst in vm.nearestArtisans"  ng-if="sst.status == 'ACT'" ng-class="sst.id == vm.data.sst ? 'success' : ''" ng-click="clickOnArtisanMarker(sst.distance, sst)">
                                                <td variable-length style="text-align:left">{{sst.nomSociete}} <small class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>
                                         <tr><td colspan="12" style="text-align:center;border-top: 0px;"><h4 style="margin: 0;">Potentiels</h4></td></tr>
                                         <tr ng-repeat="sst in vm.nearestArtisans" ng-if="sst.status == 'POT'" ng-class="sst.id == vm.data.sst ? 'success' : ''" ng-click="clickOnArtisanMarker(sst.distance, sst)">
                                                <td variable-length style="text-align:left">{{sst.nomSociete}} <small class="{{config.artisanSubStatus[sst.subStatus].color}}-text">{{config.artisanSubStatus[sst.subStatus].long_name}}</small></td>
                                                <td ng-class="{'red-text': sst.zoneChalandise < sst.distance}">{{sst.distance}} km</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <h3 ng-if="!vm.nearestArtisans">
                                        AUCUNS ARTISAN
                                    </h3>
                                </div>
                            </div>
                            <div class="card__actions" style="text-align:center">
                                <md-checkbox ng-model="vm.data.aDemarcher" aria-label="Checkbox 1">
                                    A Démarcher
                                </md-checkbox>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card margin">
                    <div class="p+">
                        <strong class="fs-headline display-block">Informations Intervention</strong>
                        <span class="fs-subhead tc-black-2 display-block">Informations Intervention</span>
                                <div class=" fs-body-1 mt+">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Heure d'intervention</label>
                                                <input type="text" pick-a-time="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-3">
                                            <div class="text-field date-picker">
                                                <label class="selected">Date d'intervention</label>
                                                <input type="text" pick-a-date="vm.data.date.intervention" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <md-input-container flex>
                                                <label>Description Simplifiée</label>
                                                <textarea ng-model="vm.data.description" columns="1" md-maxlength="150" capitalize></textarea>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-1">
                                            <md-input-container flex>
                                                <label>Remarques Supplémentaires</label>
                                                <textarea ng-model="vm.data.remarque" columns="1" md-maxlength="150" capitalize></textarea>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <lx-text-field label="Prix Annoncé">
                                                <input eurofilter ng-model="vm.data.prixAnnonce" ng-disabled="vm.data.date.verification">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <lx-text-field label="Prix Final" ng-if="vm.data.date.envoi">
                                                <input eurofilter ng-model="vm.data.prixFinal">
                                            </lx-text-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <md-checkbox ng-model="vm.data.reglementSurPlace" aria-label="Checkbox 1">
                                                <div class="hidden-sm hidden-md">
                                                    Reglement Sur Place
                                                </div>
                                                <div class="hidden-lg hidden-xs ">
                                                    RSP
                                                </div>
                                            </md-checkbox>
                                        </div>
                                        <div class=" col-sm-2">
                                            <div class="select-style text-field">
                                                <select ng-model="vm.data.modeReglement" ng-options="mr.short_name as mr.long_name for mr in config.modeDeReglements">
                                                </select>
                                                <label ng-class="{'selected' : vm.data.modeReglement}">
                                                    <div class="hidden-sm hidden-md">
                                                        Mode de Reglement
                                                    </div>
                                                    <div class="hidden-lg hidden-xs ">
                                                        Mode Regl.
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <info-facture ng-if="!vm.data.reglementSurPlace" data="vm.data"></info-facture>
                        <produits ng-if="vm.data.id || vm.data.devisOrigine" data="vm.data"></produits>
                        <credit-card class="margin" model="vm.data" ng-if="vm.data.modeReglement === 'CB'"></credit-card>
                        <info-fourniture ng-if="data.id" data="vm.data"></info-fourniture>


                        <div class="row" style="margin:0">
                            <div style="width:48%;float:left;" class="card" id="fileUpload">
                                <div class="p+">
                                    <strong class="fs-headline display-block">Fichiers</strong>
                                    <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>
                                    <div class="paragraph fs-body-1 mt+" style="height: 216px;" slimscroll="{height:216}">
                                        <div>
                                            <div id="fileUploadProgress"></div>
                                            <ul class="list mt++" style="padding-bottom:20px;margin-left: 0px">
                                                <li class="list-row" ng-repeat="file in vm.data.files | reverse">
                                                    <div class="list-row__content">
                                                        <a target="_blank" href="/api/document/{{file._id}}"> <span class="display-block">{{file.name || "Fichier" + $index}}</span></a>
                                                        <span class="display-block fs-body-1 tc-black-2">{{file.date | date:"dd/MM/yy"}} - {{file.type}} - {{file.login}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__actions">
                                    <button ng-click="clickTrigger('.input-file__input')" class="btn--no-conflicts btn--m btn--blue  btn--raised" lx-ripple>Upload</button>
                                    <lx-file-input style="display:none" id="fileInput" label="Upload" value="fileUploadText" change="onFileUpload(e)"></lx-file-input>
                                </div>
                            </div>
                            <div class="card margin" style="width:48%;float:right">
                                <div class="p+" s>
                                    <strong class="fs-headline display-block">Commentaires</strong>
                                    <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>
                                    <div class="paragraph fs-body-1 mt+" style="height:230px;" slimscroll="{height:230}">
                                        <ul style="padding-bottom:20px;margin-left: 0px;">
                                            <li class="list-row" ng-repeat="com in vm.data.comments | reverse">
                                                <div class="list-row__content">
                                                    <span class="display-block">{{com.text}}</span>
                                                    <span class="display-block fs-body-1 tc-black-2">{{com.date  |  date:"dd/MM/yy"}} - {{com.login}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__actions">
                                    <input style="border: 0;width:100%" type="text" placeholder="Commentaire..." ng-model="commentText" ng-enter="addComment()">
                                </div>
                            </div>
                        </div>
                        <div ng-if="data.id"class="card margin">
                            <div class="p+">
                                <strong ng-click="displayLIT = !displayLIT" class="fs-headline display-block">Litiges</strong>
                                <span class="fs-subhead tc-black-2 display-block">Liste des litiges</span>
                                <div class="paragraph fs-body-1 mt+" ng-if="displayLIT || vm.data.litiges.length">
                                    <div class="data-table-container">
                                        <table class="data-table data-table--has-primary data-table--has-secondary">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight:bold">Ajouté Par</th>
                                                    <th style="font-weight:bold">Date</th>
                                                    <th style="font-weight:bold">Description</th>
                                                    <th style="font-weight:bold">Réglé</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="products data-table__clickable-row" ng-repeat="litige in vm.data.litiges">
                                                    <td>
                                                        <span>{{litige.login}}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{litige.date |  date:"dd/MM/yy"}}</span>
                                                    </td>
                                                    <td>
                                                        <span style="white-space: pre;">{{litige.description}}</span>
                                                    </td>
                                                    <td>
                                                        <span> <md-checkbox style="padding-top: 0;" ng-model="litige.regle" >
                                   Réglé
                                </md-checkbox></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions" ng-if="displayLIT || vm.data.litiges.length">
                                <button ng-click="addLitige();" class="btn--no-conflicts btn--m btn--red btn--flat" lx-ripple>Ajouter</button>
                            </div>
                        </div>
                        <div class="card margin" ng-if="vm.data.date.verification">
                            <div class="p+">
                                <strong ng-click="smoothTransition(displaySAV)" class="fs-headline display-block">S.A.V</strong>
                                <span class="fs-subhead tc-black-2 display-block">Service Apres Ventes</span>
                                <div id="SAV" ng-style="savStyle" class="paragraph fs-body-1 mt+">
                                    <div class="data-table-container" ng-show="vm.data.sav.length || displaySAV">
                                        <table class="data-table data-table--has-primary data-table--has-secondary">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight:bold">Ajouté Par</th>
                                                    <th style="font-weight:bold">Date</th>
                                                    <th style="font-weight:bold">Description</th>
                                                    <th style="font-weight:bold">Artisan</th>
                                                    <th style="font-weight:bold">Status</th>
                                                    <th style="font-weight:bold">Modif</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="products data-table__clickable-row" ng-repeat="p in vm.data.sav" ng-init="p.sst = p.artisan.id || 0">
                                                    <td>
                                                        <span>{{p.login}}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{p.date |  date:"dd/MM/yy"}}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{p.description}}</span>
                                                    </td>
                                                    <td style="width:100px"><span><select ng-change="changeArtisan(p);" class="form-control" ng-model="p.sst" ng-options="sst.id as sst.n for sst in vm.artisans">
                                        </select></span>
                                                    </td>
                                                    <td>
                                                        <span ng-if="p.status === 'ENV'" style="width:90px" class="label orange"> Envoyé</span>
                                                        <span ng-if="p.status === 'OK'" style="width:90px" class="label green"> OK</span>
                                                    </td>
                                                    <td>
                                                        <lx-dropdown position="right" from-top>
                                                            <button class="btn--no-conflicts btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                                                <i class="mdi mdi-dots-vertical"></i>
                                                            </button>
                                                            <lx-dropdown-menu>
                                                                <ul>
                                                                    <li><a ng-click="p.status = 'ENV'" class="dropdown-link">Envoyer</a></li>
                                                                    <li><a ng-click="p.status = 'OK'" class="dropdown-link">Regler</a></li>
                                                                </ul>
                                                            </lx-dropdown-menu>
                                                        </lx-dropdown>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions" ng-if="vm.data.sav.length || displaySAV">
                                <button ng-click="addSAV();" class="btn--no-conflicts btn--m btn--orange btn--flat" lx-ripple>Ajouter</button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="fab" style="float: right;position: fixed;right: 70px;z-index: 999;top: 87%;">
                            <button ng-click="saveInter({})" class="fab__primary btn--no-conflicts btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Enregistrer" tooltip-position="top">
                                <i class="mdi" ng-class="vm.data.id ? 'mdi-camera-iris' : 'mdi-plus'"></i>
                                <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                            </button>
                            <div class="fab__actions fab__actions--left">
                                <button ng-show="vm.data.status === 'ENV'  && vm.data.reglementSurPlace" ng-click="saveInter({verification:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Verifier" tooltip-position="top"><i class="mdi mdi-check"></i></button>
                                 <button ng-show="vm.data.status === 'ENV' && !vm.data.reglementSurPlace" ng-click="calculPrixFinal();saveInter({verification:true, envoiFacture:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Envoyer facture + vérifier" tooltip-position="top"><i class="mdi mdi-check-all"></i></button>
                                <button ng-if="vm.data.status" ng-click="saveInter({annulation:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Annuler" tooltip-position="top"><i class="mdi mdi-close"></i></button>
                                <button ng-if="!vm.data.status || vm.data.status === 'ANN' || vm.data.status === 'APR' || vm.data.status === 'ENV'" ng-click="saveInter({envoi:true})" class="btn--no-conflicts btn--l btn--black btn--fab" lx-ripple lx-tooltip="Envoyer" tooltip-position="top"><i class="mdi mdi-send"></i></button>
                            </div>
                        </div>
                    </div>
