<div id="expended" ng-style="expendedStyle">
    <div class="row">
        <div class="col-sm-4 info-ext">
            <h4>Client</h4>
            <br>
            <p ng-if="data.ca"><strong>Annulation:</strong> {{::data.ca.long_name}}</p>
            <p><strong>Nom:</strong> {{::data.client.civilite}} {{::data.client.prenom}} {{::data.client.nom}}</p>
            <p><strong>Addresse:</strong> {{::data.client.address.n}} {{::data.client.address.r}} {{::data.client.address.cp}}, {{::data.client.address.v}}</p>
            <p><strong>Description:</strong> {{::data.description}}</p>
            <p><strong>Remarque:</strong> {{::data.remarque}}</p>
            <p><strong>Prix:</strong> {{::data.prixAnnonce || 0}} € | {{::data.prixFinal || 0}} €</p>
            <p>
                <a href="/{{model}}/{{inter.id}}"> <span style="width:100px" class="label grey darken-3"> Fiche</span></a>
            </p>
        </div>
        <div ng-if="model === 'intervention'" class="col-sm-4 info-ext">
            <div ng-if="data.artisan && data.artisan.id">
                <h4>Artisan</h4>
                <br>
                <p>
                    {{::data.artisan.nomSociete}}
                </p>
                <p>
                    <strong>Note:</strong> 7.6/10
                </p>
                <p>
                    Interventions réalisés: {{::data.artisanStats.total.total}}
                </p>
                <p>
                    Reglement en attente: {{::data.artisanStats.impaye.total}} ({{data.artisanStats.impaye.montant}} €)
                </p>
                <p>
                    <a href="/artisan/{{data.artisan.id}}"> <span style="width:100px" class="label grey darken-3"> Fiche</span></a>
                    <a href="/artisan/{{data.artisan.id}}/recap"><span style="width:100px" class="label grey darken-3"> Recap'</span></p></a>
            </div>
        </div>
        <div ng-if="model === 'devis'" class="col-sm-4 info-ext">
            <div>
                <h4>Produits</h4>
                <br>
                <p>
                   <strong> Nombre de produits : </strong> {{::data.produits.length}}
                </p>
                <p>
                   <strong>FlagShip : </strong> {{::data.flagship.title}}
                </p>
                <p>
                   <strong> Nombre de produits : </strong>{{::data.produits.length}}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <img ng-if="data.client.address " style="height: 194px;width: 411px;" ng-src="{{getStaticMap(data)}}" class="img-thumbnail" />
        </div>
    </div>
</div>
