<div>
    <div class="shadow-box listeInterventions">
        <table style="background:white;cursor:pointer" ng-table="vm.tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
            <tbody id="tbody-list">
                <tr data-id="{{devis.id}}" ng-repeat-start="devis in $data" ng-right-click="vm.rowRightClick($event, devis)" ng-click="vm.rowClick($event, devis, false)" ng-class="{success : vm.contextMenu.active && vm.contextMenu.data.id === devis.id}">
                    <td data-title="'Os'" sortable="'id'" filter="{ 'id': 'text' }">
                        <strong>{{devis.id}}</strong>
                    </td>
                    <td data-title="'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        {{::devis.t}}
                    </td>
                    <td data-title="'Cat.'" sortable="'c'" filter="{ 'cx': 'text' }">
                        <span style="width:80px" class="label {{::vm.config.categories[devis.c].color}}">{{devis.cx}}</span>
                    </td>
                    <td data-title="'Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
                        {{devis.da|relativeDate}}
                    </td>
                    <td variable-length data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
                        {{::devis.n}}
                    </td>
                    <td data-title="'CodeP'" sortable="'cp'" filter="{ 'cp': 'text' }">
                        {{::devis.cp}}
                    </td>
                    <td variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{::devis.ad}}
                    </td>
                    <td data-title="'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        {{::(devis.pa | number:2) || 0}} €
                    </td>
                     <td data-title="'E.'" sortable="'ev'" filter="{ 'ev': 'text' }">
                        <span style="width:30px" class="label {{config.colorEnvoisDevis(devis.ev)}}"><strong>{{::devis.ev}}</strong></span>
                    </td>
                    <td data-title="'Status'" sortable="'s'" filter="{ 'sx': 'text' }">
                        <span style="width:90px" class="label {{::vm.config.etatsDevis[devis.s].color}}"> 
                        {{::devis.sx}}</span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="expendedRow && expendedRow === devis.id"  ng-right-click="vm.rowRightClick($event, devis)" >
                    <td colspan="42" style="background-color:white!important">
                        <dropdown-row model="devis" row="devis" expendedRow="expendedRow"></dropdown-row>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style=" width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-repeat="item in vm.contextMenu.list" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">
                    <a class="dropdown-link" tabindex="0">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
