<div>
    <div class="shadow-box listeInterventions">
        <table style="background:white;cursor:pointer" ng-table="vm.tableParams" class="table table-bordered table-hover table-hover table-striped" id="table-list" show-filter="true">
            <tbody id="tbody-list">
                <tr data-id="{{inter.id}}" ng-repeat-start="inter in $data" ng-right-click="vm.rowRightClick($event, inter)" ng-click="vm.rowClick($event, inter, false)" ng-class="{success : vm.contextMenu.active && vm.contextMenu.data.id === inter.id}">
                    <td data-title="'Os'" sortable="'id'" filter="{ 'id': 'text' }">
                        <strong>{{inter.id}}</strong>
                    </td>
                    <td data-title="'Télépro'" sortable="'t'" filter="{ 't': 'text' }">
                        {{::inter.t}}
                    </td>
                    <td data-title="'Cat.'" sortable="'c'" filter="{ 'cx': 'text' }">
                        <span style="width:80px" class="label {{::vm.config.categories[inter.c].color}}">{{inter.cx}}</span>
                    </td>
                    <td data-title="'Date Ajout'" sortable="'da'" filter="{ 'da': 'text' }">
                        {{::inter.da | date:"dd/MM/yy" || ""}} {{::inter.da | date:"HH'h'mm" || ""}}
                    </td>
                    <td variable-length data-title="'Client'" sortable="'n'" filter="{ 'n': 'text' }">
                        {{::inter.n}}
                    </td>
                    <td variable-length data-title="'Code P.'" sortable="'cp'" filter="{ 'cp': 'text' }">
                        {{::inter.cp}}
                    </td>
                    <td variable-length data-title="'Ville'" sortable="'ad'" filter="{ 'ad': 'text' }">
                        {{::inter.ad}}
                    </td>
                    <td data-title="'Prix'" sortable="'pa'" filter="{ 'pa': 'text' }">
                        {{::(inter.pa | number:2) || 0}} €
                    </td>
                    <td data-title="'Status'" sortable="'s'" filter="{ 'sx': 'text' }">
                        <span style="width:90px" class="label {{::vm.config.etatsDevis[inter.s].color}}"> 
                        {{::inter.sx}}</span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="expendedRow && expendedRow === inter.id">
                    <td colspan="42" style="background-color:white!important">
                        <dropdown-row intervention="inter" expendedRow="expendedRow"></dropdown-row>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown-menu--no-conflicts dropdown-menu--right dropdown__menu--is-dropped" style=" width: auto; height: auto; opacity: 1;" ng-style="vm.contextMenu.style">
        <div class="dropdown-menu__content ng-scope">
            <ul class="ng-scope">
                <li ng-repeat="item in vm.contextMenu.list" ng-click="vm.contextMenu.close();vm.contextMenu.click(item)">
                    <a class="dropdown-link" tabindex="0">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
