<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="shadow-box" style="min-height:200px">
                <div style="padding:20px">
                <strong class="fs-headline display-block">Classement de la semaine</strong>
                    <table ng-table="vm.tableParams" class="table table-striped" show-filter="false">
                        <tr ng-repeat="user in $data" ng-class="{success:$index === 0}">
                            <td title="'Login'" sortable="'login'">
                                {{_.capitalize(user.login).slice(0, -2)}}
                            </td>
                            <td title="'Total'" sortable="'total'">
                                <strong>{{user.total}}</strong>
                            </td>
                            <td title="'Ajout.'" sortable="'ajout'">
                                {{user.ajout}}
                            </td>
                            <td title="'Envoi'" sortable="'envoi'">
                                {{user.envoi}}
                            </td>
                            <td title="'Verif'" sortable="'verif'">
                                {{user.verif}}
                            </td>
                            <td title="'€'" sortable="'sum'">
                                {{user.sum}}
                            </td>
                            <td title="'Ann.'" sortable="'annul'">
                                - {{user.annul}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="shadow-box" style="min-height:200px">
            </div>
        </div>
        <!--  <div class="shadow-box" style="min-height:1000px">
        <h1>Dashboard</h1>
        <table class="table">
            <tbody>
                <tr ng-repeat="(k, t) in vm.statsTelepro">
                    <td>{{k}}</td>
                    <td>{{t.enc.montant}}</td>
                    <td>{{t.enc.total}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="shadow-box" style="min-height:200px">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="shadow-box" style="min-height:200px">
            </div>
        </div>
    </div>
</div>
