<div>
    <div class="shadow-box listeInterventions">
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <span class="fs-title">{{vm.title}}</span>
                </div>
            </header>
            <table class="table">
                <!--                 <thead>
                    <tr class="data-table__selectable-row">
                        <th></th>
                        <th>Dessert (100g serving)</th>
                        <th>Calories</th>
                        <th>Fat (g)</th>
                        <th class="data-table__sortable-cell data-table__sortable-cell--desc">Carbs (g)</th>
                        <th>Protein (g)</th>
                        <th>Sodium (mg)</th>
                        <th>
                            <i class="mdi mdi-comment-text"></i>
                            <span>Comments</span>
                        </th>
                    </tr>
                </thead> -->
                <tbody ng-if="vm.type === 'paiement'">
                    <tr ng-repeat="remise in vm.data|orderBy:'-timestamp'">
                        <td>{{vm.moment(remise.timestamp).format('llll')}}</td>
                        <td><a target="_blank" href="/api/intervention/ecritureSST?d={{remise.timestamp}}" >Voir Ecriture</a></td>
                        <td><a target="_blank" href="/api/intervention/ecritureSST?d={{remise.timestamp}}&download=true" download >Telecharger Ecriture</a></td>
                        <td><a target="_blank" href="/compta/lpa?d={{remise.timestamp}}" >Flush History</a></td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.type !== 'paiement'">
                    <tr ng-repeat="remise in vm.data|orderBy:'-date'">
                        <td>{{vm.moment(remise.date).format('MMMM YYYY');}}</td>
                        <td><a target="_blank" href="/api/intervention/ecritureReglements?m={{remise._id.mth}}&y={{remise._id.yr}}" >Voir Ecriture </a></td>
                        <td><a target="_blank" href="/api/intervention/ecritureReglements?m={{remise._id.mth}}&y={{remise._id.yr}}&download=true" download >Telecharger Ecriture</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
